@font-face {
    font-family: 'Mont';
    src: url('../../fonts/Mont/Mont-Bold/Mont-Bold.woff2') format('woff2'),
        url('../../fonts/Mont/Mont-Bold/Mont-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../../fonts/Mont/Mont-Light/Mont-Light.woff2') format('woff2'),
        url('../../fonts/Mont/Mont-Light/Mont-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../../fonts/Mont/Mont-Regular/Mont-Regular.woff2') format('woff2'),
        url('../../fonts/Mont/Mont-Regular/Mont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../../fonts/Mont/Mont-SemiBold/Mont-SemiBold.woff2') format('woff2'),
        url('../../fonts/Mont/Mont-SemiBold/Mont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

