<div class="page-wrapper page-wrapper--404">
    <!--  Place for header  -->
    <div class="main page-wrapper__content not-found">
        <div class="not-found__wrapper">
            <div class="not-found__content">
                <p class="not-found__title">
                    404
                </p>
                <p class="title title--white title--small">Ой-ой тут темний ліс, сюди не лізь!</p>
                <a href="#" class="not-found__button button button--middle button--orange button--full">На Головну</a>
            </div>
        </div>
    </div>
</div>
