@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
    url('../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SF Pro Display';
    src: url('../../fonts/Montserrat/Montserrat-Semibold/Montserrat-Semibold.eot');
    src: url('../../fonts/Montserrat/Montserrat-Semibold/Montserrat-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat/Montserrat-Semibold/Montserrat-Semibold.woff2') format('woff2'),
        url('../../fonts/Montserrat/Montserrat-Semibold/Montserrat-Semibold.woff') format('woff'),
        url('../../fonts/Montserrat/Montserrat-Semibold/Montserrat-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('../../fonts/DrukWide/DrukWide.eot');
    src: url('../../fonts/DrukWide/DrukWide.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/DrukWide/DrukWide.woff2') format('woff2'),
        url('../../fonts/DrukWide/DrukWide.woff') format('woff'),
        url('../../fonts/DrukWide/DrukWide.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Text Wide';
    src: url('../../fonts/DrukTextWide/DrukTextWide.eot');
    src: url('../../fonts/DrukTextWide/DrukTextWide.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/DrukTextWide/DrukTextWide.woff2') format('woff2'),
        url('../../fonts/DrukTextWide/DrukTextWide.woff') format('woff'),
        url('../../fonts/DrukTextWide/DrukTextWide.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

