<div class="order">
    <div class="order-list">
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-item order-item--work">
            <div class="order-item__wrapper">
                <div class="order-item__header">
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="order-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="order-item__block">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text">
                            11:01:48
                        </div>
                    </div>
                    <div class="order-item__block order-item__block--full">
                        <div class="order-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="order-item__text"
                             data-percent="56%">
                            <div class="order-item__row"
                                 style="width: calc(56% + 20px + 20%)"></div>
                        </div>
                    </div>

                </div>
                <div class="order-item__content">
                    <div class="order-item__info">
                        <div class="order-item__status">
                            <p class="title title--tiny title--bold">
                                В Роботі
                            </p>
                        </div>
                        <div class="order-item__description">
                            <p class="title title--middle title--white">
                                MMR Boost
                            </p>
                            <p class="text text--base text--white">
                                1250 - 3270
                            </p>
                        </div>
                        <div class="order-item__footer">
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Бан Часу</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Турбо Режим</p>
                            </div>
                            <div class="order-item__tag">
                                <p class="title title--tiny title--bold title--white">
                                    Офлайн Режим</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>