<div class="blog-grid">
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
    <div class="blog-card">
        <a href="#" class="blog-card__wrapper">
            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
            <div class="blog-card__content">
                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                <p class="blog-card__title title title--small title--white">Оголошено нового
                    героя в Dota
                    2!</p>
                <p class="blog-card__text text text--base text--white">
                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                    amet.
                </p>
            </div>
        </a>
    </div>
</div>