<div class="page-wrapper page-wrapper--blog">
    <div class="main page-wrapper__content blog">
        <div class="blog__header">
            <div class="blog-card">
                <div class="blog-card__wrapper blog-card__wrapper--big">
                    <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                    <div class="container">
                        <div class="blog-card__content blog-card__content--gap--big">
                            <div class="blog-card__header">
                                <p class="title title--small title--grey">24 червня 2023р.</p>
                                <div class="blog-card__tag">
                                    <p class="title title--small title--white">
                                        Закріплений блог
                                    </p>
                                </div>
                            </div>
                            <p class="title title--base title--white">
                                The International 2023 Live Event Broadcast RFP and Broadcast License
                            </p>
                            <a href="#" class="button button--middle button--black--light blog-card__button">
                                Детальніше

                                <svg class="icon icon--arrow--left">
                                    <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__content">
            <div class="container">
                <div class="blog-grid">
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="blog-card">
                        <a href="#" class="blog-card__wrapper">
                            <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                            <div class="blog-card__content">
                                <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                <p class="blog-card__title title title--small title--white">Оголошено нового
                                    героя в Dota
                                    2!</p>
                                <p class="blog-card__text text text--base text--white">
                                    Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                    amet.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="blog__footer">
                    <div class="blog-pagination">
                        <ul class="blog-pagination__list">
                            <li class="blog-pagination__item current">
                                <a href="#" class="blog-pagination__link">1</a>
                            </li>
                            <li class="blog-pagination__item">
                                <a href="#" class="blog-pagination__link">2</a>
                            </li>
                            <li class="blog-pagination__item">
                                <a href="#" class="blog-pagination__link">3</a>
                            </li>
                            <li class="blog-pagination__item">
                                <a href="#" class="blog-pagination__link">4</a>
                            </li>
                            <li class="blog-pagination__item">
                                <a href="#" class="blog-pagination__link">5</a>
                            </li>
                            <li class="blog-pagination__item blog-pagination__item--arrow">
                                <a href="#" class="blog-pagination__link">
                                    <svg class="icon icon--arrow--left">
                                        <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>