:root{
    --main-font:'Unbounded', sans-serif;
}


body{
    font-family: var(--main-font);
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__wrapper{
    background: #171e96;
    padding: 140px 0;
    min-height: 100svh;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.hero__logo{
    width: 175px;
    height: 40px;

    margin: 0 auto;
}

.hero-title{
    width: max-content;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hero-title__header{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-title__text{
    font-size: 184px;
    line-height: .75;
    font-weight: 500;
    color: #fff;

    text-transform: uppercase;
}

.hero-title__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-title__footer{
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 60px;
}

.hero-title__plus{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.hero-title__year{
    padding: 20px;
    box-shadow: 0 0 29px 0 rgba(255, 255, 255, 0.21);
    background: #DDFF53;
    border-radius: 12px;

    font-size: 74px;
    line-height: .85;
    font-weight: 300;
    color: #000;
}