@font-face {
  font-family: "Uni Sans";
  src: url("../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff2") format("woff2"), url("../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 16px;
  min-height: 100vh;
  background: #D7232A;
}

.box {
  overflow: hidden;
}
.box__content.hidden, .box__result.hidden {
  display: none;
}
.box[data-step="1"] .box__logo, .box[data-step="2"] .box__logo {
  transform: scale(2) translateY(100px);
}
.box[data-step="1"] .box__text, .box[data-step="2"] .box__text {
  animation: textAnimate 0.5s forwards;
}
.box[data-step="1"] .box__content-wrapper::before, .box[data-step="2"] .box__content-wrapper::before {
  filter: blur(15px);
}
.box[data-step="1"] .box__cookie-item, .box[data-step="2"] .box__cookie-item {
  pointer-events: none;
}
.box[data-step="1"] .box__cookie-item.active, .box[data-step="2"] .box__cookie-item.active {
  pointer-events: auto;
}
.box__wrapper {
  background-color: #D7232A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 12px;
}
.box__border {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
}
.box__border-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box__border-img-mobile {
  display: none;
}
.box__content {
  max-width: 1420px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.box__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s filter linear;
}
.box__content-wrapper {
  padding: 50px 12px 50px 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.box__content-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 6px);
  background: url("../img/background.png") center center/contain no-repeat;
  transition: 0.5s filter;
}
.box__content-block {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.box__content-block.hidden {
  display: none;
}
.box__coffee {
  background: url("../img/box-coffee.png") left bottom/contain no-repeat;
  position: relative;
  z-index: 5;
  width: 900px;
  height: 100%;
  flex-shrink: 0;
}
.box__logo {
  width: auto;
  height: calc(80px + 50 * (100vw - 1100px) / 320);
  transition: 0.5s all linear;
}
.box__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box__info {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(calc(-250px + 50 * (100vw - 1100px) / 320));
}
.box__text {
  width: calc(380px + 152 * (100vw - 1100px) / 320);
  height: 321px;
  flex-shrink: 0;
  background: url("../img/box-text-bg.png") center center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 63px;
  transition: 0.5s all linear;
}
.box__text-label {
  max-width: 407px;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 10 * (100vw - 1100px) / 320);
  line-height: 1.13;
  text-align: center;
  color: #000000;
}
.box__cookie {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 0 70px;
}
.box__cookie-item {
  position: absolute;
  transition: 0.5s all;
}
.box__cookie-item.active {
  z-index: 10;
}
.box__cookie-item_style-first {
  left: 70px;
  bottom: 20px;
}
.box__cookie-item_style-second {
  left: 210px;
  bottom: 60px;
}
.box__cookie-item_style-third {
  left: 340px;
  bottom: 50px;
  z-index: 4;
}
.box__cookie-item_style-fourth {
  left: 380px;
  bottom: 100px;
  z-index: 1;
}
.box__cookie-item_style-fifth {
  left: 470px;
  bottom: 70px;
  z-index: 5;
}
.box__cookie-item_style-six {
  left: 270px;
  bottom: 110px;
  z-index: 1;
}
.box__result {
  max-width: 960px;
  flex-shrink: 0;
  width: 100%;
  margin: 100px 0 0 0;
  position: relative;
}
.box__result.hidden {
  display: none;
}
.box__result-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 0 0 150px 0;
}
.box-result__logo {
  position: absolute;
  top: -100px;
  left: calc(50% - 150px);
  z-index: 10;
  padding: 0 30px;
  background: #D7232A;
}
.box-result__logo-img {
  width: 283px;
  height: 160px;
  object-fit: contain;
}
.box-result__prediction {
  background: url("../img/prediction.png") center center/contain no-repeat;
  width: 640px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-result__prediction-text {
  max-width: 250px;
  height: 50px;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  transform: rotate(-7.61deg) translateY(-40px) translateX(-10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-result__footer {
  margin: 30px 0 0 0;
}
.box-result__salute {
  position: absolute;
  z-index: 1;
}
.box-result__salute-first {
  width: 370px;
  height: 370px;
  left: -150px;
  top: -150px;
}
.box-result__salute-second {
  width: 240px;
  height: 240px;
  left: 0;
  bottom: -80px;
}
.box-result__salute-second .salute__item:nth-child(1) {
  animation-delay: 0.5s;
}
.box-result__salute-second .salute__item:nth-child(2) {
  animation-delay: 0.7s;
}
.box-result__salute-second .salute__item:nth-child(3) {
  animation-delay: 0.9s;
}
.box-result__salute-second .salute__item:nth-child(4) {
  animation-delay: 1.1s;
}
.box-result__salute-second .salute__item:nth-child(5) {
  animation-delay: 1.3s;
}
.box-result__salute-third {
  width: 280px;
  height: 280px;
  left: unset;
  right: -100px;
  bottom: 60px;
}
.box-result__salute-third .salute__item:nth-child(1) {
  animation-delay: 1.8s;
}
.box-result__salute-third .salute__item:nth-child(2) {
  animation-delay: 2s;
}
.box-result__salute-third .salute__item:nth-child(3) {
  animation-delay: 2.2s;
}
.box-result__salute-third .salute__item:nth-child(4) {
  animation-delay: 2.4s;
}
.box-result__salute-third .salute__item:nth-child(5) {
  animation-delay: 2.6s;
}
.box-result__share {
  width: 418px;
  height: 200px;
  position: absolute;
  left: calc(50% - 209px);
  bottom: -80px;
  background: url("../img/share.png") center center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie__wrapper {
  position: relative;
}
.cookie__img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s all linear;
}
.cookie__img:hover {
  cursor: pointer;
}
.cookie__img-zip {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 143px;
  display: block;
  transform: scale(0);
  transition: 0.5s all linear;
}
.cookie__img-zip::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/icons/zip.svg") center center/contain no-repeat;
  z-index: 3;
}
.cookie__img::before {
  content: "";
  position: absolute;
  z-index: 1;
  transform: scale(0);
  top: calc(50% - 185px);
  left: calc(50% - 160px);
  width: 320px;
  height: 370px;
  background-image: url("../img/cookie/1-bg.png");
  transition: 0.5s all;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.cookie__img-item {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s transform linear;
}
.cookie__img_style-first {
  width: 130px;
  height: 130px;
}
.cookie__img_style-first .cookie__img-zip {
  top: -20px;
  left: calc(50% - 25px);
}
.cookie__img_style-first .cookie__img-zip::before {
  background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
}
.cookie__img_style-first .cookie-beam__item:nth-child(1) {
  right: 41px;
  left: unset;
  top: unset;
  bottom: 0;
}
.cookie__img_style-first .cookie-beam__item:nth-child(2) {
  left: unset;
  right: 20px;
  top: -50px;
  transform: rotate(59deg);
}
.cookie__img_style-first .cookie-beam__item:nth-child(3) {
  left: -5px;
  right: unset;
  top: -35px;
  transform: rotate(145deg);
}
.cookie__img_style-first.cookie__img_step-first img {
  transform: scale(1.53);
}
.cookie__img_style-second {
  width: 130px;
  height: 142px;
}
.cookie__img_style-second.cookie__img_step-first img {
  transform: scale(1.53);
}
.cookie__img_style-second .cookie__img-zip {
  top: 20px;
  left: -5px;
  background: url("../img/icons/zip.svg") center center/contain no-repeat;
}
.cookie__img_style-second .cookie-beam__item:nth-child(1) {
  right: 30px;
  left: unset;
  top: 10px;
  bottom: 0;
  transform: rotate(45deg);
}
.cookie__img_style-second .cookie-beam__item:nth-child(2) {
  left: 45px;
  right: unset;
  top: 50px;
  transform: rotate(-160deg);
}
.cookie__img_style-second .cookie-beam__item:nth-child(3) {
  left: 0;
  right: unset;
  top: -75px;
  transform: rotate(145deg);
}
.cookie__img_style-third {
  width: 120px;
  height: 116px;
}
.cookie__img_style-third.cookie__img_step-first img {
  transform: scale(1.75);
}
.cookie__img_style-third .cookie__img-zip {
  left: 0;
  top: -5px;
}
.cookie__img_style-third .cookie__img-zip::before {
  background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
}
.cookie__img_style-third .cookie-beam__item:nth-child(1) {
  right: 60px;
  left: unset;
  top: unset;
  bottom: 0;
}
.cookie__img_style-third .cookie-beam__item:nth-child(2) {
  left: unset;
  right: 30px;
  top: -60px;
  transform: rotate(59deg);
}
.cookie__img_style-third .cookie-beam__item:nth-child(3) {
  left: 5px;
  right: unset;
  top: -50px;
  transform: rotate(145deg);
}
.cookie__img_style-fourth {
  width: 132px;
  height: 143px;
}
.cookie__img_style-fourth.cookie__img_step-first img {
  transform: scale(1.62);
}
.cookie__img_style-fourth .cookie__img-zip {
  left: 10px;
  bottom: -30px;
}
.cookie__img_style-fourth .cookie__img-zip::before {
  background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
}
.cookie__img_style-fourth .cookie-beam__item:nth-child(1) {
  right: 45px;
  left: unset;
  top: unset;
  bottom: 0;
}
.cookie__img_style-fourth .cookie-beam__item:nth-child(2) {
  left: unset;
  right: 25px;
  top: -55px;
  transform: rotate(59deg);
}
.cookie__img_style-fourth .cookie-beam__item:nth-child(3) {
  left: 0;
  right: unset;
  top: -45px;
  transform: rotate(145deg);
}
.cookie__img_style-fifth {
  width: 140px;
  height: 140px;
}
.cookie__img_style-fifth.cookie__img_step-first img {
  transform: scale(1.42);
}
.cookie__img_style-fifth .cookie__img-zip {
  right: 25px;
  top: -15px;
}
.cookie__img_style-fifth .cookie__img-zip::before {
  background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
}
.cookie__img_style-fifth .cookie-beam__item:nth-child(1) {
  right: 30px;
  left: unset;
  top: 80px;
  bottom: 0;
}
.cookie__img_style-fifth .cookie-beam__item:nth-child(2) {
  left: unset;
  right: 15px;
  top: -45px;
  transform: rotate(59deg);
}
.cookie__img_style-fifth .cookie-beam__item:nth-child(3) {
  left: -10px;
  right: unset;
  top: -30px;
  transform: rotate(145deg);
}
.cookie__img_style-six {
  width: 140px;
  height: 140px;
}
.cookie__img_style-six.cookie__img_step-first img {
  transform: scale(1.36);
}
.cookie__img_style-six .cookie__img-zip {
  left: 0px;
  top: -15px;
  background: url("../img/icons/zip.svg") center center/contain no-repeat;
}
.cookie__img_style-six .cookie-beam__item:nth-child(1) {
  right: 20px;
  left: unset;
  top: 10px;
  bottom: 0;
  transform: rotate(45deg);
}
.cookie__img_style-six .cookie-beam__item:nth-child(2) {
  left: 35px;
  right: unset;
  top: 45px;
  transform: rotate(-160deg);
}
.cookie__img_style-six .cookie-beam__item:nth-child(3) {
  left: -10px;
  right: unset;
  top: -60px;
  transform: rotate(145deg);
}
.cookie__img_step-first::before {
  transform: scale(1);
  opacity: 1;
}
.cookie__img_step-second::before {
  width: 688px;
  height: 612px;
  top: calc(50% - 306px);
  left: calc(50% - 344px);
  background: url("../img/cookie/1-bg-big.png") center center/contain no-repeat;
}
.cookie__img_step-second .cookie-beam__item {
  opacity: 1;
}
.cookie__img_step-second .cookie__img-zip, .cookie__img_step-second::before {
  transform: scale(1);
}
.cookie__tip {
  position: absolute;
  top: -125px;
  left: 125px;
  opacity: 0;
  z-index: -1;
  display: none;
}
.cookie__tip.active {
  opacity: 1;
  z-index: 12;
  display: block;
  transform: scale(0);
  animation: tipShow 0.5s linear forwards;
}
.cookie-tip__wrapper {
  width: 175px;
  padding: 15px 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  position: relative;
}
.cookie-tip__wrapper::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 75px;
  height: 75px;
  display: block;
  background: url("../img/icons/cursor.png") center center/contain no-repeat;
  animation: tipAnimate 3s linear infinite;
}
.cookie-tip__text {
  font-family: "Uni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.cookie-beam__item {
  width: 180px;
  height: 56px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.5s all linear;
}
.cookie-beam__item:nth-child(1) {
  transition-delay: 0.1s;
}
.cookie-beam__item:nth-child(2) {
  transition-delay: 0.2s;
}
.cookie-beam__item:nth-child(3) {
  transition-delay: 0.3s;
}
.cookie-beam__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-download {
  -webkit-appearance: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 54px;
  background: linear-gradient(90deg, #DE9B41 0%, #FFDDA5 71.88%, #E7AA58 98.96%);
  border-radius: 30px;
  font-family: "Uni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #AE2419;
  position: relative;
}
.button-download::before {
  content: "";
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 65px);
  width: 128px;
  height: 48px;
  display: block;
  border: 1px solid #D72328;
  border-radius: 60px;
}

.salute {
  position: relative;
  width: 100%;
  height: 100%;
}
.salute__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: salute 1s linear forwards;
}
.salute__item:nth-child(1) {
  animation-delay: 0s;
}
.salute__item:nth-child(2) {
  animation-delay: 0.2s;
}
.salute__item:nth-child(3) {
  animation-delay: 0.4s;
}
.salute__item:nth-child(4) {
  animation-delay: 0.6s;
}
.salute__item:nth-child(5) {
  animation-delay: 0.8s;
}
.salute__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 54px));
  grid-auto-rows: 54px;
  gap: 20px;
}
.share-list__link {
  display: block;
  width: 100%;
  height: 100%;
}
.share-list__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 1420px) {
  .box__logo {
    height: 130px;
  }
  .box__info {
    transform: translateX(-200px);
  }
  .box__text {
    width: 532px;
  }
  .box__text-label {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .box[data-step="1"] .box__logo, .box[data-step="2"] .box__logo {
    transform: translateY(20px);
    width: 260px;
  }
  .box__border-img-desktop {
    display: none;
  }
  .box__border-img-mobile {
    display: block;
  }
  .box__cookie {
    padding: 0;
  }
  .box__cookie-item_style-second {
    left: 36px;
    bottom: 20px;
  }
  .box__cookie-item_style-third {
    left: 120px;
    bottom: 10px;
    z-index: 4;
  }
  .box__cookie-item_style-fourth {
    left: 140px;
    bottom: 45px;
    z-index: 1;
  }
  .box__cookie-item_style-fifth {
    left: 195px;
    bottom: 30px;
    z-index: 5;
  }
  .box__cookie-item_style-six {
    left: 70px;
    bottom: 50px;
    z-index: 1;
  }
  .box__coffee {
    width: 100%;
    height: 261px;
    background: url("../img/box-coffee-m.png") left bottom/contain no-repeat;
  }
  .box__wrapper {
    align-items: flex-start;
    justify-content: center;
  }
  .box__text {
    padding: 0;
    background: url("../img/box-text-bg-m.png") center center/contain no-repeat;
    height: 240px;
  }
  .box__text-label {
    font-size: 24px;
    line-height: 26px;
    max-width: 245px;
    width: 100%;
  }
  .box__content {
    max-width: 350px;
    height: 721px;
  }
  .box__content-wrapper {
    padding: 40px 10px 70px 10px;
  }
  .box__content-wrapper::before {
    background: url("../img/bg-m.png") center center/contain no-repeat;
  }
  .box__content-block {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .box__wrapper {
    overflow: hidden;
  }
  .box__info {
    transform: translateX(0);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }
  .box__logo {
    height: auto;
    width: 100px;
  }
  .box__logo-img {
    object-position: right center;
  }
  .box__text {
    width: 100%;
  }
  .box__result {
    max-width: 350px;
    margin: auto;
  }
  .box__result-wrapper {
    padding: 40px 0 0 0;
    justify-content: flex-start;
    align-items: center;
  }
  .box-result__logo {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    background: transparent;
  }
  .box-result__logo-img {
    height: auto;
  }
  .box-result__prediction {
    width: 467px;
    height: 167px;
  }
  .box-result__prediction-text {
    font-size: 12px;
    line-height: 12px;
    max-width: 190px;
    transform: rotate(-7.61deg) translateY(-25px) translateX(-5px);
  }
  .box-result__salute-first {
    width: 210px;
    height: 210px;
    top: -130px;
    left: 0px;
  }
  .box-result__salute-third {
    display: none;
  }
  .box-result__salute-second {
    width: 204px;
    height: 204px;
    bottom: -100px;
    left: calc(50% - 102px);
  }
  .box-result__footer {
    margin: 0;
  }
  .box-result__share {
    width: 300px;
    height: 143px;
    left: calc(50% - 150px);
    bottom: 40px;
    background: url("../img/share-m.png") center center/contain no-repeat;
  }

  .share-list {
    grid-template-columns: repeat(3, minmax(0, 40px));
    grid-auto-rows: 40px;
    gap: 15px;
  }

  .cookie__tip {
    left: unset;
    right: 0;
    top: 100px;
  }
  .cookie__tip.active {
    display: none;
  }
  .cookie__img::before {
    left: calc(50% - 130px);
    top: calc(50% - 115px);
    width: 260px;
    height: 230px;
    background: url("../img/cookie/1-bg-m.png");
  }
  .cookie__img_style-first {
    display: none;
  }
  .cookie__img_style-second {
    width: 78px;
    height: 84px;
  }
  .cookie__img_style-second.cookie__img_step-first img {
    transform: scale(1.53);
  }
  .cookie__img_style-second .cookie__img-zip {
    top: 0;
    left: -5px;
    background: url("../img/icons/zip.svg") center center/contain no-repeat;
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(1) {
    right: 20px;
    left: unset;
    top: 5px;
    bottom: 0;
    transform: rotate(45deg);
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(2) {
    left: 30px;
    right: unset;
    top: 30px;
    transform: rotate(-160deg);
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(3) {
    left: 0;
    right: unset;
    top: -45px;
    transform: rotate(145deg);
  }
  .cookie__img_style-third {
    width: 70px;
    height: 70px;
  }
  .cookie__img_style-third.cookie__img_step-first img {
    transform: scale(1.75);
  }
  .cookie__img_style-third .cookie__img-zip {
    left: 0;
    top: -5px;
  }
  .cookie__img_style-third .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(1) {
    right: 35px;
    left: unset;
    top: unset;
    bottom: 0;
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 20px;
    top: -40px;
    transform: rotate(59deg);
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(3) {
    left: 4px;
    right: unset;
    top: -32px;
    transform: rotate(145deg);
  }
  .cookie__img_style-fourth {
    width: 78px;
    height: 84px;
  }
  .cookie__img_style-fourth.cookie__img_step-first img {
    transform: scale(1.62);
  }
  .cookie__img_style-fourth .cookie__img-zip {
    left: -10px;
    bottom: -10px;
  }
  .cookie__img_style-fourth .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(1) {
    right: 30px;
    left: unset;
    top: unset;
    bottom: 0;
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 15px;
    top: -33px;
    transform: rotate(59deg);
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(3) {
    left: 0;
    right: unset;
    top: -30px;
    transform: rotate(145deg);
  }
  .cookie__img_style-fifth {
    width: 82px;
    height: 82px;
  }
  .cookie__img_style-fifth.cookie__img_step-first img {
    transform: scale(1.42);
  }
  .cookie__img_style-fifth .cookie__img-zip {
    right: 10px;
    top: -10px;
  }
  .cookie__img_style-fifth .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(1) {
    right: 20px;
    left: unset;
    top: 50px;
    bottom: 0;
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 8px;
    top: -28px;
    transform: rotate(59deg);
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(3) {
    left: -5px;
    right: unset;
    top: -20px;
    transform: rotate(145deg);
  }
  .cookie__img_style-six {
    width: 82px;
    height: 82px;
  }
  .cookie__img_style-six.cookie__img_step-first img {
    transform: scale(1.36);
  }
  .cookie__img_style-six .cookie__img-zip {
    left: 0px;
    top: -5px;
    background: url("../img/icons/zip.svg") center center/contain no-repeat;
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(1) {
    right: 15px;
    left: unset;
    top: 5px;
    bottom: 0;
    transform: rotate(45deg);
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(2) {
    left: 20px;
    right: unset;
    top: 25px;
    transform: rotate(-160deg);
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(3) {
    left: -5px;
    right: unset;
    top: -40px;
    transform: rotate(145deg);
  }
  .cookie__img_step-second::before {
    width: 260px;
    height: 231px;
    top: calc(50% - 130px);
    left: calc(50% - 115.5px);
    background: url("../img/cookie/1-bg-big-m.png") center center/contain no-repeat;
  }
  .cookie__img-zip {
    width: 20px;
    height: 90px;
  }
  .cookie-tip__wrapper {
    width: 220px;
  }
  .cookie-tip__wrapper::before {
    bottom: unset;
    left: calc(50% - 37.5px);
    top: -60px;
    transform: rotate(130deg);
    animation: unset;
  }
  .cookie-tip__text {
    font-size: 18px;
    line-height: 22px;
  }
  .cookie-beam__item {
    width: 115px;
    height: 35px;
  }
}
.share-desktop__wrapper {
  width: 1024px;
  height: 630px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D7232A;
}
.share-desktop__border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.share-desktop__border img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.share-desktop__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.share-desktop__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.share-desktop__content {
  width: 950px;
  height: 545px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 40px 0;
}
.share-desktop__title {
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  max-width: 305px;
  position: relative;
  z-index: 4;
}
.share-desktop__logo {
  position: absolute;
  width: 287px;
  height: 142px;
  top: 30px;
  left: calc(50% - 125px);
}
.share-desktop__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.share-desktop__description {
  width: 637px;
  height: 245px;
  position: relative;
  z-index: 4;
}
.share-desktop__description-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-position: center center;
  object-fit: contain;
  z-index: 4;
}
.share-desktop__description-text {
  position: absolute;
  z-index: 5;
  left: calc(50% - 125px);
  top: calc(50% - 25px);
  width: 250px;
  height: 50px;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  transform: rotate(-7.61deg) translateY(-40px) translateX(-10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes tipAnimate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes textAnimate {
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;
    visibility: hidden;
  }
}
@keyframes tipHide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes tipShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes salute {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=stlye.css.map */
