@font-face {
  font-family: "Uni Sans";
  src: url("../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff2") format("woff2"), url("../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 16px;
  min-height: 100vh;
  background: #D7232A;
}

.box {
  overflow: hidden;
}
.box__content.hidden, .box__result.hidden {
  display: none;
}
.box__result {
  animation: tipShow forwards 1s;
  position: relative;
}
.box__result::before {
  content: "";
  width: 658px;
  height: 588px;
  left: calc(50% - 329px);
  top: -115px;
  position: absolute;
  background: url("../img/bg-result.png");
  animation: pulse 2s linear infinite;
}
.box[data-step="1"] .box__logo, .box[data-step="2"] .box__logo, .box[data-step="3"] .box__logo {
  transform: scale(2) translateY(100px);
}
.box[data-step="1"] .box__text, .box[data-step="2"] .box__text, .box[data-step="3"] .box__text {
  animation: textAnimate 0.5s forwards;
}
.box[data-step="1"] .box__content-wrapper::before, .box[data-step="2"] .box__content-wrapper::before, .box[data-step="3"] .box__content-wrapper::before {
  filter: blur(15px);
}
.box[data-step="2"] .box__cookie-item, .box[data-step="3"] .box__cookie-item {
  pointer-events: none;
}
.box[data-step="2"] .box__cookie-item.active, .box[data-step="3"] .box__cookie-item.active {
  pointer-events: auto;
}
.box__wrapper {
  background-color: #D7232A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 12px;
}
.box__border {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
}
.box__border-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box__border-img-mobile {
  display: none;
}
.box__content {
  max-width: 1420px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.box__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s filter linear;
}
.box__content-wrapper {
  padding: 50px 12px 50px 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.box__content-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 6px);
  background: url("../img/background.png") center center/contain no-repeat;
  transition: 0.5s filter;
}
.box__content-block {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.box__content-block.hidden {
  display: none;
}
.box__coffee {
  background: url("../img/box-coffee.png") left bottom/contain no-repeat;
  position: relative;
  z-index: 5;
  width: 810px;
  height: 100%;
  flex-shrink: 0;
}
.box__logo {
  width: auto;
  height: calc(80px + 50 * (100vw - 1100px) / 320);
  transition: 0.5s all linear;
}
.box__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box__info {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(calc(-150px + 100 * (100vw - 1100px) / 320));
  width: calc(380px + 152 * (100vw - 1100px) / 320);
  flex-shrink: 0;
}
.box__text {
  width: 0;
  height: 321px;
  flex-shrink: 0;
  background: url("../img/box-text-bg.png") center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 63px;
  transition: 0.5s all linear;
  position: relative;
  overflow: hidden;
  animation: scroll 1s linear forwards;
  animation-delay: 0s;
}
.box__text::before, .box__text::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  display: block;
  background: url("../img/scroll.png") center center/contain no-repeat;
}
.box__text::before {
  left: calc(50% - 65px);
  animation: scrollLeft 0.2s 0s linear forwards;
}
.box__text::after {
  right: calc(50% - 65px);
  animation: scrollRight 0.2s 0s linear forwards;
}
.box__text-label {
  width: calc(310px + 97 * (100vw - 1100px) / 320);
  flex-shrink: 0;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 10 * (100vw - 1100px) / 320);
  line-height: 1.13;
  text-align: center;
  color: #000000;
}
.box__cookie {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 0 70px;
}
.box__cookie-item {
  position: absolute;
  transition: 0.5s all;
}
.box__cookie-item.active {
  z-index: 10;
}
.box__cookie-item.draggable {
  animation: draggable 0.5s linear infinite;
}
.box__cookie-item_style-first {
  width: 130px;
  height: 130px;
  left: 70px;
  bottom: 20px;
}
.box__cookie-item_style-second {
  width: 130px;
  height: 142px;
  left: 210px;
  bottom: 60px;
}
.box__cookie-item_style-third {
  width: 120px;
  height: 116px;
  left: 340px;
  bottom: 50px;
  z-index: 4;
}
.box__cookie-item_style-fourth {
  width: 132px;
  height: 143px;
  left: 380px;
  bottom: 100px;
  z-index: 1;
}
.box__cookie-item_style-fifth {
  width: 140px;
  height: 140px;
  left: 470px;
  bottom: 70px;
  z-index: 5;
}
.box__cookie-item_style-six {
  width: 140px;
  height: 140px;
  left: 270px;
  bottom: 110px;
  z-index: 1;
}
.box__result {
  max-width: 960px;
  flex-shrink: 0;
  width: 100%;
  margin: 100px 0 0 0;
  position: relative;
}
.box__result.hidden {
  display: none;
}
.box__result-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 0 0 150px 0;
}
.box__tip {
  position: absolute;
  right: 200px;
  bottom: 300px;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  animation: showTable 1s 1.5s linear forwards;
}
.box__init {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 10;
}
.box-init__img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.box-init__img:hover {
  cursor: pointer;
}
.box-result__logo {
  position: absolute;
  top: -100px;
  left: calc(50% - 150px);
  z-index: 10;
  padding: 0 30px;
}
.box-result__logo-img {
  width: 283px;
  height: 160px;
  object-fit: contain;
}
.box-result__prediction {
  background: url("../img/prediction.png") center center/contain no-repeat;
  width: 640px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-result__prediction-text {
  max-width: 250px;
  height: 100px;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  transform: rotate(-7.61deg) translateY(-30px) translateX(-10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-result__footer {
  margin: 30px 0 0 0;
}
.box-result__salute {
  position: absolute;
  z-index: 1;
}
.box-result__salute-first {
  width: 370px;
  height: 370px;
  left: -150px;
  top: -150px;
}
.box-result__salute-second {
  width: 240px;
  height: 240px;
  left: 0;
  bottom: -80px;
}
.box-result__salute-third {
  width: 280px;
  height: 280px;
  left: unset;
  right: -100px;
  bottom: 60px;
}
.box-result__share {
  width: 418px;
  height: 200px;
  position: absolute;
  left: calc(50% - 209px);
  bottom: -80px;
  background: url("../img/share.png") center center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie__wrapper {
  position: relative;
}
.cookie__img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s transform linear;
}
.cookie__img::after {
  content: "";
  position: absolute;
  z-index: 1;
  transform: scale(0);
  top: calc(50% - 268px);
  left: calc(50% - 297px);
  width: 594px;
  height: 536px;
  display: block;
  background-image: url("../img/cookie/1-bg.png");
  transition: 0.5s all;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}
.cookie__img:hover {
  cursor: pointer;
}
.cookie__img-item {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s transform linear;
}
.cookie__img_style-first {
  position: relative;
}
.cookie__img_style-first.cookie__img_step-first img {
  transform: scale(1.53);
}
.cookie__img_style-first::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 10px;
  width: 181px;
  height: 142px;
  display: block;
  background: red;
  background: url("../img/cookie/shadow-1.png") center center/contain no-repeat;
}
.cookie__img_style-second {
  width: 130px;
  height: 142px;
}
.cookie__img_style-second.cookie__img_step-first img {
  transform: scale(1.53);
}
.cookie__img_style-second::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 70px;
  width: 198px;
  height: 97px;
  display: block;
  background: red;
  background: url("../img/cookie/shadow-2.png") center center/contain no-repeat;
}
.cookie__img_style-third {
  width: 120px;
  height: 116px;
}
.cookie__img_style-third.cookie__img_step-first img {
  transform: scale(1.75);
}
.cookie__img_style-third::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 30px;
  width: 169px;
  height: 120px;
  display: block;
  background: url("../img/cookie/shadow-3.png") center center/contain no-repeat;
}
.cookie__img_style-fourth {
  width: 132px;
  height: 143px;
}
.cookie__img_style-fourth.cookie__img_step-first img {
  transform: scale(1.62);
}
.cookie__img_style-fourth::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50px;
  width: 177px;
  height: 125px;
  display: block;
  background: url("../img/cookie/shadow-4.png") center center/contain no-repeat;
}
.cookie__img_style-fifth {
  width: 140px;
  height: 140px;
}
.cookie__img_style-fifth.cookie__img_step-first img {
  transform: scale(1.42);
}
.cookie__img_style-fifth::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -30px;
  width: 173px;
  height: 87px;
  display: block;
  background: url("../img/cookie/shadow-5.png") center center/contain no-repeat;
}
.cookie__img_style-six {
  width: 140px;
  height: 140px;
}
.cookie__img_style-six.cookie__img_step-first img {
  transform: scale(1.36);
}
.cookie__img_style-six::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -30px;
  width: 186px;
  height: 92px;
  display: block;
  background: url("../img/cookie/shadow-6.png") center center/contain no-repeat;
}
.cookie__img_step-first::before, .cookie__img_step-first:after {
  transform: scale(1);
  opacity: 1;
}
.cookie__img_step-first::after {
  animation: pulse 2s linear infinite 2s;
}
.cookie__tip {
  position: absolute;
  top: -125px;
  left: 125px;
  opacity: 0;
  z-index: -1;
}
.cookie__tip.active {
  opacity: 1;
  z-index: 12;
  display: block;
  transform: scale(0);
  animation: tipShow 0.5s linear forwards;
}
.cookie-tip__wrapper {
  width: 180px;
  padding: 15px 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  position: relative;
}
.cookie-tip__wrapper::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 75px;
  height: 75px;
  display: block;
  background: url("../img/icons/cursor.png") center center/contain no-repeat;
  animation: tipAnimate 3s linear infinite;
}
.cookie-tip__text {
  font-family: "Uni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.cookie-beam__item {
  width: 180px;
  height: 56px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.5s all linear;
}
.cookie-beam__item:nth-child(1) {
  transition-delay: 0.1s;
}
.cookie-beam__item:nth-child(2) {
  transition-delay: 0.2s;
}
.cookie-beam__item:nth-child(3) {
  transition-delay: 0.3s;
}
.cookie-beam__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-download {
  -webkit-appearance: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 54px;
  background: linear-gradient(90deg, #DE9B41 0%, #FFDDA5 71.88%, #E7AA58 98.96%);
  border-radius: 30px;
  font-family: "Uni Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #AE2419;
  position: relative;
}
.button-download::before {
  content: "";
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 65px);
  width: 128px;
  height: 48px;
  display: block;
  border: 1px solid #D72328;
  border-radius: 60px;
  transition: 0.3s all linear;
}
.button-download:hover::before {
  width: 124px;
  height: 44px;
  border: 3px solid #971208;
}
.button-home {
  text-transform: unset;
  width: 185px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 12;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.button-home::before {
  width: 176px;
  height: 43px;
  top: calc(50% - 22.5px);
  left: calc(50% - 90px);
}
.button-home:hover::before {
  width: 172px;
  height: 39px;
  border: 3px solid #971208;
}
.button-home::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/icons/home.svg") center center/contain no-repeat;
  margin: 0 10px 0 0;
}

.salute {
  position: relative;
  width: 100%;
  height: 100%;
}
.salute__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.salute__item.animate {
  animation: salute 0.2s linear forwards;
}
.salute__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.share-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 54px));
  grid-auto-rows: 54px;
  gap: 20px;
}
.share-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #AE2419;
  border-radius: 10px;
  transition: 0.3s background-color;
}
.share-list__link:hover {
  background: #971208;
}
.share-list__img {
  object-fit: contain;
  object-position: center center;
}
.share-vk img {
  width: 40px;
  height: 23px;
}
.share-tg img {
  width: 37px;
  height: 31px;
  transform: translateX(-2px);
}
.share-wa img {
  width: 35px;
  height: 35px;
  transform: translateX(1px) translateY(-2px);
}

@media screen and (min-width: 1420px) {
  .box__logo {
    height: 130px;
  }
  .box__info {
    width: 532px;
  }
  .box__info {
    transform: translateX(-100px);
  }
  .box__text-label {
    font-size: 30px;
    width: 407px;
  }
}
.box-share.hidden {
  display: none;
}

.share-desktop__wrapper {
  width: 1024px;
  height: 630px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D7232A;
}
.share-desktop__border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.share-desktop__border img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.share-desktop__border-mobile {
  display: none;
}
.share-desktop__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.share-desktop__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.share-desktop__background-mobile {
  display: none;
}
.share-desktop__content {
  width: 950px;
  height: 545px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 40px 0;
}
.share-desktop__title {
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  max-width: 305px;
  position: relative;
  z-index: 4;
}
.share-desktop__logo {
  position: absolute;
  width: 287px;
  height: 142px;
  top: 30px;
  left: calc(50% - 125px);
}
.share-desktop__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.share-desktop__salute {
  display: none;
}
.share-desktop__description {
  width: 637px;
  height: 245px;
  position: relative;
  z-index: 4;
}
.share-desktop__description-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-position: center center;
  object-fit: contain;
  z-index: 4;
}
.share-desktop__description-text {
  position: absolute;
  z-index: 5;
  left: calc(50% - 125px);
  top: calc(50% - 25px);
  width: 250px;
  height: 50px;
  font-family: "Uni Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  transform: rotate(-7.61deg) translateY(-40px) translateX(-10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .box[data-step="1"] .box__logo, .box[data-step="2"] .box__logo, .box[data-step="3"] .box__logo {
    transform: translateY(20px) translateX(15px);
    width: 260px;
  }
  .box__border-img-desktop {
    display: none;
  }
  .box__border-img-mobile {
    display: block;
  }
  .box__tip {
    display: block;
    left: 100px;
    bottom: 200px;
  }
  .box__cookie {
    padding: 0;
  }
  .box__cookie-item_style-second {
    width: 78px;
    height: 84px;
    left: 36px;
    bottom: 20px;
  }
  .box__cookie-item_style-third {
    width: 70px;
    height: 70px;
    left: 120px;
    bottom: 10px;
    z-index: 4;
  }
  .box__cookie-item_style-fourth {
    width: 78px;
    height: 84px;
    left: 140px;
    bottom: 45px;
    z-index: 1;
  }
  .box__cookie-item_style-fifth {
    width: 82px;
    height: 82px;
    left: 195px;
    bottom: 30px;
    z-index: 5;
  }
  .box__cookie-item_style-six {
    width: 82px;
    height: 82px;
    left: 70px;
    bottom: 50px;
    z-index: 1;
  }
  .box__coffee {
    width: 100%;
    height: 261px;
    background: url("../img/box-coffee-m.png") left bottom/contain no-repeat;
  }
  .box__wrapper {
    align-items: flex-start;
    justify-content: center;
  }
  .box__text {
    padding: 0;
    height: 214px;
  }
  .box__text::before, .box__text::after {
    width: 21px;
    background-size: cover;
  }
  .box__text::before {
    left: calc(50% - 21px);
  }
  .box__text::after {
    right: calc(50% - 21px);
  }
  .box__text-label {
    font-size: 24px;
    line-height: 26px;
    width: 245px;
  }
  .box__content {
    max-width: 350px;
    height: 721px;
  }
  .box__content-wrapper {
    padding: 40px 10px 80px 10px;
  }
  .box__content-wrapper::before {
    background: url("../img/bg-m.png") center center/contain no-repeat;
  }
  .box__content-block {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .box__wrapper {
    overflow: hidden;
  }
  .box__info {
    transform: translateX(0);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }
  .box__logo {
    height: auto;
    width: 100px;
  }
  .box__logo-img {
    object-position: right center;
  }
  .box__result {
    max-width: 350px;
    margin: auto;
  }
  .box__result::before {
    top: 0;
  }
  .box__result-wrapper {
    padding: 40px 0 0 0;
    justify-content: flex-start;
    align-items: center;
  }
  .box__init {
    left: calc(50% - 20px);
    top: unset;
    bottom: 20px;
  }
  .box-result__logo {
    position: relative;
    top: 0;
    left: 15px;
    padding: 0;
    background: transparent;
  }
  .box-result__logo-img {
    height: auto;
  }
  .box-result__prediction {
    width: 467px;
    height: 167px;
  }
  .box-result__prediction-text {
    font-size: 12px;
    line-height: 12px;
    max-width: 190px;
    transform: rotate(-7.61deg) translateY(-25px) translateX(-5px);
  }
  .box-result__salute-first {
    width: 210px;
    height: 210px;
    top: -130px;
    left: 0px;
  }
  .box-result__salute-third {
    display: none;
  }
  .box-result__salute-second {
    width: 204px;
    height: 204px;
    bottom: -120px;
    left: calc(50% - 102px);
  }
  .box-result__footer {
    margin: 15px 0 0 0;
  }
  .box-result__share {
    width: 300px;
    height: 143px;
    left: calc(50% - 150px);
    bottom: 40px;
    background: url("../img/share-m.png") center center/contain no-repeat;
  }

  .share-list {
    grid-template-columns: repeat(3, minmax(0, 40px));
    grid-auto-rows: 40px;
    gap: 15px;
  }
  .share-tg img {
    width: 26px;
    height: 22px;
    transform: translateX(-1px);
  }
  .share-wa img {
    width: 25px;
    height: 25px;
    transform: translateY(-1px) translateX(1px);
  }
  .share-vk img {
    width: 30px;
    height: 16px;
  }

  .cookie__tip {
    left: 0;
    top: 100px;
  }
  .cookie__tip.active {
    display: none;
    z-index: 10;
  }
  .cookie__img::before {
    opacity: 0.3;
    bottom: -30px;
    left: -30px;
    top: unset;
  }
  .cookie__img::after {
    left: calc(50% - 130px);
    top: calc(50% - 115px);
    width: 260px;
    height: 230px;
  }
  .cookie__img_style-first {
    display: none;
  }
  .cookie__img_style-second {
    width: 78px;
    height: 84px;
  }
  .cookie__img_style-second.cookie__img_step-first img {
    transform: scale(1.53);
  }
  .cookie__img_style-second .cookie__img-zip {
    top: 0;
    left: -5px;
    background: url("../img/icons/zip.svg") center center/contain no-repeat;
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(1) {
    right: 20px;
    left: unset;
    top: 5px;
    bottom: 0;
    transform: rotate(45deg);
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(2) {
    left: 30px;
    right: unset;
    top: 30px;
    transform: rotate(-160deg);
  }
  .cookie__img_style-second .cookie-beam__item:nth-child(3) {
    left: 0;
    right: unset;
    top: -45px;
    transform: rotate(145deg);
  }
  .cookie__img_style-second::before {
    left: -20px;
    top: unset;
    bottom: -30px;
    width: 70px;
    height: 70px;
  }
  .cookie__img_style-third {
    width: 70px;
    height: 70px;
  }
  .cookie__img_style-third.cookie__img_step-first img {
    transform: scale(1.75);
  }
  .cookie__img_style-third .cookie__img-zip {
    left: 0;
    top: -5px;
  }
  .cookie__img_style-third .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(1) {
    right: 35px;
    left: unset;
    top: unset;
    bottom: 0;
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 20px;
    top: -40px;
    transform: rotate(59deg);
  }
  .cookie__img_style-third .cookie-beam__item:nth-child(3) {
    left: 4px;
    right: unset;
    top: -32px;
    transform: rotate(145deg);
  }
  .cookie__img_style-fourth {
    width: 78px;
    height: 84px;
  }
  .cookie__img_style-fourth.cookie__img_step-first img {
    transform: scale(1.62);
  }
  .cookie__img_style-fourth .cookie__img-zip {
    left: -10px;
    bottom: -10px;
  }
  .cookie__img_style-fourth .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(1) {
    right: 30px;
    left: unset;
    top: unset;
    bottom: 0;
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 15px;
    top: -33px;
    transform: rotate(59deg);
  }
  .cookie__img_style-fourth .cookie-beam__item:nth-child(3) {
    left: 0;
    right: unset;
    top: -30px;
    transform: rotate(145deg);
  }
  .cookie__img_style-fifth {
    width: 82px;
    height: 82px;
  }
  .cookie__img_style-fifth.cookie__img_step-first img {
    transform: scale(1.42);
  }
  .cookie__img_style-fifth .cookie__img-zip {
    right: 10px;
    top: -10px;
  }
  .cookie__img_style-fifth .cookie__img-zip::before {
    background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(1) {
    right: 20px;
    left: unset;
    top: 50px;
    bottom: 0;
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(2) {
    left: unset;
    right: 8px;
    top: -28px;
    transform: rotate(59deg);
  }
  .cookie__img_style-fifth .cookie-beam__item:nth-child(3) {
    left: -5px;
    right: unset;
    top: -20px;
    transform: rotate(145deg);
  }
  .cookie__img_style-six {
    width: 82px;
    height: 82px;
  }
  .cookie__img_style-six.cookie__img_step-first img {
    transform: scale(1.36);
  }
  .cookie__img_style-six .cookie__img-zip {
    left: 0px;
    top: -5px;
    background: url("../img/icons/zip.svg") center center/contain no-repeat;
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(1) {
    right: 15px;
    left: unset;
    top: 5px;
    bottom: 0;
    transform: rotate(45deg);
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(2) {
    left: 20px;
    right: unset;
    top: 25px;
    transform: rotate(-160deg);
  }
  .cookie__img_style-six .cookie-beam__item:nth-child(3) {
    left: -5px;
    right: unset;
    top: -40px;
    transform: rotate(145deg);
  }
  .cookie__img-zip {
    width: 20px;
    height: 90px;
    left: calc(50% - 10px);
    top: calc(50% - 45px);
  }
  .cookie-tip__wrapper {
    width: 220px;
  }
  .cookie-tip__wrapper::before {
    left: 50px;
  }
  .cookie-tip__text {
    font-size: 18px;
    line-height: 22px;
  }
  .cookie-beam__item {
    width: 115px;
    height: 35px;
  }

  .share-desktop__wrapper {
    width: 350px;
    height: 634px;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .share-desktop__content {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding: 100px 0 0 0;
  }
  .share-desktop__logo {
    width: 100px;
    height: 50px;
    top: 30px;
    left: calc(50% - 50px);
    z-index: 5;
  }
  .share-desktop__title {
    font-size: 38px;
    line-height: 38px;
  }
  .share-desktop__border-mobile, .share-desktop__background-mobile {
    display: block;
  }
  .share-desktop__border-desktop, .share-desktop__background-desktop {
    display: none;
  }
  .share-desktop__description {
    width: 467px;
    height: 176px;
    margin: 35px 0 0 0;
  }
  .share-desktop__description-text {
    font-size: 12px;
    line-height: 12px;
    width: 190px;
    left: calc(50% - 85px);
    transform: rotate(-7.61deg) translateY(-25px) translateX(-10px);
  }
  .share-desktop__salute {
    display: block;
    width: 240px;
    height: 240px;
    position: absolute;
    left: calc(50% - 120px);
    bottom: -30px;
  }
  .share-desktop__salute img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .button-home {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .button-home span {
    display: none;
  }
  .button-home::before {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 2px;
  }
  .button-home:hover::before {
    width: 26px;
    height: 26px;
  }
  .button-home::after {
    margin: 0;
  }
}
@keyframes tipAnimateMobile {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes tipAnimate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes textAnimate {
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;
    visibility: hidden;
  }
}
@keyframes tipHide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes tipShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes salute {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showTable {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scrollLeft {
  100% {
    left: 0;
  }
}
@keyframes scrollRight {
  100% {
    right: 0;
  }
}
@keyframes scroll {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  animation: flash 1s forwards;
  display: none;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.cookie-list__item {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s opacity;
}
.cookie-list__item:nth-child(2), .cookie-list__item:nth-child(3) {
  opacity: 0;
}
.cookie-list.step-second .cookie-list__item:nth-child(1) {
  opacity: 0;
}
.cookie-list.step-second .cookie-list__item:nth-child(2) {
  opacity: 1;
}
.cookie-list.step-third .cookie-list__item:nth-child(1) {
  opacity: 0;
}
.cookie-list.step-third .cookie-list__item:nth-child(2) {
  opacity: 0;
}
.cookie-list.step-third .cookie-list__item:nth-child(3) {
  opacity: 1;
}
.cookie__light {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  opacity: 0;
  transition: 1s linear opacity;
}
.cookie__light-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s all linear;
}
.cookie__light_style-first {
  width: 52px;
  left: 28px;
  top: 5px;
}
.cookie__light_style-second {
  width: 65px;
  left: 27px;
  top: -6px;
}
.cookie__light_style-third {
  width: 80px;
  left: 27px;
  top: -21px;
}
.cookie__img_step-first .cookie__light:nth-child(1) {
  animation: animateTitleFirst 6s linear forwards infinite;
}
.cookie__img_step-first .cookie__light:nth-child(2) {
  animation: animateTitleSecond 6s linear forwards infinite;
}
.cookie__img_step-first .cookie__light:nth-child(3) {
  animation: animateTitleThird 6s linear forwards infinite;
}
.cookie__img_style-first .cookie__light_style-first {
  width: 55px;
  left: 16px;
  top: -12px;
}
.cookie__img_style-first .cookie__light_style-second {
  width: 75px;
  left: 20px;
  top: -32px;
}
.cookie__img_style-first .cookie__light_style-third {
  width: 90px;
  left: 24px;
  top: -51px;
}
.cookie__img_style-first .cookie__light_style-fourth {
  width: 50px;
  left: 18px;
  top: -14px;
}
.cookie__img_style-first .cookie__light_style-fifth {
  width: 55px;
  left: 22px;
  top: -18px;
}
.cookie__img_style-first .cookie__light_style-six {
  width: 65px;
  left: 22px;
  top: -30px;
}
.cookie__img_style-second .cookie__light_style-first {
  width: 57px;
  left: -22px;
  top: 55px;
}
.cookie__img_style-second .cookie__light_style-second {
  width: 65px;
  left: -22px;
  top: 44px;
}
.cookie__img_style-second .cookie__light_style-third {
  width: 80px;
  left: -28px;
  top: 22px;
}
.cookie__img_style-second .cookie__light_style-fourth {
  width: 50px;
  left: 5px;
  top: 42px;
}
.cookie__img_style-second .cookie__light_style-fifth {
  width: 50px;
  left: 7px;
  top: 32px;
}
.cookie__img_style-second .cookie__light_style-six {
  width: 72px;
  left: 8px;
  top: 28px;
}
.cookie__img_style-third .cookie__light_style-first {
  width: 57px;
  left: -22px;
  top: 37px;
}
.cookie__img_style-third .cookie__light_style-second {
  width: 65px;
  left: -27px;
  top: 14px;
}
.cookie__img_style-third .cookie__light_style-third {
  width: 92px;
  left: -44px;
  top: -7px;
}
.cookie__img_style-third .cookie__light_style-fourth {
  width: 50px;
  left: -12px;
  top: 27px;
}
.cookie__img_style-third .cookie__light_style-fifth {
  width: 55px;
  left: -13px;
  top: 23px;
}
.cookie__img_style-third .cookie__light_style-six {
  width: 72px;
  left: -19px;
  top: -2px;
}
.cookie__img_style-fourth .cookie__light_style-first {
  width: 57px;
  left: -22px;
  top: 55px;
}
.cookie__img_style-fourth .cookie__light_style-second {
  width: 65px;
  left: -27px;
  top: 50px;
}
.cookie__img_style-fourth .cookie__light_style-third {
  width: 92px;
  left: -44px;
  top: 14px;
}
.cookie__img_style-fourth .cookie__light_style-fourth {
  width: 50px;
  left: 2px;
  top: 43px;
}
.cookie__img_style-fourth .cookie__light_style-fifth {
  width: 55px;
  left: 3px;
  top: 27px;
}
.cookie__img_style-fourth .cookie__light_style-six {
  width: 72px;
  left: 8px;
  top: 26px;
}
.cookie__img_style-fifth .cookie__light_style-first {
  width: 68px;
  left: 38px;
  top: 52px;
}
.cookie__img_style-fifth .cookie__light_style-second {
  width: 80px;
  left: 24px;
  top: 42px;
}
.cookie__img_style-fifth .cookie__light_style-third {
  width: 100px;
  left: -3px;
  top: 12px;
}
.cookie__img_style-fifth .cookie__light_style-fourth {
  width: 76px;
  left: 33px;
  top: 37px;
}
.cookie__img_style-fifth .cookie__light_style-fifth {
  width: 76px;
  left: 27px;
  top: 25px;
}
.cookie__img_style-fifth .cookie__light_style-six {
  width: 85px;
  left: 15px;
  top: 30px;
}
.cookie__img_style-six .cookie__light_style-first {
  width: 66px;
  left: 36px;
  top: 33px;
}
.cookie__img_style-six .cookie__light_style-second {
  width: 65px;
  left: 36px;
  top: 36px;
}
.cookie__img_style-six .cookie__light_style-third {
  width: 75px;
  left: 39px;
  top: 42px;
}
.cookie__img_style-six .cookie__light_style-fourth {
  width: 52px;
  left: 41px;
  top: 31px;
}
.cookie__img_style-six .cookie__light_style-fifth {
  width: 60px;
  left: 43px;
  top: 37px;
}
.cookie__img_style-six .cookie__light_style-six {
  width: 69px;
  left: 44px;
  top: 41px;
}

@media screen and (max-width: 1100px) {
  .cookie__img_style-second .cookie__light_style-first {
    width: 39px;
    left: -13px;
    top: 28px;
  }
  .cookie__img_style-second .cookie__light_style-second {
    width: 45px;
    left: -16px;
    top: 21px;
  }
  .cookie__img_style-second .cookie__light_style-third {
    width: 60px;
    left: -25px;
    top: 3px;
  }
  .cookie__img_style-second .cookie__light_style-fourth {
    width: 36px;
    left: 4px;
    top: 20px;
  }
  .cookie__img_style-second .cookie__light_style-fifth {
    width: 50px;
    left: 7px;
    top: -2px;
  }
  .cookie__img_style-second .cookie__light_style-six {
    width: 59px;
    left: 7px;
    top: 2px;
  }
  .cookie__img_style-third .cookie__light_style-first {
    width: 40px;
    left: -15px;
    top: 16px;
  }
  .cookie__img_style-third .cookie__light_style-second {
    width: 50px;
    left: -23px;
    top: 0px;
  }
  .cookie__img_style-third .cookie__light_style-third {
    width: 64px;
    left: -31px;
    top: -11px;
  }
  .cookie__img_style-third .cookie__light_style-fourth {
    width: 35px;
    left: -11px;
    top: 14px;
  }
  .cookie__img_style-third .cookie__light_style-fifth {
    width: 44px;
    left: -12px;
    top: 6px;
  }
  .cookie__img_style-third .cookie__light_style-six {
    width: 57px;
    left: -18px;
    top: -7px;
  }
  .cookie__img_style-fourth .cookie__light_style-first {
    width: 36px;
    left: -16px;
    top: 31px;
  }
  .cookie__img_style-fourth .cookie__light_style-second {
    width: 49px;
    left: -20px;
    top: 22px;
  }
  .cookie__img_style-fourth .cookie__light_style-third {
    width: 62px;
    left: -27px;
    top: 0px;
  }
  .cookie__img_style-fourth .cookie__light_style-fourth {
    width: 50px;
    left: 6px;
    top: 8px;
  }
  .cookie__img_style-fourth .cookie__light_style-fifth {
    width: 55px;
    left: 8px;
    top: -8px;
  }
  .cookie__img_style-fourth .cookie__light_style-six {
    width: 72px;
    left: 8px;
    top: -9px;
  }
  .cookie__img_style-fifth .cookie__light_style-first {
    width: 48px;
    left: 14px;
    top: 23px;
  }
  .cookie__img_style-fifth .cookie__light_style-second {
    width: 60px;
    left: 0px;
    top: 13px;
  }
  .cookie__img_style-fifth .cookie__light_style-third {
    width: 57px;
    left: 0px;
    top: 8px;
  }
  .cookie__img_style-fifth .cookie__light_style-fourth {
    width: 36px;
    left: 28px;
    top: 29px;
  }
  .cookie__img_style-fifth .cookie__light_style-fifth {
    width: 36px;
    left: 23px;
    top: 22px;
  }
  .cookie__img_style-fifth .cookie__light_style-six {
    width: 46px;
    left: 11px;
    top: 20px;
  }
  .cookie__img_style-six .cookie__light_style-first {
    width: 44px;
    left: 22px;
    top: 19px;
  }
  .cookie__img_style-six .cookie__light_style-second {
    width: 43px;
    left: 21px;
    top: 21px;
  }
  .cookie__img_style-six .cookie__light_style-third {
    width: 47px;
    left: 23px;
    top: 25px;
  }
  .cookie__img_style-six .cookie__light_style-fourth {
    width: 35px;
    left: 24px;
    top: 19px;
  }
  .cookie__img_style-six .cookie__light_style-fifth {
    width: 35px;
    left: 25px;
    top: 21px;
  }
  .cookie__img_style-six .cookie__light_style-six {
    width: 45px;
    left: 25px;
    top: 23px;
  }
}
@keyframes cookieLight {
  to {
    opacity: 1;
  }
}
@keyframes animateTitleFirst {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateTitleSecond {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animateTitleThird {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes draggable {
  0%, 50% {
    transform: rotate(0);
  }
  25%, 75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

/*# sourceMappingURL=style.css.map */
