$baseFont: 16px;

$redColor: #D7232A;

@font-face {
  font-family: 'Uni Sans';
  src: url('../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff2') format('woff2'),
  url('../fonts/UniSans/UniSans-SemiBold/UniSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  user-select: none;
}

body {
  font-size: $baseFont;

  min-height: 100vh;

  background: $redColor;
}


.box {
  overflow: hidden;

  &__content, &__result {
    &.hidden {
      display: none;
    }
  }

  &__result {
    animation: tipShow forwards 1s;

    position: relative;
    &::before{
      content: '';
      width: 658px;
      height: 588px;

      left: calc(50% - 658px/2);
      top: -115px;

      position: absolute;

      background: url("../img/bg-result.png");

      animation: pulse 2s linear infinite;
    }
  }

  &[data-step="1"], &[data-step="2"], &[data-step="3"] {
    .box__logo {
      transform: scale(2) translateY(100px);
    }

    .box__text {
      animation: textAnimate .5s forwards;
    }

    .box__content-wrapper {
      &::before {
        filter: blur(15px);
      }
    }
  }

  &[data-step="2"],&[data-step="3"] {
    .box__cookie-item {
      pointer-events: none;

      &.active {
        pointer-events: auto;
      }
    }
  }

  &__wrapper {
    background-color: $redColor;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 12px;
  }

  &__border {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 4;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &-mobile {
        display: none;
      }
    }
  }

  &__content {
    max-width: 1420px;
    width: 100%;
    flex-shrink: 0;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;


      z-index: 2;

      transition: .3s filter linear;
    }

    &-wrapper {
      padding: 50px 12px 50px 12px;

      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;


      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: calc(100% - 6px);

        background: url("../img/background.png") center center/contain no-repeat;

        transition: .5s filter;
      }
    }

    &-block {
      display: flex;
      align-items: flex-start;

      height: 100%;

      &.hidden {
        display: none;
      }
    }
  }

  &__coffee {
    background: url("../img/box-coffee.png") left bottom/contain no-repeat;

    position: relative;
    z-index: 5;
    width: 810px;
    height: 100%;

    flex-shrink: 0;
  }

  &__logo {
    width: auto;
    height: calc(80px + (130 - 80) * ((100vw - 1100px) / (1420 - 1100)));

    transition: .5s all linear;

    &-img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  &__info {
    position: relative;
    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(calc(-150px + (250 - 150) * ((100vw - 1100px) / (1420 - 1100))));

    width: calc(380px + (532 - 380) * ((100vw - 1100px) / (1420 - 1100)));

    flex-shrink: 0;
  }

  &__text {
    width:0;
    height: 321px;
    flex-shrink: 0;

    background: url("../img/box-text-bg.png") center center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 63px;

    transition: .5s all linear;

    position: relative;

    overflow: hidden;

    animation: scroll 1s linear forwards;

    animation-delay: 0s;

    &::before,&::after{
      content: '';
      position: absolute;
      top: 0;

      height: 100%;
      width: 40px;

      display: block;

      background: url("../img/scroll.png") center center/contain no-repeat;
    }

    &::before{
      left: calc(50% - 65px);

      animation: scrollLeft .2s 0s linear forwards;
    }
    &::after{
      right: calc(50% - 65px);

      animation: scrollRight .2s 0s linear forwards;
    }

    &-label {
      width: calc(310px + (407 - 310) * ((100vw - 1100px) / (1420 - 1100)));
      flex-shrink: 0;

      font-family: 'Uni Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: calc(20px + (30 - 20) * ((100vw - 1100px) / (1420 - 1100)));
      line-height: 1.13;

      text-align: center;

      color: #000000;

    }
  }

  &__cookie {
    display: flex;
    align-items: flex-end;

    height: 100%;

    padding: 0 70px;

    &-item {
      position: absolute;

      transition: .5s all;

      &.active {
        z-index: 10;
      }

      &.draggable{
        animation: draggable .5s linear infinite;
      }

      &_style {
        &-first {
          width: 130px;
          height: 130px;

          left: 70px;
          bottom: 20px;
        }

        &-second {
          width: 130px;
          height: 142px;

          left: 210px;
          bottom: 60px;
        }

        &-third {
          width: 120px;
          height: 116px;

          left: 340px;
          bottom: 50px;
          z-index: 4;
        }

        &-fourth {
          width: 132px;
          height: 143px;

          left: 380px;
          bottom: 100px;
          z-index: 1;
        }

        &-fifth {
          width: 140px;
          height: 140px;

          left: 470px;
          bottom: 70px;
          z-index: 5;
        }

        &-six {
          width: 140px;
          height: 140px;

          left: 270px;
          bottom: 110px;

          z-index: 1;
        }
      }
    }
  }

  &__result {
    max-width: 960px;
    flex-shrink: 0;
    width: 100%;

    margin: 100px 0 0 0;

    position: relative;

    &.hidden {
      display: none;
    }

    &-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;

      left: 0;
      top: 0;

      z-index: 5;

      padding: 0 0 150px 0;
    }
  }

  &__tip {
    position: absolute;

    right: 200px;
    bottom: 300px;

    z-index: 10;

    opacity: 0;
    transform: scale(0);
    animation: showTable 1s 1.5s linear forwards;
  }

  &__init {
    position: absolute;
    right: 40px;
    top: 40px;

    z-index: 10;
  }

  &-init {
    &__img {
      width: 40px;
      height: 40px;

      object-fit: contain;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-result {
    &__logo {
      position: absolute;
      top: -100px;
      left: calc(50% - 300px / 2);

      z-index: 10;

      padding: 0 30px;

      &-img {
        width: 283px;
        height: 160px;
        object-fit: contain;
      }
    }

    &__prediction {
      background: url("../img/prediction.png") center center/contain no-repeat;

      width: 640px;

      height: 240px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-text {
        max-width: 250px;
        height: 100px;

        font-family: 'Uni Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;

        text-align: center;

        color: #000000;

        transform: rotate(-7.61deg) translateY(-30px) translateX(-10px);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__footer {
      margin: 30px 0 0 0;
    }

    &__salute {
      position: absolute;

      &-first {
        width: 370px;
        height: 370px;

        left: -150px;
        top: -150px;
      }

      z-index: 1;

      &-second {
        width: 240px;
        height: 240px;

        left: 0;
        bottom: -80px;

      }

      &-third {
        width: 280px;
        height: 280px;

        left: unset;
        right: -100px;
        bottom: 60px;

      }
    }

    &__share {
      width: 418px;
      height: 200px;
      position: absolute;

      left: calc(50% - 418px / 2);
      bottom: -80px;

      background: url("../img/share.png") center center/contain no-repeat;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.cookie {
  &__wrapper {
    position: relative;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    transition: .5s transform linear;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      transform: scale(0);
      top: calc(50% - 268px);
      left: calc(50% - 297px);
      width: 594px;
      height: 536px;
      display: block;
      background-image: url("../img/cookie/1-bg.png");
      transition: 0.5s all;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      opacity: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &-item {
      position: relative;
      z-index: 2;

      width: 100%;
      height: 100%;

      object-fit: contain;

      transition: .5s transform linear;
    }

    &_style {
      &-first {
        position: relative;

        &.cookie__img_step-first {
          img {
            transform: scale(1.53);
          }
        }

        &::before {
          content: '';

          position: absolute;
          left: -30px;
          top: 10px;

          width: 181px;
          height: 142px;

          display: block;

          background: red;

          background: url("../img/cookie/shadow-1.png") center center/contain no-repeat;
        }
      }

      &-second {
        width: 130px;
        height: 142px;

        &.cookie__img_step-first {
          img {
            transform: scale(1.53);
          }
        }

        &::before {
          content: '';

          position: absolute;
          left: -40px;
          top: 70px;

          width: 198px;
          height: 97px;

          display: block;

          background: red;

          background: url("../img/cookie/shadow-2.png") center center/contain no-repeat;
        }
      }

      &-third {
        width: 120px;
        height: 116px;

        &.cookie__img_step-first {
          img {
            transform: scale(1.75);
          }
        }

        &::before {
          content: '';

          position: absolute;
          left: -20px;
          top: 30px;

          width: 169px;
          height: 120px;

          display: block;


          background: url("../img/cookie/shadow-3.png") center center/contain no-repeat;
        }
      }

      &-fourth {
        width: 132px;
        height: 143px;

        &.cookie__img_step-first {
          img {
            transform: scale(1.62);
          }
        }

        &::before {
          content: '';

          position: absolute;
          left: -30px;
          top: 50px;

          width: 177px;
          height: 125px;

          display: block;


          background: url("../img/cookie/shadow-4.png") center center/contain no-repeat;
        }
      }

      &-fifth {
        width: 140px;
        height: 140px;


        &.cookie__img_step-first {
          img {
            transform: scale(1.42);
          }
        }

        &::before {
          content: '';

          position: absolute;
          left: -20px;
          bottom: -30px;

          width: 173px;
          height: 87px;

          display: block;


          background: url("../img/cookie/shadow-5.png") center center/contain no-repeat;
        }
      }

      &-six {
        width: 140px;
        height: 140px;

        &.cookie__img_step-first {
          img {
            transform: scale(1.36);
          }
        }


        &::before {
          content: '';

          position: absolute;
          left: -20px;
          bottom: -30px;

          width: 186px;
          height: 92px;

          display: block;


          background: url("../img/cookie/shadow-6.png") center center/contain no-repeat;
        }
      }
    }

    &_step {
      &-first {
        &::before, &:after {
          transform: scale(1);
          opacity: 1;
        }
        &::after{
          animation: pulse 2s linear infinite 2s;
        }
      }

      &-second {
      }
    }
  }

  &__tip {
    position: absolute;
    top: -125px;
    left: 125px;

    opacity: 0;
    z-index: -1;

    &.active {
      opacity: 1;
      z-index: 12;

      display: block;

      transform: scale(0);
      animation: tipShow .5s linear forwards;
    }
  }

  &-tip {
    &__wrapper {
      width: 180px;
      padding: 15px 12px;

      background: rgba(#fff, .9);
      border-radius: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -50px;
        left: -50px;

        width: 75px;
        height: 75px;
        display: block;

        background: url("../img/icons/cursor.png") center center/contain no-repeat;

        animation: tipAnimate 3s linear infinite;
      }
    }

    &__text {
      font-family: 'Uni Sans', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      color: #000000;
    }
  }

  &-beam {
    &__item {
      width: 180px;
      height: 56px;

      display: block;

      position: absolute;
      left: 0;
      top: 0;

      z-index: 2;

      opacity: 0;

      transition: .5s all linear;

      &:nth-child(1) {
        transition-delay: .1s;
      }

      &:nth-child(2) {
        transition-delay: .2s;
      }

      &:nth-child(3) {
        transition-delay: .3s;
      }
    }

    &__img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }
}

.button {

  &-download {
    -webkit-appearance: none;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 136px;
    height: 54px;

    background: linear-gradient(90deg, #DE9B41 0%, #FFDDA5 71.88%, #E7AA58 98.96%);
    border-radius: 30px;


    font-family: 'Uni Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;

    text-align: center;
    text-transform: uppercase;

    color: #AE2419;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 65px);

      width: 128px;
      height: 48px;
      display: block;
      border: 1px solid #D72328;
      border-radius: 60px;

      transition: .3s all linear;
    }

    &:hover::before {
      width: 124px;
      height: 44px;

      border: 3px solid #971208;
    }
  }
  &-home{
    text-transform: unset;
    width: 185px;
    height: 50px;

    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 12;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &::before{
      width: 176px;
      height: 43px;

      top: calc(50% - 45px/2);
      left: calc(50% - 180px/2);
    }
    &:hover::before {
      width: 172px;
      height: 39px;

      border: 3px solid #971208;
    }
    &::after{
      content: '';
      width: 20px;
      height: 20px;

      background: url("../img/icons/home.svg") center center/contain no-repeat;

      margin: 0 10px 0 0;
    }
  }
}

.salute {
  position: relative;

  width: 100%;
  height: 100%;

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.animate {
      animation: salute .2s linear forwards;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.share {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 54px));
    grid-auto-rows: 54px;

    gap: 20px;

    &__link {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      background: #AE2419;

      border-radius: 10px;

      transition: .3s background-color;

      &:hover {
        background: #971208;
      }
    }

    &__img {
      object-fit: contain;
      object-position: center center;
    }
  }

  &-vk {
    img {
      width: 40px;
      height: 23px;
    }
  }

  &-tg {
    img {
      width: 37px;
      height: 31px;

      transform: translateX(-2px);
    }
  }

  &-wa {
    img {
      width: 35px;
      height: 35px;

      transform: translateX(1px) translateY(-2px);
    }
  }
}


@media screen and (min-width: 1420px) {
  .box {
    &__logo {
      height: 130px;
    }

    &__info{
      width: 532px;
    }

    &__info {
      transform: translateX(-100px);
    }

    &__text {
      &-label {
        font-size: 30px;

        width: 407px;
      }
    }
  }
}


.box-share {
  &.hidden {
    display: none;
  }
}


.share {
  &-desktop {
    &__wrapper {
      width: 1024px;
      height: 630px;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      background: #D7232A;
    }

    &__border {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 3;

      img {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }

      &-mobile {
        display: none;
      }
    }

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        object-position: center center;
      }

      &-mobile {
        display: none;
      }
    }

    &__content {
      width: 950px;
      height: 545px;


      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      padding: 0 0 40px 0;

    }

    &__title {
      font-family: 'Uni Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 38px;

      text-align: center;

      color: #FFFFFF;

      max-width: 305px;

      position: relative;
      z-index: 4;
    }

    &__logo {
      position: absolute;

      width: 287px;
      height: 142px;

      top: 30px;
      left: calc(50% - 250px / 2);

      &-img {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }

    &__salute {
      display: none;
    }

    &__description {
      width: 637px;
      height: 245px;


      position: relative;
      z-index: 4;

      &-img {
        position: absolute;

        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        object-position: center center;
        object-fit: contain;
        z-index: 4;
      }

      &-text {
        position: absolute;
        z-index: 5;

        left: calc(50% - 125px);
        top: calc(50% - 25px);
        width: 250px;
        height: 50px;

        font-family: 'Uni Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;

        text-align: center;

        color: #000000;

        transform: rotate(-7.61deg) translateY(-40px) translateX(-10px);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 1100px) {
  .box {
    &[data-step="1"], &[data-step="2"], &[data-step="3"] {
      .box {
        &__logo {
          transform: translateY(45px) translateX(15px);
          width: 260px;

          &-img {
          }
        }
      }
    }

    &__border {
      &-img {
        &-desktop {
          display: none;
        }

        &-mobile {
          display: block;
        }
      }
    }

    &__tip {
      display: block;

      left: 100px;
      bottom: 200px;
    }

    &__cookie {
      padding: 0;

      &-item {
        &_style {
          &-second {
            width: 78px;
            height: 84px;

            left: 36px;
            bottom: 20px;
          }

          &-third {
            width: 70px;
            height: 70px;


            left: 120px;
            bottom: 10px;
            z-index: 4;
          }

          &-fourth {
            width: 78px;
            height: 84px;

            left: 140px;
            bottom: 45px;
            z-index: 1;
          }

          &-fifth {
            width: 82px;
            height: 82px;


            left: 195px;
            bottom: 30px;
            z-index: 5;
          }

          &-six {
            width: 82px;
            height: 82px;

            left: 70px;
            bottom: 50px;

            z-index: 1;
          }
        }
      }
    }

    &__coffee {
      width: 100%;
      height: 261px;
      background: url("../img/box-coffee-m.png") left bottom/contain no-repeat;
    }

    &__wrapper {
      align-items: flex-start;
      justify-content: center;
    }

    &__text {
      padding: 0;


      height: 214px;

      transform: translateY(-20px);

      &::before,&::after{
        width: 21px;
        background-size: cover;
      }

      &::before{
        left: calc(50% - 21px);
      }
      &::after{
        right: calc(50% - 21px);
      }

      &-label {
        font-size: 24px;
        line-height: 26px;

        width: 245px;
      }
    }

    &__content {
      max-width: 350px;
      height: 721px;

      &-wrapper {
        padding: 20px 10px 80px 10px;

        &::before {
          background: url("../img/bg-m.png") center center/contain no-repeat;
        }
      }

      &-block {
        flex-direction: column-reverse;

        justify-content: space-between;
      }
    }

    &__wrapper {
      overflow: hidden;
    }

    &__info {
      transform: translateX(0);
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      padding: 0 15px;
    }

    &__logo {
      height: auto;
      width: 100px;

      &-img {
        object-position: right center;
      }
    }

    &__result {
      max-width: 350px;

      margin: auto;

      &::before{
        top: 0;
      }

      &-wrapper {
        padding: 40px 0 0 0;

        justify-content: flex-start;
        align-items: center;
      }
    }

    &__init {
      left: calc(50% - 20px);
      top: unset;

      bottom: 20px;
    }

    &-result {
      &__logo {
        position: relative;
        top: 0;
        left: 15px;
        padding: 0;
        background: transparent;

        &-img {
          height: auto;
        }
      }

      &__prediction {
        width: 467px;
        height: 167px;

        &-text {
          font-size: 12px;
          line-height: 12px;

          max-width: 190px;

          transform: rotate(-7.61deg) translateY(-25px) translateX(-5px);
        }
      }

      &__salute {
        &-first {
          width: 210px;
          height: 210px;

          top: -130px;
          left: 0px;
        }

        &-third {
          display: none;
        }

        &-second {
          width: 204px;
          height: 204px;

          bottom: -120px;
          left: calc(50% - 102px);
        }
      }

      &__footer {
        margin: 15px 0 0 0;
      }

      &__share {
        width: 300px;
        height: 143px;

        left: calc(50% - 150px);

        bottom: 40px;

        background: url("../img/share-m.png") center center/contain no-repeat;
      }
    }
  }

  .share {
    &-list {
      grid-template-columns: repeat(3, minmax(0, 40px));
      grid-auto-rows: 40px;
      gap: 15px;
    }

    &-tg {
      img {
        width: 26px;
        height: 22px;

        transform: translateX(-1px);
      }
    }

    &-wa {
      img {
        width: 25px;
        height: 25px;

        transform: translateY(-1px) translateX(1px);
      }
    }

    &-vk {
      img {
        width: 30px;
        height: 16px;

      }
    }
  }

  .cookie {
    &__tip {
      left: 0;
      top: 100px;

      &.active {
        display: none;
        z-index: 10;
      }
    }

    &__img {
      &::before {
        opacity: .3;

        bottom: -30px;
        left: -30px;
        top: unset;
      }

      &::after {
        left: calc(50% - 130px);
        top: calc(50% - 115px);
        width: 260px;
        height: 230px;
      }

      &_style {
        &-first {
          display: none;
        }

        &-second {
          width: 78px;
          height: 84px;

          &.cookie__img_step-first {
            img {
              transform: scale(1.53);
            }
          }

          .cookie__img-zip {
            top: 0;
            left: -5px;

            background: url("../img/icons/zip.svg") center center/contain no-repeat;
          }

          .cookie-beam {
            &__item {
              &:nth-child(1) {
                right: 20px;
                left: unset;
                top: 5px;
                bottom: 0;

                transform: rotate(45deg);
              }

              &:nth-child(2) {
                left: 30px;
                right: unset;
                top: 30px;
                transform: rotate(-160deg);
              }

              &:nth-child(3) {
                left: 0;
                right: unset;
                top: -45px;
                transform: rotate(145deg);
              }
            }
          }

          &::before {
            left: -20px;
            top: unset;
            bottom: -30px;
            width: 70px;
            height: 70px;
          }
        }

        &-third {
          width: 70px;
          height: 70px;

          &.cookie__img_step-first {
            img {
              transform: scale(1.75);
            }
          }

          .cookie__img-zip {
            left: 0;
            top: -5px;

            &::before {
              background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;

            }
          }

          .cookie-beam {
            &__item {
              &:nth-child(1) {
                right: 35px;
                left: unset;
                top: unset;
                bottom: 0;
              }

              &:nth-child(2) {
                left: unset;
                right: 20px;
                top: -40px;
                transform: rotate(59deg);
              }

              &:nth-child(3) {
                left: 4px;
                right: unset;
                top: -32px;
                transform: rotate(145deg);
              }
            }
          }
        }

        &-fourth {
          width: 78px;
          height: 84px;

          &.cookie__img_step-first {
            img {
              transform: scale(1.62);
            }
          }

          .cookie__img-zip {
            left: -10px;
            bottom: -10px;

            &::before {
              background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;

            }
          }

          .cookie-beam {
            &__item {
              &:nth-child(1) {
                right: 30px;
                left: unset;
                top: unset;
                bottom: 0;
              }

              &:nth-child(2) {
                left: unset;
                right: 15px;
                top: -33px;
                transform: rotate(59deg);
              }

              &:nth-child(3) {
                left: 0;
                right: unset;
                top: -30px;
                transform: rotate(145deg);
              }
            }
          }
        }

        &-fifth {
          width: 82px;
          height: 82px;


          &.cookie__img_step-first {
            img {
              transform: scale(1.42);
            }
          }

          .cookie__img-zip {
            right: 10px;
            top: -10px;

            &::before {
              background: url("../img/icons/zip-revert.svg") center center/contain no-repeat;

            }
          }


          .cookie-beam {
            &__item {
              &:nth-child(1) {
                right: 20px;
                left: unset;
                top: 50px;
                bottom: 0;
              }

              &:nth-child(2) {
                left: unset;
                right: 8px;
                top: -28px;
                transform: rotate(59deg);
              }

              &:nth-child(3) {
                left: -5px;
                right: unset;
                top: -20px;
                transform: rotate(145deg);
              }
            }
          }
        }

        &-six {
          width: 82px;
          height: 82px;

          &.cookie__img_step-first {
            img {
              transform: scale(1.36);
            }
          }

          .cookie__img-zip {
            left: 0px;
            top: -5px;

            background: url("../img/icons/zip.svg") center center/contain no-repeat;
          }

          .cookie-beam {
            &__item {
              &:nth-child(1) {
                right: 15px;
                left: unset;
                top: 5px;
                bottom: 0;

                transform: rotate(45deg);
              }

              &:nth-child(2) {
                left: 20px;
                right: unset;
                top: 25px;
                transform: rotate(-160deg);
              }

              &:nth-child(3) {
                left: -5px;
                right: unset;
                top: -40px;
                transform: rotate(145deg);
              }
            }
          }
        }
      }

      &_step {
        &-second {
        }
      }

      &-zip {
        width: 20px;
        height: 90px;

        left: calc(50% - 10px);
        top: calc(50% - 45px);
      }
    }

    &-tip {
      &__wrapper {
        width: 220px;

        &::before {
          left: 50px;
        }
      }

      &__text {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &-beam {
      &__item {
        width: 115px;
        height: 35px;
      }
    }
  }

  .share {
    &-desktop {
      &__wrapper {
        width: 350px;
        height: 634px;
        margin: auto;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &__content {
        width: 100%;
        height: 100%;
        justify-content: flex-start;

        padding: 100px 0 0 0;
      }

      &__logo {
        width: 100px;
        height: 50px;


        top: 30px;
        left: calc(50% - 50px);

        z-index: 5;
      }

      &__title {
        font-size: 38px;
        line-height: 38px;
      }

      &__border, &__background {
        &-mobile {
          display: block;
        }

        &-desktop {
          display: none;
        }
      }

      &__description {
        width: 467px;
        height: 176px;

        margin: 35px 0 0 0;

        &-text {
          font-size: 12px;
          line-height: 12px;

          width: 190px;
          left: calc(50% - 85px);
          transform: rotate(-7.61deg) translateY(-25px) translateX(-10px);
        }
      }

      &__salute {
        display: block;

        width: 240px;
        height: 240px;
        position: absolute;

        left: calc(50% - 120px);
        bottom: -30px;

        img {
          width: 100%;
          height: 100%;

          object-fit: contain;
        }
      }
    }
  }

  .button{
    &-home{
      left: 55px;
      top: 32px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      span{
        display: none;
      }
      &::before{
        border-radius: 50%;

        width: 30px;
        height: 30px;

        top: 2px;
        left: 2px;
      }
      &:hover::before{
        width: 26px;
        height: 26px;
      }
      &::after{
        margin: 0;

        width: 14px;
        height: 12px;
      }
    }
  }
}

@keyframes tipAnimateMobile {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes tipAnimate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes textAnimate {
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    display: none;

    visibility: hidden;
  }
}

@keyframes tipHide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes tipShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes salute {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTable {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scrollLeft {
  100%{
    left: 0;
  }
}

@keyframes scrollRight {
  100%{
    right: 0;
  }
}

@keyframes scroll {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}

.flash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;
  z-index: 100;

  animation: flash 1s forwards;

  display: none;
}

@keyframes flash {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}


.cookie{
  &-list{
    &__item{
      position: absolute;
      left: 0;
      top: 0;
      transition: .5s opacity;
      &:nth-child(2),&:nth-child(3){
        opacity: 0;
      }
    }
    &.step-second{
      .cookie-list__item{
        &:nth-child(1){
          opacity: 0;
        }
        &:nth-child(2){
          opacity: 1;
        }
      }
    }
    &.step-third{
      .cookie-list__item{
        &:nth-child(1){
          opacity: 0;
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          opacity: 1;
        }
      }
    }
    &__item{

    }
  }
  &__light{
    position: absolute;
    left: 0;
    top: 0;

    z-index: 12;

    opacity: 0;


    transition: 1s linear opacity;
    &-img{
      width: 100%;
      height: 100%;

      object-fit: contain;

      transition: .3s all linear;
    }

    &_style{
      &-first{
        width: 52px;

        left: 28px;
        top: 5px;

      }
      &-second {
        width: 65px;

        left: 27px;
        top: -6px;
      }

      &-third{
        width: 80px;

        left: 27px;
        top: -21px;
      }
    }
  }

  &__img{
    &_step{
      &-first{
        .cookie{
          &__light{
            &:nth-child(1){
              animation: animateTitleFirst 6s linear forwards infinite;            }
            &:nth-child(2){
              animation: animateTitleSecond 6s linear forwards infinite;            }
            &:nth-child(3){
              animation: animateTitleThird 6s linear forwards infinite;
            }
          }
        }
      }
    }
    &_style{
      &-first{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 55px;

                left: 16px;
                top: -12px;
              }
              &-second {
                width: 75px;

                left: 20px;
                top: -32px;
              }
              &-third{
                width: 90px;

                left: 24px;
                top: -51px;
              }
              &-fourth{
                width: 50px;

                left: 18px;
                top: -14px;
              }
              &-fifth{
                width: 55px;

                left: 22px;
                top: -18px;
              }
              &-six{
                width: 65px;

                left: 22px;
                top: -30px;
              }
            }
          }
        }
      }
      &-second{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 57px;

                left: -22px;
                top: 55px;
              }
              &-second {
                width: 65px;

                left: -22px;
                top: 44px;
              }
              &-third{
                width: 80px;

                left: -28px;
                top: 22px;
              }
              &-fourth{
                width: 50px;

                left: 5px;
                top: 42px;
              }
              &-fifth{
                width: 50px;

                left: 7px;
                top: 32px;
              }
              &-six{
                width: 72px;

                left: 8px;
                top: 28px;
              }
            }
          }
        }
      }
      &-third{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 57px;

                left: -22px;
                top: 37px;
              }
              &-second {
                width: 65px;

                left: -27px;
                top: 14px;
              }
              &-third{
                width: 92px;

                left: -44px;
                top: -7px;
              }
              &-fourth{
                width: 50px;

                left: -12px;
                top: 27px;
              }
              &-fifth{
                width: 55px;

                left: -13px;
                top: 23px;
              }
              &-six{
                width: 72px;

                left: -19px;
                top: -2px;
              }
            }
          }
        }
      }
      &-fourth{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 57px;

                left: -22px;
                top: 55px;
              }
              &-second {
                width: 65px;

                left: -27px;
                top: 50px;
              }
              &-third{
                width: 92px;

                left: -44px;
                top: 14px;
              }
              &-fourth{
                width: 50px;

                left: 2px;
                top: 43px;
              }
              &-fifth{
                width: 55px;

                left: 3px;
                top: 27px;
              }
              &-six{
                width: 72px;

                left: 8px;
                top: 26px;
              }
            }
          }
        }
      }
      &-fifth{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 68px;

                left: 38px;
                top: 52px;
              }
              &-second {
                width: 80px;

                left: 24px;
                top: 42px;
              }
              &-third{
                width: 100px;

                left: -3px;
                top: 12px;
              }
              &-fourth{
                width: 76px;

                left: 33px;
                top: 37px;
              }
              &-fifth{
                width: 76px;

                left: 27px;
                top: 25px;
              }
              &-six{
                width: 85px;

                left: 15px;
                top: 30px;
              }
            }
          }
        }
      }
      &-six{
        .cookie{
          &__light{
            &_style{
              &-first{
                width: 66px;

                left: 36px;
                top: 33px;
              }
              &-second {
                width: 65px;

                left: 36px;
                top: 36px;
              }
              &-third{
                width: 75px;

                left: 39px;
                top: 42px;
              }
              &-fourth{
                width: 52px;

                left: 41px;
                top: 31px;
              }
              &-fifth{
                width: 60px;

                left: 43px;
                top: 37px;
              }
              &-six{
                width: 69px;

                left: 44px;
                top: 41px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .cookie{
    &__img{
      &_step{
        &-first{
          .cookie{
            &__light{
            }
          }
        }
      }
      &_style{
        &-second{
          .cookie{
            &__light{
              &_style{
                &-first{
                  width: 39px;

                  left: -13px;
                  top: 28px;
                }
                &-second {
                  width: 45px;

                  left: -16px;
                  top: 21px;
                }
                &-third{
                  width: 60px;

                  left: -25px;
                  top: 3px;
                }
                &-fourth{
                  width: 36px;

                  left: 4px;
                  top: 20px;
                }
                &-fifth{
                  width: 50px;

                  left: 7px;
                  top: -2px;
                }
                &-six{
                  width: 59px;

                  left: 7px;
                  top: 2px;
                }
              }
            }
          }
        }
        &-third{
          .cookie{
            &__light{
              &_style{
                &-first{
                  width: 40px;

                  left: -15px;
                  top: 16px;
                }
                &-second {
                  width: 50px;

                  left: -23px;
                  top: 0px;
                }
                &-third{
                  width: 64px;

                  left: -31px;
                  top: -11px;
                }
                &-fourth{
                  width: 35px;

                  left: -11px;
                  top: 14px;
                }
                &-fifth{
                  width: 44px;

                  left: -12px;
                  top: 6px;
                }
                &-six{
                  width: 57px;

                  left: -18px;
                  top: -7px;
                }
              }
            }
          }
        }
        &-fourth{
          .cookie{
            &__light{
              &_style{
                &-first{
                  width:36px;

                  left: -16px;
                  top: 31px;
                }
                &-second {
                  width: 49px;

                  left: -20px;
                  top: 22px;
                }
                &-third{
                  width: 62px;

                  left: -27px;
                  top: 0px;
                }
                &-fourth{
                  width: 50px;

                  left: 6px;
                  top: 8px;
                }
                &-fifth{
                  width: 55px;

                  left: 8px;
                  top: -8px;
                }
                &-six{
                  width: 72px;

                  left: 8px;
                  top: -9px;
                }
              }
            }
          }
        }
        &-fifth{
          .cookie{
            &__light{
              &_style{
                &-first{
                  width: 48px;

                  left: 14px;
                  top: 23px;
                }
                &-second {
                  width: 60px;

                  left: 0px;
                  top: 13px;
                }
                &-third{
                  width: 57px;

                  left: 0px;
                  top: 8px;
                }
                &-fourth{
                  width: 36px;

                  left: 28px;
                  top: 29px;
                }
                &-fifth{
                  width: 36px;

                  left: 23px;
                  top: 22px;
                }
                &-six{
                  width: 46px;

                  left: 11px;
                  top: 20px;
                }
              }
            }
          }
        }
        &-six{
          .cookie{
            &__light{
              &_style{
                &-first{
                  width: 44px;

                  left: 22px;
                  top: 19px;
                }
                &-second {
                  width: 43px;

                  left: 21px;
                  top: 21px;
                }
                &-third{
                  width: 47px;

                  left: 23px;
                  top: 25px;
                }
                &-fourth{
                  width: 35px;

                  left: 24px;
                  top: 19px;
                }
                &-fifth{
                  width: 35px;

                  left: 25px;
                  top: 21px;
                }
                &-six{
                  width: 45px;

                  left: 25px;
                  top: 23px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes cookieLight {
   to{
     opacity: 1;
   }
}


@keyframes animateTitleFirst {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes animateTitleSecond {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes animateTitleThird {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes draggable {
  0%,50%{
    transform: rotate(0);
  }
  25%,75%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}