@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../../fonts/PPNeueMontreal/PPNeueMontreal-Medium/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('../../fonts/PPNeueMontreal/PPNeueMontreal-Medium/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../../fonts/PPNeueMontreal/PPNeueMontreal-Regular/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('../../fonts/PPNeueMontreal/PPNeueMontreal-Regular/PPNeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

