:root {
    --font-main: "Roboto Flex", sans-serif;
    --font-text: "Inter Tight", sans-serif;
    --color-white: #e7e7e7;
}

body {
    background-color: #000;
}

html{
    scroll-behavior: smooth;
}

.page-wrapper {
    overflow: hidden;

    padding-top: 66px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &__content{
        flex-grow: 1;
    }
    &-404{
        padding-bottom: 120px;
        background: url("../images/404.jpg") center center/cover no-repeat;
    }
}

.content{
    &-404{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.container {
    max-width: 1260px;
    width: 100%;

    padding: 0 40px;

    margin: 0 auto;

    &--padding {
        &--big {
            padding: 0 140px;
            @media screen and (max-width: 991px) {
                padding: 0 40px;
            }
        }
    }
    @media screen and (max-width: 600px) {
        padding: 0 12px;
    }
}

.title {
    font-family: var(--font-main);
    &--small {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.24px;
    }
    &--middle {
        font-size: 32px;
        font-weight: 600;
        line-height: 0.9;
        letter-spacing: 0.32px;

        @media screen and (max-width: 600px) {
            font-size: 24px;
        }
    }
    &--base {
        font-size: 80px;
        font-weight: 600;
        line-height: 0.9;
        letter-spacing: 1.6px;
        @media screen and (max-width: 991px) {
            font-size: 56px;
        }
        @media screen and (max-width: 600px) {
            font-size: 36px;
        }
    }
    &--white {
        color: #e7e7e7;
        &--opacity {
            color: rgba(#fff, 0.8);
        }
    }
    &--grey {
        color: #7c7c7c;
    }
    &--blue {
        color: #37bbfe;
    }
    &--underline {
        text-decoration: underline;
        text-underline-position: under;
    }
    &--black {
        color: #000;
    }

    &__logo {
        display: inline-flex;
        align-items: flex-end;
        gap: 5px;
        line-height: 0.6;

        img {
            width: 56px;
            height: 56px;
            object-fit: contain;
        }
        @media screen and (max-width: 991px) {
            img {
                width: 40px;
                height: 40px;
            }
        }
        @media screen and (max-width: 600px) {
            img {
                width: 23px;
                height: 23px;
            }
        }
    }
}

.text {
    font-family: var(--font-text);
    &--small {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.32px;
    }
    &--base {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.36px;
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
    }
    &--middle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.4px;
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
    }
    &--big {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.24px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
    }
    &--black {
        color: #000;
        &--grey {
            color: rgba(#000, 0.6);
        }
    }
    &--grey {
        color: rgba(#e7e7e7, 0.5);
        &--dark {
            color: #e7e7e7;
        }
        &--light {
            color: #7c7c7c;
        }
    }
    &--white {
        color: #fff;
    }
    &--underline {
        text-decoration: underline;
        text-underline-position: under;
    }
}

.menu {
    position: fixed;
    left: 60px;
    top: calc(50% - 100px);

    display: flex;
    align-items: stretch;
    gap: 16px;
    z-index: 10;

    width: 20px;
    overflow: hidden;

    transition: .3s width;

    @media screen and (max-width:992px) {
        display: none;
    }
    &:hover{
        width: 120px;
    }
    &__line {
        height: auto;
        width: 4px;
        display: block;
        background-color: rgba(#e7e7e7, 0.1);
        border-radius: 100px;

        flex-shrink: 0;

        position: relative;
        &::before{
            content: '';
            width: 4px;
            height: 20px;
            position: absolute;
            left: 0;
            top: var(--size);
            border-radius: 4px;
            display: block;
            background-color: #fff;

            transition: .3s top;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
  
    &__link {
        font-family: var(--font-main);
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.18px;
        text-transform: lowercase;
        color: rgba(#e7e7e7, 0.4);
        transition: .3s color;
        &:hover{
            color: rgba(#e7e7e7, 0.72);
        }
        &--active{
            color:#E7E7E7;
            &::before{
                background-color: #E7E7E7;
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: max-content;

    &--base {
        padding: 16px 32px;
        height: 80px;
        border-radius: 50px;

        font-family: var(--font-main);
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 800;
        &--small {
            height: 73px;
            font-size: 24px;
        }
    }
    &--green {
        background: #9eda3b;
        color: #f5f5f5;
        text-shadow: 0px 0px 24px #619d00;

        transition: 0.3s backgorund-color, .3s color;
        &:hover {
            background-color: #b5f054;
        }
    }
    &--full {
        width: 100%;
    }
    &--disabled{
        background-color: #7C7C7C;
        pointer-events: none;
        color:rgba(#E7E7E7,.4);
        text-shadow: none;
    }
}


.burger {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
    }
    &__item {
        position: absolute;
        top: 6px;
        left: 0;

        width: 100%;
        height: 2px;

        background: rgba(#E7E7E7,.2);

        &:nth-child(1) {
            transition:
                0.3s transform,
                0.3s top,
                0.3s background-color;
        }

        &:nth-child(2) {
            top: 14px;

            transition:
                0.3s transform,
                0.3s top,
                0.3s background-color;
        }
    }

    &--active {
        .burger__item {
            top: 12px;
            background: rgba(#E7E7E7,.8);
            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }

   
}
.header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;

    z-index: 13;
    &--active &__wrapper{
        background: rgba(26, 26, 26, 0.80);
        height: 100%;
        backdrop-filter: blur(40px);

    }
    &__nav{
        max-width: 350px;
        width: 100%;

        padding: 36px 0 0 0;
        @media screen and (max-width:600px) {
            max-width: 100%;
            padding: 20px 12px;
        }
    }
    &-nav{
        &__list{
           width: 100%;
        }
        &__link{
            display: flex;
            align-items: center;
            padding: 16px 0;
            color: rgba(226, 226, 226, 0.60);
            &--white{
                color:#E2E2E2;
            }
        }
        &__item{
            &:not(:last-child){
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            }
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        height: 66px;
        flex-direction: column;
        gap: 120px;
        border-radius: 0px 0px 40px 40px;

        

        transition: .3s background, .3s height;
        @media screen and (max-width:600px) {
            gap:0;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 20px;

        padding: 16px 40px 18px 40px;
        border-radius: 0px 0px 24px 24px;
        background: rgba(26, 26, 26, 0.8);

        backdrop-filter: blur(16px);
    }
    &__burger{
        @media screen and (min-width:992px) {
            display: none;
        }
    }
}

.logo {
    &-text {
        font-family: var(--font-main);
        display: flex;
        align-items: flex-end;
        color: var(--color-white);
        line-height: 0.8;
        text-transform: uppercase;
        &--green{
            color:#9EDA3B;
        }
        &__slash {
            font-size: 40px;
            letter-spacing: -4px;
            font-weight: 650;
        }
        &__label {
            font-size: 27px;
            font-weight: 700;
            letter-spacing: 1.07px;
        }
    }
}

.hero {
    position: relative;
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media screen and (max-width: 600px) {
            order: 2;
        }
    }
    &__footer {
        @media screen and (max-width: 600px) {
            margin: 40px 0 0 0;
            order: 3;
        }
    }
    &__text {
        max-width: 470px;
        width: 100%;

        margin: 0 auto;

        font-family: var(--font-main);
        color: #e2e2e2;

        text-align: center;

        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
        letter-spacing: -0.24px;
        text-align: center;

        position: relative;
        z-index: 3;

        @media screen and (max-width: 600px) {
            font-size: 20px;
        }
    }
    &__video {
        height: 345px;
        width: 100%;
        position: relative;
        z-index: -1;

        opacity: 0.8;

        video {
            position: absolute;
            left: 0;
            top: -80px;
            width: 100%;
            height: calc(100% + 160px);
            object-fit: contain;
        }

        @media screen and (max-width: 600px) {
            order: 1;
            height: 400px;

            video {
                height: 500px;
                top: -50px;
            }
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 144px;

        padding-right: 40px;
        &__img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
}

.section {
    &-plans {
        background: linear-gradient(0deg, rgba(#9eda3b, 0) 0%, rgba(#9eda3b, 0.85) 50%);
    }
    &-bonus{
        position: relative;
        overflow: hidden;
        padding-bottom: 100px;
        &::before{
            content: '';
            width: calc(100vw + 200px);
            height: 1100px;
            display: block;

            position: absolute;
            bottom: 0;
            left: -100px;
            z-index: -1;

            background: url("../images/radial-shield.svg") bottom center/cover no-repeat;
        }
        @media screen and (max-width:600px) {
            padding-bottom: 80px;
            &::before{
                height: 320px;
            }
        }
    }
    &__wrapper {
        padding: 90px 0;
        @media screen and (max-width: 600px) {
            padding: 50px 0;
        }
        &--plans {
            padding-top: 270px;
            @media screen and (max-width: 600px) {
                padding-top: 100px;
            }
        }
        &--product{
            padding-top: 150px;
            @media screen and (max-width: 600px) {
                padding-top: 100px;
            }
        }
    }
    &__content {
        &:not(:last-child) {
            margin: 0 0 40px 0;
        }
    }
    &__title + &__subtitle {
        margin: 32px 0 0 0;
    }
    &__header {
        display: flex;
        flex-direction: column;

        &--hunt {
            position: relative;
            z-index: 3;
        }

        &:not(:last-child) {
            margin: 0 0 80px 0;
          
            @media screen and (max-width: 600px) {
                margin: 0 0 48px 0;
            }
        }

        &--margin{
            &--big{
                &:not(:last-child) {
                    margin: 0 0 180px 0;
                  
                    @media screen and (max-width: 600px) {
                        margin: 0 0 48px 0;
                    }
                }
            }
        }

        &--small {
            @media screen and (min-width: 992px) {
                padding-left: 100px;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        @media screen and (max-width: 991px) {
            grid-template-columns: minmax(0, 1fr);
        }
        &--video {
            grid-auto-rows: 440px;
            @media screen and (max-width: 991px) {
                grid-auto-rows: 360px;
            }
        }
    }
    &__subtitle {
        &--small {
            max-width: 600px;
            width: 100%;
        }
        &--middle {
            max-width: 650px;
            width: 100%;
        }
    }
    &__title {
        &--small {
            max-width: 900px;
            width: 100%;
        }
    }
}

.mentor {
    &-grid {
        &__wrapper {
            display: grid;

            justify-content: space-between;
            gap: 10px 25px;

            grid-template-columns: repeat(5, minmax(0, 1fr));
            @media screen and (max-width: 600px) {
                gap: 15px 0;
                grid-template-columns: repeat(5, minmax(0, 1fr));
                grid-auto-rows: auto;
            }
        }
    }
    &-item {
        &__wrapper {
            background-color: #1a1a1a;
            border-radius: 50px;
            padding: 48px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 40px;

            width: 100%;
            height: 100%;

            position: relative;
            @media screen and (max-width: 600px) {
                padding: 24px;
                gap: 20px;
            }
            &--small {
                padding: 0;
                border-radius: 40px;

                aspect-ratio: 1;
            }
        }
        &__video {
            width: 240px;
            height: 240px;
            border-radius: 40px;
            overflow: hidden;
            background-color: #8f8f8f;

            &--full {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    height: 50%;
                    width: 100%;
                    display: block;
                    bottom: 0;
                    left: 0;

                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #131313 100%);

                    z-index: 2;
                }
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            gap: 12px;

            position: relative;
            z-index: 3;
        }
        &__title {
            font-family: var(--font-main);
            font-size: 56px;
            color: #e7e7e7;
            font-weight: 600;
            line-height: 0.9;
            letter-spacing: 1.12px;
        }
        &__text {
            text-shadow: 0px 0px 40px #619d00;
        }
        &__header {
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: center;
            text-align: center;

            height: 100%;
        }
    }
}

.video {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    &--play &__button {
        &::before {
            background-image: url("../images/icons/pause.svg");
        }
    }
    &__item {
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    &__button {
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        background-color: rgba(#1a1a1a, 0.5);

        position: relative;
        z-index: 2;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            display: block;

            background: url("../images/icons/play.svg") center center/contain no-repeat;
        }

        &--mobile {
            &--center {
                @media screen and (max-width: 600px) {
                    position: absolute;
                    top: calc(50% - 32px);
                    left: calc(50% - 32px);
                }
            }
        }
    }
}
.hunt {
    position: relative;
    &::before {
        content: "";
        width: 2400px;
        height: 1100px;
        border-radius: 50%;
        background: #000;
        position: absolute;
        bottom: -250px;
        left: calc(50% - 1200px);

        z-index: 1;

        @media screen and (max-width: 991px) {
            bottom: -100px;
        }
    }
    &__video {
        height: 220px;
        width: 100%;
        position: relative;
        video {
            width: 100%;
            height: 623px;
            position: absolute;
            right: -60px;
            top: -250px;

            object-fit: contain;

            z-index: -1;
        }
        @media screen and (max-width: 600px) {
            height: 320px;
            video{
                height: 480px;
            width: 523px;
            top: -100px;

            object-fit: cover;
            right: -100px;
            }
        }
    }
}

.plans {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
    &-price {
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &__row {
            display: flex;
            align-items: flex-start;
            gap: 12px;
        }
        &__tag {
            padding: 12px 20px;
            font-size: 20px;
            font-family: var(--font-text);
            font-weight: 500;
            line-height: 1.4;
            color: #fff;
            letter-spacing: 0.4px;

            width: max-content;

            border-radius: 100px;
            background: rgba(255, 255, 255, 0.1);

            backdrop-filter: blur(22px);

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
        &__text {
            font-family: var(--font-text);
            font-size: 44px;
            font-weight: 600;
            line-height: 1.4;
            letter-spacing: 0.86px;
            text-transform: lowercase;

            color: #000;

            @media screen and (max-width: 600px) {
                font-size: 40px;
            }
            &--old {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.4;
                text-decoration-line: line-through;
                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }
            &--white {
                color: #e7e7e7;
            }
        }
    }
    &-item {
        &__wrapper {
            padding: 48px 40px 40px 40px;
            border-radius: 44px;
            background: #e7e7e7;
            height: 100%;
            display: flex;
            flex-direction: column;
            &--black {
                background: #000 url("../images/price-stars.png") center center/cover no-repeat;
            }

            @media screen and (max-width: 600px) {
                padding: 28px 24px 24px 24px;
                border-radius: 40px;
            }
        }
        &__footer {
            margin: auto 0 0 0;

            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &__header {
            display: flex;
            flex-direction: column;
            gap: 22px;

            margin: 0 0 40px 0;
        }
        &__tag {
            margin: 0 0 14px 0;
            &--margin {
                &--big {
                    margin: 0 0 24px 0;
                }
            }
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__item {
            display: flex;
            align-items: center;
            gap: 8px;
            &--small {
                max-width: 375px;
                width: 100%;
            }
        }
        &__icon {
            width: 12px;
            height: 12px;
            display: block;
            flex-shrink: 0;
            position: relative;
            &::before,
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: #000;
                position: absolute;
                left: calc(50% - 6px);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(90deg);
            }
            &--white {
                &::before,
                &::after {
                    background-color: #fff;
                }
            }
        }
    }
}

.tg {
    &-link {
        &__button {
            margin: auto 0 auto auto;
            width: 96px;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;

            flex-shrink: 0;
            background: rgba(231, 231, 231, 0.05);
            border-radius: 24px;
            &::before {
                content: "";
                width: 12px;
                height: 12px;
                display: block;

                background: url("../images/icons/tg-arrow.svg") center center/contain no-repeat;
            }

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        &__wrapper {
            padding: 40px;
            display: flex;
            align-items: stretch;
            gap: 20px;

            width: 100%;

            background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(21, 21, 21, 0.8) 100%);
            border-radius: 44px;

            @media screen and (max-width: 600px) {
                padding: 24px;
                border-radius: 40px;
                flex-direction: column;
            }
        }
        &__img {
            height: 100%;
            aspect-ratio: 1;

            border-radius: 24px;
            object-fit: cover;

            flex-shrink: 0;

            @media screen and (max-width: 600px) {
                width: 80px;
                height: 80px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            max-width: 580px;
            width: 100%;
        }
    }
}

.example {
    &--access &-link{
        pointer-events: unset;
    }
    &__grid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
    &-video {
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    &__video {
        max-width: 360px;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 60px;

        @media screen and (max-width: 600px) {
            max-width: 200px;
            border-radius: 30px;
        }
        video {
            width: 100%;
            height: 100%;

            object-fit: contain;

            position: absolute;
            left: 0;
            z-index: -1;
        }
    }
    &__list {
        max-width: 480px;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-link {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 32px;
        border-radius: 20px;
        background-color: #000;
        transition:
            0.3s background-color,
            0.3s border-color;
        position: relative;

        pointer-events: none;
        &--active{
            pointer-events: unset;
        }
        &::before{
            content: '';
            position: absolute;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            display: block;
            top: -2px;
            left: -2px;

            border-radius: 20px;
            background-color: #1a1a1a;
            z-index: -1;

            transform: scale(-1);
        }

        @media screen and (max-width: 600px) {
            padding: 24px;
        }
        &__label {
            opacity: 0.6;

            transition: 0.3s opacity;
        }
     
        &__text {
            display: none;
        }
        &--active {
            background-color: #1a1a1a;
            &::before{
                animation: progress var(--videoTime) cubic-bezier(.25, .4, .75, .6) forwards; /* скорость анимации */
                background-color: #9EDA3B;
            }
        }
        &--active &__text {
            display: block;
        }
        &--active &__label {
            opacity: 1;
        }
    }
}

@keyframes progress {
    0% { clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%); }
    17.1875% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%); }
    32.8125%  { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 100%); }
    67.1875%{ clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 100%); }
    82.8125%   { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%); }
    100% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 0%);}

    
}

.steps {
    position: relative;
    &-video{
        position: absolute;
        left: -200px;
        top: calc(var(--video-size) - 300px);
       
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;

        width: 600px;
        height: 600px;
        @media screen and (max-width:991px) {
            opacity: .54;
            left: 0;
            top: calc(var(--video-size) - 25vw);

            width: 100vw;
            height: 100vw;
        }
        &__item{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

        
            video{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__grid {
        display: flex;
        flex-direction: column;
        gap: 280px;

        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        counter-reset: number;

        position: relative;

        @media screen and (max-width:600px) {
            gap: 180px;
        }
    }
    &__progress{
        width: 5px;
        height: var(--full-size);

        display: block;
        position: absolute;
        top: 28px;
        left: calc(50% - 2.5px);
        background-color: #171717;
        z-index: -1;
        overflow: hidden;
        &::before{
            content: '';
            width: 100%;
            height: var(--size);
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            background-color: #9EDA3B;
        }

        @media screen and (max-width:991px) {
            left: 26px;
        }
    }
    &-item {
        counter-increment: number;
        
        &__count {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            background-color: #171717;
          
            transition: .3s background-color;
            
            &::before {
                content: counter(number);
                font-family: var(--font-main);
                font-size: 24px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: -0.24px;
                color: #7a7a7a;
                transition: .3s color;
            }
            &--active{
                background-color: #9EDA3B;
                &::before{
                    color:#fff;
                }
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: minmax(0, 1fr) 56px minmax(0, 1fr);
            gap: 44px;
            @media screen and (max-width:991px) {
                grid-template-columns: 56px minmax(0,1fr);
            }
        }
        &__block{
            @media screen and (max-width:991px) {
                display: none;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}

.bonus{
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 100px;

        @media screen and (max-width:991px) {
            gap: 40px;
        }
        @media screen and (max-width:600px) {
            grid-template-columns: minmax(0,1fr);
        }
    }
    &-item{
        &__wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            @media screen and (max-width:600px) {
                gap: 32px;
            }
        }
        &__header{
            display: flex;
            flex-direction: column;
            gap: 16px;

            max-width: 400px;
            width: 100%;
        }
        &__person{
            width: 192px;
            height: 192px;
            border-radius: 50%;
            display: block;
        }
        &__chat{
            width: 100%;
            height: 100%;
            max-width: 340px;
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    padding: 15px;
    background: rgba(0, 0, 0, 0.70);

    backdrop-filter: blur(16px);
  
    z-index: 12;
  display: none;
  &-thanks{
    background-color: #000;
  }
    &--active {
      display: block;
    }

    &-thanks{
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            text-align: center;

            @media screen and (max-width:600px) {
                gap: 20px;
            }
        }
        &__icon{
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 24px;
            background-color: #1A1A1A;

            &::before{
                content: '';
                width: 48px;
                height: 48px;
                display: block;

                background: url("../images/icons/check.svg") center center/contain no-repeat;
            }
        }
    }
  
    &__close {
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 32px;
      right: 32px;

    
      &:hover {
        cursor: pointer;
  
        &::before, &::after {
          background-color: #fff;
        }
      }
  
      &::before, &::after {
        content: '';
        width: 14px;
        height: 2px;
        display: block;
  
  
        position: absolute;
        left: calc(50% - 7px);
        top: calc(50% - 1px);
        background-color: #333;
        border-radius: 4px;
        transition: .3s background-color;
      }
 
      &::before {
        transform: rotate(45deg);
      }
  
      &::after {
        transform: rotate(-45deg);
      }
    }
  
    &__wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &__header{
        margin: 0 0 40px 0;

        @media screen and (max-width:991px) {
            margin: 0 0 32px 0;
        }
        @media screen and (max-width:600px) {
            margin: 0 0 24px 0;
        }
    }
  
    &__container {
      background-color: #E7E7E7;
      max-width: 484px;
      width: 100%;
      border-radius: 48px;
      max-height: 90%;
      height: max-content;
  
      padding: 40px 48px;
  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      overflow-y: auto;
      overflow-x: hidden;

      &--black{
        background-color: #1A1A1A;
      }
      &--transparent{
        background-color: transparent;
      }
      &--big{
        max-width: 380px;
        padding: 0;
      }
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
  }


  .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &:invalid .button{
        background-color: #7C7C7C;
        pointer-events: none;
        color:rgba(#E7E7E7,.4);
        text-shadow: none;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &-input{
        width: 100%;
        height: 64px;
        position: relative;
        &__item{
            width: 100%;
            height: 100%;
            border: 2px solid rgba(124, 124, 124, 0.40);
            border-radius: 100px;

            padding: 20px 88px 20px 32px;

            font-family: var(--font-main);
            font-size: 24px;
            font-weight: 600;
            color:#000;

            transition: .3s border-color;
            &:hover{
                border-color: #7C7C7C;
            }
            &:focus:invalid{
                border-color: #D96C06;
            }
            &:focus{
                border-color: #E7E7E7;
            }
            &:valid{
                border-color: #9EDA3B;
            }

            &::placeholder{
                color:#7C7C7C;
            }

            @media screen and (max-width:991px) {
                font-size: 20px;
            }
            @media screen and (max-width:600px) {
                font-size: 18px;
            }
        }
        &__item:valid ~ &__icon{
            background: url("../images/icons/check-input.svg") center center/contain no-repeat;
        }
        &__item:invalid ~ &__icon{
            background: url("../images/icons/error-input.svg") center center/contain no-repeat;
        }
        &__icon{
            position: absolute;
            width: 24px;
            height: 24px;
            top: calc(50% - 12px);
            right: 32px;
        }
    }
    &__text{
        max-width: 307px;
        width: 100%;

        font-family: var(--font-main);
        font-size: 14px;
        color:#7C7C7C;
        font-weight: 500;
        line-height: 1.4;
        a{
            text-decoration: underline;
            text-underline-position: under;
        }
    }
  }

  .footer{
    &__wrapper{
        padding: 90px 0 32px 0;
    }
    &__row{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 48px;

        @media screen and (max-width:600px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__block{
        max-width: 580px;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 60px 20px;

        @media screen and (max-width:991px) {
            grid-template-columns: minmax(0,1fr);
            gap: 40px;

            max-width: 280px;
        }
    }
    &__copyright{
        @media screen and (max-width:991px) {
            margin: 20px 0 0 0;
        }
    }
    &__link,&__text{
        font-family: var(--font-text);
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 1.1;
        font-weight: 500;

        @media screen and (max-width:991px) {
            font-size: 16px;
        }
    }
    &__link{
        color:rgba(#E7E7E7,.8);
    }
    &__text{
        color:rgba(#E7E7E7,.3);
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }
  }

  #cases{
    position: relative;
    z-index: 2;
  }


.animation-item{
    opacity: 0;
    &--animated{
      animation: drop 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    }
  }
  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(10vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }  