:root {
  --font-main: 'Geologica', sans-serif;
  --body-bg: linear-gradient(180deg, #01234c 0%, #015cc5 100%);

  --container-size: 1310px;
  --container-size-small: 1250px;
  --container-padding-side: 16px;
  --container-full-small-size: calc(var(--container-size-small) + 2 * (var(--container-padding-side)));
  --container-full-size: calc(var(--container-size) + 2 * (var(--container-padding-side)));

  --color-white: #FAFDFF;

  --color-link:#4499FD;
}


body {
  background: var(--body-bg);
  font-family: var(--font-main);
  font-weight: 400;

  color: #fff;

  &:has([name='menu']:checked) {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

.container {
  max-width: 100%;
  width: var(--container-full-size);
  padding: 0 var(--container-padding-side);
  margin: 0 auto;

  &--full {
    padding: 0;
    width: var(--container-size);
  }

  &--small {
    width: var(--container-full-small-size);
  }

  &--left {
    @media screen and (min-width: 1361px) {
      padding: 0;
      width: unset;
      margin: 0 0 0 calc((100% - var(--container-full-size)) / 2);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.page-wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }
}

.title {
  &--tiny {
    font-size: 24px;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &--small {
    font-size: 32px;
    line-height: 1.2;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &--base {
    font-weight: 700;
    font-size: 48px;
    line-height: 152%;
    text-transform: uppercase;
    &--no--transform{
      text-transform: unset;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }

  &--biggest{
    font-weight: 700;
    font-size: 99px;
    line-height: 1.2;

    @media screen and (max-width: 767px) {
      font-size: 32px;
    }
    &--number{
      font-size: 80px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  &--accent{
    color: #012856;
  }

  &--black{
    color: #000;
  }

  &--semibold {
    font-weight: 600;
  }

  &--medium {
    font-weight: 500;
  }

  &--white {
    color: #fff;
  }

  &--center{
    text-align: center;
  }
}

.list{
  list-style: disc inside;
}

.text {
  &--base {
    font-size: 18px;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &--big{
    font-size: 24px;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &--light {
    font-weight: 300;
  }

  &--semibold {
    font-weight: 600;
  }

  &--accent{
    color: #012856;
  }

  &--black{
    color: #000;
  }

  &--blue{
    color: #92B7E1;
  }

  &--link {
    color: #4499FD;
    text-decoration: underline;
    text-underline-position: under;
  }

  &--uppercase{
    text-transform: uppercase;
  }

  &--line{
    &--big{
      line-height: 1.8;
      @media screen and (max-width: 767px) {
        line-height: 1.4;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  max-width: 100%;

  &--big {
    padding: 18px;
    font-size: 37px;

    max-width: 575px;
    width: 100%;
    height: 84px;

    border-radius: 14px;

    &--middle{
      max-width: 500px;
      &--big{
        max-width: 534px;
      }
    }
    &--small{
      max-width: 450px;
    }

    @media screen and (max-width: 767px) {
      height: 40px;
      padding: 8px;
      font-size: 18px;
      border-radius: 6px;
    }
  }

  &--blue {
    &--gradient {
      color: #fff;
      background: linear-gradient(90deg, #137ffe 0%, #94c3fa 77.1%, #3687e6 100%);
      position: relative;
      overflow: hidden;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #8ec0fa 0%, #94c3fa 94%);
        opacity: 0;

        transition: .3s opacity;

      }
      &:hover{
        &::before{
          opacity: 1;
        }
      }
    }
  }

  &--center {
    margin: 0 auto;
  }

  &__text{
    display: block;
    position: relative;
    z-index: 2;
  }
}

.header {
  position: relative;
  z-index: 12;

  &__wrapper {
    padding: 55px 0 0 0;
    @media screen and (max-width: 1360px) {
      padding: 15px 0 0 0;
    }
  }

  &--active &__nav {
    opacity: 1;
    visibility: visible;
  }

  &:has([name='menu']:checked) &__nav {
    opacity: 1;
    visibility: visible;
  }

  &__nav {
    flex-grow: 1;
    flex-shrink: 0;
    padding-bottom: 10px;
    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100svh;

      background: var(--body-bg);

      padding-top: 90px;

      opacity: 0;
      visibility: hidden;

      transition: .3s visibility, .5s opacity;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    gap: clamp(15px, 6vw, 90px);
    @media screen and (max-width: 767px) {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    width: 250px;
    height: 110px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1360px) {
      width: 105px;
      height: 45px;
    }
  }

  &__burger {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 16px;
  height: 16px;

  --burger-color: #fff;

  &:hover {
    cursor: pointer;
  }

  &:has(:checked) &__item {
    &:nth-child(1) {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
      pointer-events: none;
      left: -10px;
    }
  }

  &__input {
    display: none;
  }

  &__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    border-radius: 16px;
    display: block;

    background: var(--burger-color);

    &:nth-child(1) {
      top: 2px;
      left: 0;

      transition: .3s top, .3s transform;
    }

    &:nth-child(2) {
      top: calc(50% - 1px);
      left: 0;
      transition: .3s left, .3s opacity;
    }

    &:nth-child(3) {
      top: calc(100% - 4px);
      left: 0;
      transition: .3s top, .3s transform;
    }
  }
}

.nav {
  --link-color: var(--color-white);
  --link-color-hover: var(--color-link);
  --link-size: 20px;
  --link-padding: 10px 10px;
  --padding-size: 16px;
  @media screen and (max-width: 1360px) {
    --link-size: 16px;
    --padding-size: 8px;
  }

  &--header {
    @media screen and (max-width: 767px) {
      --link-padding: 24px 0;
    }
  }

  &--footer {
    @media screen and (max-width: 767px) {
      --link-padding: 4px 0;
    }
  }

  &--header &-list {
    @media screen and (max-width: 767px) {
      &__item {
        width: 100%;

        &:not(:first-child) {
          border-top: 1px solid rgba(#A6C1E0, .5);
        }
      }
      &__link {
        width: 100%;
        justify-content: flex-start;


      }
    }
  }

  &--footer &-list {
    @media screen and (max-width: 767px) {
      gap: 12px;
      &__link {
        line-height: .7;
      }
    }
  }

  &-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 var(--padding-size);

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: var(--link-padding);

      color: var(--link-color);
      font-size: var(--link-size);
      font-weight: 500;

      transition: .3s color;
      &:hover{
        color: var(--link-color-hover);
      }
    }
  }
}

.decor{
  &-line{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 50px;
    opacity: .89;
    background: rgba(#014CA4,.15);
    
    @media screen and (max-width: 767px) {
      height: 25px;
    }
    &--light{
      background: rgba(#014CA4,.35);
    }
  }
}

.section {
  &--decor{
    position: relative;
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      height: 1300px;
      max-height: 60%;
      background: url("../../images/decor/section-top.png") top right/contain no-repeat;
      @media screen and (max-width: 767px) {
        width: 70%;
        height: 100%;
        top: -5%;
      }
    }
    &::after{
      content: '';
      position: absolute;
      width: 1400px;
      bottom: 0;
      left: 0;
      height: 700px;
      max-height: 60%;
      background: url("../../images/decor/section-bottom.png") bottom left/contain no-repeat;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &--dark{
      &::before{
        background: url("../../images/decor/section-top-dark.png") top right/contain no-repeat;
        height: 100%;
        max-height: 100%;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      &::after{
        height: 1200px;
        max-height: 100%;
        background: url("../../images/decor/section-bottom-dark.png") bottom left/contain no-repeat;
        @media screen and (max-width: 767px) {
          display: block;
          max-height: 80%;
        }
      }
    }
  }
  &--white{
    background: #fff;
  }
  &-bg{
    position: relative;
    &__img{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: .35;

      &--desktop{
        &--clear{
          @media screen and (min-width: 768px) {
            opacity: 1;
          }
        }
      }

      &--hard--light{
        mix-blend-mode: hard-light;
      }
      img,picture{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-img{
    position: relative;
    &__item{
      &--big{

      }
    }
  }
  &-bg &__wrapper{
    position: relative;
    z-index: 2;
  }
  &__wrapper {
    padding: 85px 0;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 767px) {
      padding: 30px 0;
    }
    &--screen{
      min-height: 100svh;
      display: flex;
      align-items: center;
      justify-content: center;
      &--mobile{
        @media screen and (max-width: 767px) {
          min-height: 100svh;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &--big{
      padding: 200px 0;
      @media screen and (max-width: 767px) {
        padding: 80px 0;
      }
    }
    &--padding{
      &--bottom{
        &--big{
          padding-bottom: 200px;
          @media screen and (max-width: 767px) {
            padding-bottom: 80px;
          }
        }
      }
    }
    &--numbers{
      padding: 0 0 250px 0;
      @media screen and (max-width: 767px) {
        padding:0 0 150px 0;
      }
    }
  }

  &__header {
    &:not(:last-child) {
      margin: 0 0 85px 0;
      @media screen and (max-width: 767px) {
        margin: 0 0 30px 0;
      }
    }

    &--margin {
      &--big{
        &:not(:last-child) {
          margin: 0 0 180px 0;
          @media screen and (max-width: 767px) {
            margin: 0 0 50px 0;
          }
        }
      }
      &--small {
        &:not(:last-child) {
          margin: 0 0 50px 0;
          @media screen and (max-width: 767px) {
            margin: 0 0 30px 0;
          }
        }
      }
      &--tiny{
        &:not(:last-child) {
          margin: 0 0 30px 0;
          @media screen and (max-width: 767px) {
            margin: 0 0 16px 0;
          }
        }
      }
    }
  }

  &__content {
    &:not(:last-child) {
      margin: 0 0 60px 0;
      @media screen and (max-width: 767px) {
        margin: 0 0 30px 0;
      }
    }
    &--margin{
      &--big{
        &:not(:last-child) {
          margin: 0 0 100px 0;
          @media screen and (max-width: 767px) {
            margin: 0 0 24px 0;
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__column{
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media screen and (max-width: 767px) {
      gap: 16px;
    }

    &--gap{
      &--tiny{
        gap: 12px;
        @media screen and (max-width: 767px) {
          gap: 4px;
        }
      }
      &--big{
        gap: 64px;
        @media screen and (max-width: 767px) {
          gap: 32px;
        }
      }
    }
  }

  &__tag{

  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 32px;
  @media screen and (max-width: 767px) {
    grid-template-columns: minmax(0,1fr);
    gap: 16px;
  }
  &--object{
    @media screen and (min-width: 768px) {
      border-radius: 18px;
      overflow: hidden;
    }
  }
  &__img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;


    height: 90vh;
    min-height: 500px;

    border-radius: 16px;
    overflow: hidden;
    
    @media screen and (max-width: 767px) {
      height: unset;
      min-height: unset;

      aspect-ratio: 1.4;

      border-radius: 10px;
      &--full{
        width: calc(100% + 32px);

        transform: translateX(-16px);
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.tag{
  &-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 45px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 16px;
    }
  }
  &-item{
    font-size: 24px;
    letter-spacing: 0.01em;
    padding: 12px 55px;

    width: max-content;
    height: 68px;
    max-width: 100%;

    backdrop-filter: blur(5px);
    background: rgba(0, 29, 64, 0.53);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    @media screen and (max-width: 1300px) {
      font-size: 22px;
    }

    @media screen and (max-width: 767px) {
      padding: 7px 10px;
      height: 36px;
      font-size: 16px;

      border-radius: 8px;
    }
    &--small{
      padding: 20px;
      text-transform: uppercase;
      @media screen and (max-width: 767px) {
        height: 52px;
        width:100%;
      }
    }
  }
}

.contact {
  &-grid {
    display: grid;
    grid-template-columns: 440px minmax(0, 1fr);
    border-radius: 18px;
    overflow: hidden;
    gap: 8px;
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
    }

    &__info {
      padding: 24px;
      background: linear-gradient(180deg, rgba(1, 38, 82, 0.6) 0%, rgba(1, 52, 112, 0.6) 63.76%, rgba(3, 96, 207, 0.6) 100%);
      @media screen and (max-width: 767px) {
        padding: 16px;
      }
    }

    &__map {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 440px;

      @media screen and (max-width: 767px) {
        height: 350px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__link {
      display: flex;
      align-items: flex-start;
      gap: 16px;

      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #fff;

      @media screen and (max-width: 767px) {
        gap: 8px;
        font-size: 16px;
      }
    }

    &__icon {
      width: 36px;
      height: 36px;

      flex-shrink: 0;

      fill: #fff;
      @media screen and (max-width: 767px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}


.documents {
  &-main {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
      @media screen and (max-width: 767px) {
        gap: 40px;
      }
    }

    &__grid {
      display: grid;
      gap: 18px;
      grid-template-columns:minmax(700px, 1fr) minmax(0, 1fr);
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @media screen and (max-width: 767px) {
        display: none;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-table {
    overflow: auto;

    &__wrapper {
      border: 1px solid #FFFFFF;
      width: 100%;
      min-width: 640px;
    }

    &__row {
      display: grid;
      grid-template-columns: minmax(260px, 2fr) minmax(380px, 3fr);
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }
    }

    &__column {
      padding: 10px 13px;

      & + & {
        border-left: 1px solid #fff;
      }
    }

    &__text {
      font-size: 14px;
      color: #fff;
      line-height: 1.3;

      &--medium {
        font-weight: 500;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 180px;
    @media screen and (max-width: 767px) {
      gap: 120px;
    }
  }

  &-qr {
    display: flex;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1100px) {
      align-items: flex-start;
      flex-direction: column;
    }

    &__img {
      flex-shrink: 0;

      width: 180px;
      height: 180px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 767px) {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 300;
      color: #fff;

      @media screen and (max-width: 767px) {
        font-size: 16px;
      }

      span {
        font-weight: 500;
      }

      &--link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4499fd;
      }
    }
  }

  &-item {
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 60px;
      @media screen and (max-width: 767px) {
        gap: 16px;
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &__img {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      img {
        width: 100%;
        object-fit: contain;
        border: 24px solid #063A71;
        @media screen and (max-width: 767px) {
          border: 8px solid #063A71;
        }
      }
    }

    &__header {
      margin: 0 0 48px 0;

      @media screen and (max-width: 767px) {
        margin: 0 0 16px 0;
        display: none;
        padding: 0 8px;
      }

      &--mobile {
        display: block;
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }

    &__content {
      margin: 0 0 84px 0;
      @media screen and (max-width: 767px) {
        margin: 0 0 16px 0;
        padding: 0 8px;
      }
    }

    &__footer {
      @media screen and (max-width: 767px) {
        padding: 0 8px;
      }
    }

    &__title {
      font-size: 40px;
      line-height: 1.4;
      color: #fff;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}


// footer

.footer {
  &-block {
    @media screen and (max-width: 767px) {
      &--info {
        order: 2;
      }

      &--contact {
        order: 3;
        max-width: 200px;
        width: 100%;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media screen and (max-width: 991px) {
        gap: 4px;
      }
    }
  }

  &__wrapper {
    padding: 50px 0;
    @media screen and (max-width: 767px) {
      padding: 50px 0 15px 0;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: 767px) {
      gap: 45px;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.2;
    color: #B8CDE7;
    letter-spacing: 0.15px;

    &--link {
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: rgba(#fff, .65);
    }

    @media screen and (max-width: 991px) {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: clamp(15px, 3vw, 50px);
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 90px;
    }
  }

  &__logo {
    width: 380px;
    height: auto;
    @media screen and (max-width: 767px) {
      width: 155px;
      height: 70px;

      order: 2;
    }
  }

  &__nav {
    padding-bottom: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    @media screen and (max-width: 767px) {
      padding-bottom: 0;
      position: relative;
      width: 100%;
      &::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: #A6C1E0;

        position: absolute;
        left: 0;
        bottom: -44px;
      }
    }
  }
}

.object {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 200px;
    @media screen and (max-width: 767px) {
      gap: 72px;
    }
  }

  &-item {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &__grid {
      display: grid;
      grid-template-columns: 4fr 6fr;
      gap: 8px;
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 24px;

      padding: 18px;

      background: linear-gradient(180deg, rgba(1, 38, 82, 0.6) 0%, rgba(1, 52, 112, 0.6) 63.76%, rgba(3, 96, 207, 0.6) 100%);
      border-radius: 18px 0 0 0;
      @media screen and (max-width: 767px) {
        padding: 16px;
        border-radius: 16px 16px 0 0;

      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__tag {
      padding: 8px;
      background: rgba(#002958, .75);
      border-radius: 8px;

      width: max-content;
      @media screen and (max-width: 767px) {
        padding: 6px;
        border-radius: 6px;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__footer {
      padding: 0 18px;
      max-width: 1084px;
      width: 100%;
    }
  }

  &-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 18px 0 0;
    @media screen and (max-width: 767px) {
      border-radius: 0;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      min-height: 420px;
      height: 100%;
      @media screen and (max-width: 767px) {
        height: auto;
        min-height: unset;
        aspect-ratio: 1.4;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-nav {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;

    &__item {
      width: calc(10% - 9px);
      display: flex;
      align-items: center;
      justify-content: center;

      aspect-ratio: .75;

      position: relative;
      transition:.3s border-radius;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        border: 5px solid transparent;

        transition: .3s border-color, .3s border-radius;
      }

      &.swiper-slide-thumb-active {
        &::before {
          border-color: #4499FD;
        }
      }

      @media screen and (min-width: 1241px) {
        &:first-child.swiper-slide-thumb-active{
          border-bottom-left-radius: 18px;
          overflow: hidden;
          &::before{
            border-bottom-left-radius: 18px;
          }
        }
        &:last-child.swiper-slide-thumb-active{
          border-bottom-right-radius: 18px;
          overflow: hidden;
          &::before{
            border-bottom-right-radius: 18px;
          }
        }
      }

      @media screen and (max-width: 1240px) {
        width: 20vw;

        &::before {
          border-width: 3px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-card{
    position: relative;
    @media screen and (max-width: 767px) {
      border-radius: 16px;
      overflow: hidden;
    }
    &__img{
      width: 100%;
      height: auto;

      aspect-ratio: 2/1;

      object-fit: cover;
      @media screen and (max-width: 767px) {
        aspect-ratio: 1.4;
      }
    }
    &__content{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      z-index: 2;

      backdrop-filter: blur(4px);
      background: rgba(1, 60, 129, 0.65);

      padding: 18px 16px;
      @media screen and (max-width: 767px) {
        padding: 8px 16px;
      }
    }
    &__text{
      max-width: 500px;
      width: 100%;

      font-size: 20px;
      color:#fff;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}

.about {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    @media screen and (max-width: 767px) {
      gap: 16px;
    }

    counter-reset: about-list;

    &__item {
      display: flex;
      align-items: center;
      gap: 16px;
      counter-increment: about-list;
      @media screen and (min-width: 768px) {
        &::before {
          content:counter(about-list);
          width: 68px;
          height: 68px;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 16px;
          border-radius: 16px;
          backdrop-filter: blur(4px);
          background: rgba(255, 255, 255, 0.1);

          font-size: 36px;
          font-weight: 500;
        }
      }
    }

    &__text {
      font-size: 20px;
      letter-spacing: 0.01em;
      text-transform: uppercase;

      padding: 16px;
      backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 16px;

      height: 68px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 767px) {
        padding: 4px 8px;
        font-size: 14px;
        text-transform: unset;
        border-radius: 8px;
        height: auto;
      }
    }
  }
}


.employees{
  overflow: hidden;
  &__grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 50px 100px;
    @media screen and (max-width: 767px) {
      gap: 64px;
      grid-template-columns: minmax(0,1fr);
      &--header{
        gap: 16px;
      }
    }
  }

  &__header{
    margin: 0 0 100px 0;
    @media screen and (max-width: 767px) {
      margin: 0 0 32px 0;
    }
  }

  &__content{
    margin: 0 0 100px 0;
    @media screen and (max-width: 767px) {
      margin: 0 0 64px 0;
    }
  }

  &-slider{
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (max-width: 767px) {
      gap: 16px;
    }
    &__item{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 600px;
        @media screen and (max-width: 767px) {
          max-height: 300px;
        }
      }
      &--nav{
        width: 125px;
        height: auto;
        @media screen and (max-width: 767px) {
          width: 25vw;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &-card{
    &__title{
      font-size: 40px;
      font-weight: 500;
      color: #000;
      @media screen and (max-width: 767px) {
        font-size: 18px;
        font-weight: 700;
      }
    }
    &__tag{
      padding: 2px 12px;
      background: #015CC4;
      border-radius: 8px;
      width: max-content;
      height: 32px;
      max-width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &--yellow{
        background: #FCC100;
      }
      &--big{
        padding: 4px 16px;
        height: 40px;
      }
      @media screen and (max-width: 767px) {
        padding:6px;
        border-radius: 2px;
        height: auto;

        .text{
          line-height: .7;
        }
      }
    }
    &__header{
      display: flex;
      flex-direction: column;
      gap: 16px;
      &:not(:last-child){
        margin: 0 0 24px 0;
        @media screen and (max-width: 767px) {
          margin: 0 0 16px 0;
        }
      }
    }

  }
}

.document-slider{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    gap: 24px;
  }
  &-button{
    width: 48px;
    height: 48px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: calc(50% - 24px);
    background: rgba(#fff,.3);
    border-radius: 8px;

    z-index: 10;

    user-select: none;
    -webkit-user-select: none;
    &::before{
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      background: url("../../images/icons/arrow.svg") center center/contain no-repeat;
    }
    &-prev{
      left: 0;
    }
    &-next{
      right: 0;
      &::before{
        transform: rotate(180deg);
      }
    }
    
    @media screen and (max-width: 767px) {
      width: 24px;
      height: 24px;
      top: calc(50% - 12px);
      background: rgba(#fff,.8);
      &::before{
        width: 10px;
        height: 10px;
      }
    }
  }
  &-element{
    @media screen and (max-width: 767px) {
      overflow: visible;
    }
  }
  &__wrapper{
    padding: 0 90px;
    position: relative;
    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }
  }
  &__footer{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    text-align: center;
  }
  &__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      border: 12px solid #063A71;

      @media screen and (max-width: 767px) {
        border-width: 10px;
      }
    }
    @media screen and (max-width: 767px) {
      width: 70%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;

    }
  }
}

.map{
  width: 100%;
  height: 100%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  align-items: center;
  justify-content: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}