<div class="hero">
    <div class="hero__wrapper">
        <div class="container container--full">
            <div class="hero-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide hero-slide" data-color="blue">
                        <div class="hero-slide__wrapper">
                            <div class="hero-slide__info">
                                <div class="hero-slide__tag">
                                    <div class="hero-slide__icon">
                                        <img src="assets/images/hero/storm-icon.png" alt="" class="">
                                    </div>
                                    <p class="title title--smallest title--white">Storm Spirit</p>
                                </div>
                                <p class="title title--big title--white">Швидкість та доступність</p>
                                <p class="title title--smallest title--white">
                                    Не відставай від своїх друзів в Dota 2 з GameBoost! Наш сервіс допоможе тобі
                                    швидко
                                    і легко покращити свій рейтинг, освоїти нових героїв і стати справжнім
                                    штормом
                                    на
                                    полі бою.
                                </p>
                                <a href="#" class="button button--middle button--orange button--arrow">Замовити
                                    Буст</a>
                            </div>
                            <div class="hero-slide__img">
                                <img src="assets/images/hero/storm-img.png" alt="">
                            </div>
                        </div>
                        <div class="hero-slide__bg">
                            <img src="assets/images/hero/storm-bg.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide hero-slide" data-color="orange">
                        <div class="hero-slide__wrapper">
                            <div class="hero-slide__info">
                                <div class="hero-slide__tag hero-slide__tag--orange">
                                    <div class="hero-slide__icon">
                                        <img src="assets/images/hero/ember-icon.png" alt="" class="">
                                    </div>
                                    <p class="title title--smallest title--white">Ember Spirit</p>
                                </div>
                                <p class="title title--big title--white">Вогонь та Результат</p>
                                <p class="title title--smallest title--white">
                                    Запали своїх супротивників в Дота 2 з GameBoost! Наш сервіс надасть тобі
                                    доступ
                                    до найкращих тренерів, які покажуть тобі всі хитрощі і фішки гри. Навчись
                                    грати
                                    на Ембер Спіриті і піднімай ММР самостійно!
                                </p>
                                <a href="#" class="button button--middle button--orange button--arrow">
                                        <span class="button__content">
                                            <span class="button__text">Замовити</span> Менторство
                                        </span>
                                </a>
                            </div>
                            <div class="hero-slide__img">
                                <img src="assets/images/hero/ember-img.png" alt="">
                            </div>
                        </div>
                        <div class="hero-slide__bg">
                            <img src="assets/images/hero/ember-bg.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide hero-slide" data-color="purple">
                        <div class="hero-slide__wrapper">
                            <div class="hero-slide__info">
                                <div class=" hero-slide__tag hero-slide__tag--purple">
                                    <div class="hero-slide__icon">
                                        <img src="assets/images/hero/void-purple-icon.png" alt="" class="">
                                    </div>
                                    <p class="title title--smallest title--white">Void Spirit</p>
                                </div>
                                <p class="title title--big title--white">Таємниця і Майстерність</p>
                                <p class="title title--smallest title--white">
                                    Наш сервіс гарантує повну конфіденційність та безпеку твоїх даних. Ми не
                                    зберігаємо жодних особистих даних наших клієнтів і не передаємо їх третім
                                    особам. Тож ти можеш бути впевнений, що ніхто не здогадається, що ти
                                    скористався
                                    нашими послугами.
                                </p>
                                <a href="#"
                                   class="button button--middle button--purple button--arrow button--arrow--white">
                                        <span class="button__content">
                                            <span class="button__text">Замовити</span> Менторство
                                        </span>
                                </a>
                            </div>
                            <div class="hero-slide__img">
                                <img src="assets/images/hero/void-purple-img.png" alt="">
                            </div>
                        </div>
                        <div class="hero-slide__bg">
                            <img src="assets/images/hero/void-purple-bg.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide hero-slide" data-color="green">
                        <div class="hero-slide__wrapper">
                            <div class="hero-slide__info">
                                <div class="hero-slide__tag hero-slide__tag--green">
                                    <div class="hero-slide__icon">
                                        <img src="assets/images/hero/void-green-icon.png" alt="" class="">
                                    </div>
                                    <p class="title title--smallest title--white">Void Spirit</p>
                                </div>
                                <p class="title title--big title--white">Надійність та Безпека</p>
                                <p class="title title--smallest title--white">
                                    Почувай себе в безпеці в Дота 2 з GameBoost! Наш сервіс є твоїм особистим
                                    сапортом, на який ти можеш розраховувати. Ми забезпечимо тобі комфортну і
                                    безстресову гру, де ти не будеш хвилюватися про свою команду або своїх
                                    супротивників.
                                </p>
                                <a href="#" class="button button--middle button--green--light button--arrow">
                                        <span class="button__content">
                                            Буст
                                            Порядності
                                        </span>
                                </a>
                            </div>
                            <div class="hero-slide__img">
                                <img src="assets/images/hero/void-green-img.png" alt="">
                            </div>
                        </div>
                        <div class="hero-slide__bg">
                            <img src="assets/images/hero/void-green-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="hero-slider__control">
                    <div class="swiper-button-prev">
                        <svg class="icon">
                            <use xlink:href="assets/images/sprite.svg#slider-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-next">
                        <svg class="icon">
                            <use xlink:href="assets/images/sprite.svg#slider-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>