@font-face {
    font-family: 'TT Norms';
    src: url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.eot');
    src: url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.woff2') format('woff2'),
    url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.ttf') format('truetype'),
    url('../../fonts/TTNorms/TTNorms-Medium/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}