:root {
  --font-main: "Geologica", sans-serif;
  --body-bg: linear-gradient(180deg, #01234c 0%, #015cc5 100%);
  --container-size: 1310px;
  --container-size-small: 1250px;
  --container-padding-side: 16px;
  --container-full-small-size: calc(var(--container-size-small) + 2 * (var(--container-padding-side)));
  --container-full-size: calc(var(--container-size) + 2 * (var(--container-padding-side)));
  --color-white: #FAFDFF;
}

body {
  background: var(--body-bg);
  font-family: var(--font-main);
  font-weight: 400;
  color: #fff;
}
body:has([name=menu]:checked) {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.container {
  max-width: 100%;
  width: var(--container-full-size);
  padding: 0 var(--container-padding-side);
  margin: 0 auto;
}
.container--full {
  padding: 0;
  width: var(--container-size);
}
.container--small {
  width: var(--container-full-small-size);
}
@media screen and (min-width: 1361px) {
  .container--left {
    padding: 0;
    width: unset;
    margin: 0 0 0 calc((100% - var(--container-full-size)) / 2);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
.page-wrapper .content {
  flex-grow: 1;
}

.title--tiny {
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .title--tiny {
    font-size: 18px;
  }
}
.title--small {
  font-size: 32px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .title--small {
    font-size: 18px;
  }
}
.title--base {
  font-weight: 700;
  font-size: 48px;
  line-height: 152%;
  text-transform: uppercase;
}
.title--base--no--transform {
  text-transform: unset;
}
@media screen and (max-width: 767px) {
  .title--base {
    font-size: 20px;
  }
}
.title--biggest {
  font-weight: 700;
  font-size: 99px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .title--biggest {
    font-size: 32px;
  }
}
.title--biggest--number {
  font-size: 80px;
}
@media screen and (max-width: 767px) {
  .title--biggest--number {
    font-size: 20px;
  }
}
.title--accent {
  color: #012856;
}
.title--black {
  color: #000;
}
.title--semibold {
  font-weight: 600;
}
.title--medium {
  font-weight: 500;
}
.title--white {
  color: #fff;
}
.title--center {
  text-align: center;
}

.list {
  list-style: disc inside;
}

.text--base {
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .text--base {
    font-size: 16px;
  }
}
.text--big {
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .text--big {
    font-size: 16px;
  }
}
.text--light {
  font-weight: 300;
}
.text--semibold {
  font-weight: 600;
}
.text--accent {
  color: #012856;
}
.text--black {
  color: #000;
}
.text--blue {
  color: #92B7E1;
}
.text--link {
  color: #4499FD;
  text-decoration: underline;
  text-underline-position: under;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--line--big {
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .text--line--big {
    line-height: 1.4;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
}
.button--big {
  padding: 18px;
  font-size: 37px;
  max-width: 575px;
  width: 100%;
  height: 84px;
  border-radius: 14px;
}
@media screen and (max-width: 767px) {
  .button--big {
    height: 40px;
    padding: 8px;
    font-size: 18px;
    border-radius: 6px;
  }
}
.button--blue--gradient {
  color: #fff;
  background: linear-gradient(90deg, #137ffe 0%, #94c3fa 77.1%, #3687e6 100%);
}
.button--center {
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 12;
}
.header__wrapper {
  padding: 55px 0 0 0;
}
@media screen and (max-width: 1360px) {
  .header__wrapper {
    padding: 15px 0 0 0;
  }
}
.header--active .header__nav {
  opacity: 1;
  visibility: visible;
}
.header:has([name=menu]:checked) .header__nav {
  opacity: 1;
  visibility: visible;
}
.header__nav {
  flex-grow: 1;
  flex-shrink: 0;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: var(--body-bg);
    padding-top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s visibility, 0.5s opacity;
  }
}
.header__row {
  display: flex;
  align-items: flex-end;
  gap: clamp(15px, 6vw, 90px);
}
@media screen and (max-width: 767px) {
  .header__row {
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  width: 250px;
  height: 110px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1360px) {
  .header__logo {
    width: 105px;
    height: 45px;
  }
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  --burger-color: #fff;
}
.burger:hover {
  cursor: pointer;
}
.burger:has(:checked) .burger__item:nth-child(1) {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
.burger:has(:checked) .burger__item:nth-child(3) {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.burger:has(:checked) .burger__item:nth-child(2) {
  opacity: 0;
  pointer-events: none;
  left: -10px;
}
.burger__input {
  display: none;
}
.burger__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  border-radius: 16px;
  display: block;
  background: var(--burger-color);
}
.burger__item:nth-child(1) {
  top: 2px;
  left: 0;
  transition: 0.3s top, 0.3s transform;
}
.burger__item:nth-child(2) {
  top: calc(50% - 1px);
  left: 0;
  transition: 0.3s left, 0.3s opacity;
}
.burger__item:nth-child(3) {
  top: calc(100% - 4px);
  left: 0;
  transition: 0.3s top, 0.3s transform;
}

.nav {
  --link-color: var(--color-white);
  --link-size: 20px;
  --link-padding: 10px 10px;
  --padding-size: 16px;
}
@media screen and (max-width: 1360px) {
  .nav {
    --link-size: 16px;
    --padding-size: 8px;
  }
}
@media screen and (max-width: 767px) {
  .nav--header {
    --link-padding: 24px 0;
  }
}
@media screen and (max-width: 767px) {
  .nav--footer {
    --link-padding: 4px 0;
  }
}
@media screen and (max-width: 767px) {
  .nav--header .nav-list__item {
    width: 100%;
  }
  .nav--header .nav-list__item:not(:first-child) {
    border-top: 1px solid rgba(166, 193, 224, 0.5);
  }
  .nav--header .nav-list__link {
    width: 100%;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .nav--footer .nav-list {
    gap: 12px;
  }
  .nav--footer .nav-list__link {
    line-height: 0.7;
  }
}
.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-size);
}
@media screen and (max-width: 767px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.nav-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--link-padding);
  color: var(--link-color);
  font-size: var(--link-size);
  font-weight: 500;
}

.decor-line {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 50px;
  opacity: 0.89;
  background: rgba(1, 76, 164, 0.15);
}
@media screen and (max-width: 767px) {
  .decor-line {
    height: 25px;
  }
}
.decor-line--light {
  background: rgba(1, 76, 164, 0.35);
}

.section--decor {
  position: relative;
  overflow: hidden;
}
.section--decor::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 1300px;
  max-height: 60%;
  background: url("../../images/decor/section-top.png") top right/contain no-repeat;
}
@media screen and (max-width: 767px) {
  .section--decor::before {
    width: 70%;
    height: 100%;
    top: -5%;
  }
}
.section--decor::after {
  content: "";
  position: absolute;
  width: 1400px;
  bottom: 0;
  left: 0;
  height: 700px;
  max-height: 60%;
  background: url("../../images/decor/section-bottom.png") bottom left/contain no-repeat;
}
@media screen and (max-width: 767px) {
  .section--decor::after {
    display: none;
  }
}
.section--decor--dark::before {
  background: url("../../images/decor/section-top-dark.png") top right/contain no-repeat;
  height: 100%;
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .section--decor--dark::before {
    display: none;
  }
}
.section--decor--dark::after {
  height: 1300px;
  max-height: 70%;
  background: url("../../images/decor/section-bottom-dark.png") bottom left/contain no-repeat;
}
@media screen and (max-width: 767px) {
  .section--decor--dark::after {
    display: block;
  }
}
.section--white {
  background: #fff;
}
.section-bg {
  position: relative;
}
.section-bg__img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.35;
}
@media screen and (min-width: 768px) {
  .section-bg__img--desktop--clear {
    opacity: 1;
  }
}
.section-bg__img--hard--light {
  mix-blend-mode: hard-light;
}
.section-bg__img img, .section-bg__img picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-img {
  position: relative;
}
.section-bg .section__wrapper {
  position: relative;
  z-index: 2;
}
.section__wrapper {
  padding: 85px 0;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .section__wrapper {
    padding: 30px 0;
  }
}
.section__wrapper--screen {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__wrapper--big {
  padding: 200px 0;
}
@media screen and (max-width: 767px) {
  .section__wrapper--big {
    padding: 80px 0;
  }
}
.section__wrapper--padding--bottom--big {
  padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .section__wrapper--padding--bottom--big {
    padding-bottom: 80px;
  }
}
.section__wrapper--numbers {
  padding: 0 0 250px 0;
}
@media screen and (max-width: 767px) {
  .section__wrapper--numbers {
    padding: 0 0 150px 0;
  }
}
.section__header:not(:last-child) {
  margin: 0 0 85px 0;
}
@media screen and (max-width: 767px) {
  .section__header:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.section__header--margin--big:not(:last-child) {
  margin: 0 0 180px 0;
}
@media screen and (max-width: 767px) {
  .section__header--margin--big:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
.section__header--margin--small:not(:last-child) {
  margin: 0 0 50px 0;
}
@media screen and (max-width: 767px) {
  .section__header--margin--small:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.section__header--margin--tiny:not(:last-child) {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  .section__header--margin--tiny:not(:last-child) {
    margin: 0 0 16px 0;
  }
}
.section__content:not(:last-child) {
  margin: 0 0 60px 0;
}
@media screen and (max-width: 767px) {
  .section__content:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.section__content--margin--big:not(:last-child) {
  margin: 0 0 100px 0;
}
@media screen and (max-width: 767px) {
  .section__content--margin--big:not(:last-child) {
    margin: 0 0 24px 0;
  }
}
.section__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .section__column {
    gap: 16px;
  }
}
.section__column--gap--tiny {
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .section__column--gap--tiny {
    gap: 4px;
  }
}
.section__column--gap--big {
  gap: 64px;
}
@media screen and (max-width: 767px) {
  .section__column--gap--big {
    gap: 32px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .grid--object {
    border-radius: 18px;
    overflow: hidden;
  }
}
.grid__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  min-height: 500px;
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .grid__img {
    height: unset;
    min-height: unset;
    aspect-ratio: 1.4;
    border-radius: 10px;
  }
  .grid__img--full {
    width: calc(100% + 32px);
    transform: translateX(-16px);
  }
}
.grid__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
@media screen and (max-width: 767px) {
  .tag-list {
    flex-direction: column;
    gap: 16px;
  }
}
.tag-item {
  font-size: 24px;
  letter-spacing: 0.01em;
  padding: 12px 55px;
  width: max-content;
  height: 70px;
  max-width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 29, 64, 0.53);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .tag-item {
    padding: 7px 10px;
    height: 36px;
    font-size: 16px;
    border-radius: 8px;
  }
}
.tag-item--small {
  padding: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .tag-item--small {
    height: 52px;
    width: 100%;
  }
}

.contact-grid {
  display: grid;
  grid-template-columns: 440px minmax(0, 1fr);
  border-radius: 18px;
  overflow: hidden;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .contact-grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.contact-grid__info {
  padding: 24px;
  background: linear-gradient(180deg, rgba(1, 38, 82, 0.6) 0%, rgba(1, 52, 112, 0.6) 63.76%, rgba(3, 96, 207, 0.6) 100%);
}
@media screen and (max-width: 767px) {
  .contact-grid__info {
    padding: 16px;
  }
}
.contact-grid__map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 440px;
}
@media screen and (max-width: 767px) {
  .contact-grid__map {
    height: 350px;
  }
}
.contact-grid__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-list__link {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .contact-list__link {
    gap: 8px;
    font-size: 16px;
  }
}
.contact-list__icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  fill: #fff;
}
@media screen and (max-width: 767px) {
  .contact-list__icon {
    width: 18px;
    height: 18px;
  }
}

.documents-main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .documents-main__wrapper {
    gap: 40px;
  }
}
.documents-main__grid {
  display: grid;
  gap: 18px;
  grid-template-columns: minmax(700px, 1fr) minmax(0, 1fr);
}
@media screen and (max-width: 767px) {
  .documents-main__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.documents-main__img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .documents-main__img {
    display: none;
  }
}
.documents-main__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.documents-table {
  overflow: auto;
}
.documents-table__wrapper {
  border: 1px solid #FFFFFF;
  width: 100%;
  min-width: 640px;
}
.documents-table__row {
  display: grid;
  grid-template-columns: minmax(260px, 2fr) minmax(380px, 3fr);
  width: 100%;
}
.documents-table__row:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.documents-table__column {
  padding: 10px 13px;
}
.documents-table__column + .documents-table__column {
  border-left: 1px solid #fff;
}
.documents-table__text {
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
}
.documents-table__text--medium {
  font-weight: 500;
}
.documents-list {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
@media screen and (max-width: 767px) {
  .documents-list {
    gap: 60px;
  }
}
.documents-qr {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  .documents-qr {
    align-items: flex-start;
    flex-direction: column;
  }
}
.documents-qr__img {
  flex-shrink: 0;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .documents-qr__img {
    display: none;
  }
}
.documents-qr__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.documents-qr__text {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .documents-qr__text {
    font-size: 16px;
  }
}
.documents-qr__text span {
  font-weight: 500;
}
.documents-qr__text--link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4499fd;
}
.documents-item__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .documents-item__grid {
    gap: 16px;
    grid-template-columns: minmax(0, 1fr);
  }
}
.documents-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.documents-item__img img {
  width: 100%;
  object-fit: contain;
  border: 24px solid #063A71;
}
@media screen and (max-width: 767px) {
  .documents-item__img img {
    border: 8px solid #063A71;
  }
}
.documents-item__header {
  margin: 0 0 48px 0;
}
@media screen and (max-width: 767px) {
  .documents-item__header {
    margin: 0 0 16px 0;
    display: none;
    padding: 0 8px;
  }
}
.documents-item__header--mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  .documents-item__header--mobile {
    display: none;
  }
}
.documents-item__content {
  margin: 0 0 84px 0;
}
@media screen and (max-width: 767px) {
  .documents-item__content {
    margin: 0 0 16px 0;
    padding: 0 8px;
  }
}
@media screen and (max-width: 767px) {
  .documents-item__footer {
    padding: 0 8px;
  }
}
.documents-item__title {
  font-size: 40px;
  line-height: 1.4;
  color: #fff;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .documents-item__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .footer-block--info {
    order: 2;
  }
  .footer-block--contact {
    order: 3;
    max-width: 200px;
    width: 100%;
  }
}
.footer-block__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 991px) {
  .footer-block__column {
    gap: 4px;
  }
}
.footer__wrapper {
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding: 50px 0 15px 0;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .footer__column {
    gap: 45px;
  }
}
.footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .footer__info {
    flex-direction: column;
  }
}
.footer__text {
  font-size: 16px;
  line-height: 1.2;
  color: #B8CDE7;
  letter-spacing: 0.15px;
}
.footer__text--link {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.65);
}
@media screen and (max-width: 991px) {
  .footer__text {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.footer__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: clamp(15px, 3vw, 50px);
}
@media screen and (max-width: 767px) {
  .footer__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 90px;
  }
}
.footer__logo {
  width: 380px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 155px;
    height: 70px;
    order: 2;
  }
}
.footer__nav {
  padding-bottom: 20px;
  flex-grow: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    padding-bottom: 0;
    position: relative;
    width: 100%;
  }
  .footer__nav::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #A6C1E0;
    position: absolute;
    left: 0;
    bottom: -44px;
  }
}

.object-list {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
@media screen and (max-width: 767px) {
  .object-list {
    gap: 72px;
  }
}
.object-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.object-item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.object-item__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.object-item__grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .object-item__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.object-item__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px;
  background: linear-gradient(180deg, rgba(1, 38, 82, 0.6) 0%, rgba(1, 52, 112, 0.6) 63.76%, rgba(3, 96, 207, 0.6) 100%);
  border-radius: 18px 0 0 0;
}
@media screen and (max-width: 767px) {
  .object-item__info {
    padding: 16px;
    border-radius: 16px 16px 0 0;
  }
}
.object-item__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.object-item__tag {
  padding: 8px;
  background: rgba(0, 41, 88, 0.75);
  border-radius: 8px;
  width: max-content;
}
@media screen and (max-width: 767px) {
  .object-item__tag {
    padding: 6px;
    border-radius: 6px;
  }
}
.object-item__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.object-item__footer {
  padding: 0 18px;
  max-width: 1084px;
  width: 100%;
}
.object-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 18px 0 0;
}
@media screen and (max-width: 767px) {
  .object-slider {
    border-radius: 0;
  }
}
.object-slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 420px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .object-slider__item {
    height: auto;
    min-height: unset;
    aspect-ratio: 1.4;
  }
}
.object-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.object-nav {
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.object-nav__item {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 0.75;
  position: relative;
}
.object-nav__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
}
.object-nav__item.swiper-slide-thumb-active::before {
  border-color: #4499FD;
}
@media screen and (max-width: 1240px) {
  .object-nav__item {
    width: 20vw;
  }
  .object-nav__item::before {
    border-width: 3px;
  }
}
.object-nav__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.object-card {
  position: relative;
}
@media screen and (max-width: 767px) {
  .object-card {
    border-radius: 16px;
    overflow: hidden;
  }
}
.object-card__img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .object-card__img {
    aspect-ratio: 1.4;
  }
}
.object-card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(4px);
  background: rgba(1, 60, 129, 0.65);
  padding: 18px 16px;
}
@media screen and (max-width: 767px) {
  .object-card__content {
    padding: 8px 16px;
  }
}
.object-card__text {
  max-width: 500px;
  width: 100%;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .object-card__text {
    font-size: 16px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  counter-reset: about-list;
}
@media screen and (max-width: 767px) {
  .about-list {
    gap: 16px;
  }
}
.about-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  counter-increment: about-list;
}
@media screen and (min-width: 768px) {
  .about-list__item::before {
    content: counter(about-list);
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 16px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    font-size: 36px;
    font-weight: 500;
  }
}
.about-list__text {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 16px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .about-list__text {
    padding: 4px 8px;
    font-size: 14px;
    text-transform: unset;
    border-radius: 8px;
    height: auto;
  }
}

.employees__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px 100px;
}
@media screen and (max-width: 767px) {
  .employees__grid {
    gap: 64px;
    grid-template-columns: minmax(0, 1fr);
  }
  .employees__grid--header {
    gap: 16px;
  }
}
.employees__header {
  margin: 0 0 100px 0;
}
@media screen and (max-width: 767px) {
  .employees__header {
    margin: 0 0 32px 0;
  }
}
.employees__content {
  margin: 0 0 100px 0;
}
@media screen and (max-width: 767px) {
  .employees__content {
    margin: 0 0 64px 0;
  }
}
.employees-slider {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .employees-slider {
    gap: 16px;
  }
}
.employees-slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.employees-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 600px;
}
@media screen and (max-width: 767px) {
  .employees-slider__item img {
    max-height: 300px;
  }
}
.employees-slider__item--nav {
  width: 125px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .employees-slider__item--nav {
    width: 25vw;
  }
}
.employees-slider__item--nav img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.employees-card__title {
  font-size: 40px;
  font-weight: 500;
  color: #000;
}
@media screen and (max-width: 767px) {
  .employees-card__title {
    font-size: 18px;
    font-weight: 700;
  }
}
.employees-card__tag {
  padding: 2px 12px;
  background: #015CC4;
  border-radius: 8px;
  width: max-content;
  height: 32px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.employees-card__tag--yellow {
  background: #FCC100;
}
.employees-card__tag--big {
  padding: 4px 16px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .employees-card__tag {
    padding: 6px;
    border-radius: 2px;
    height: auto;
  }
  .employees-card__tag .text {
    line-height: 0.7;
  }
}
.employees-card__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.employees-card__header:not(:last-child) {
  margin: 0 0 24px 0;
}
@media screen and (max-width: 767px) {
  .employees-card__header:not(:last-child) {
    margin: 0 0 16px 0;
  }
}

.document-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .document-slider {
    gap: 24px;
  }
}
.document-slider-button {
  width: 48px;
  height: 48px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 24px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
}
.document-slider-button::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: url("../../images/icons/arrow.svg") center center/contain no-repeat;
}
.document-slider-button-prev {
  left: 0;
}
.document-slider-button-next {
  right: 0;
}
.document-slider-button-next::before {
  transform: rotate(180deg);
}
@media screen and (max-width: 767px) {
  .document-slider-button {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    background: rgba(255, 255, 255, 0.8);
  }
  .document-slider-button::before {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 767px) {
  .document-slider-element {
    overflow: visible;
  }
}
.document-slider__wrapper {
  padding: 0 90px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .document-slider__wrapper {
    padding: 0 10px;
  }
}
.document-slider__footer {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.document-slider__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.document-slider__item::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 12px solid #063A71;
}
@media screen and (max-width: 767px) {
  .document-slider__item::before {
    border-width: 10px;
  }
}
@media screen and (max-width: 767px) {
  .document-slider__item {
    width: 70%;
  }
}
.document-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
