.button--white{
    color: #008337;
    background-color: #fff;
    transition: color .3s, background-color .3s, box-shadow .3s
}

.button--white:hover {
    background-color: #008337;
    color: #fff;
    box-shadow:0 0 5px 2px transparent
}

.button--full{
    width: 100%;
    max-width: 100%;
}

<a href="#" style="width: 100%; max-width: 100%;" class="button button--full button--base button--white button--rounded" data-popup="popup-calculator">Free connection in 1 day</a>