@font-face {
    font-family: 'FoglihtenNo06';
    src: url('../../fonts/FoglihtenNo06/FoglihtenNo06.woff2') format('woff2'),
        url('../../fonts/FoglihtenNo06/FoglihtenNo06.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wonder Garden Script';
    src: url('../../fonts/WonderGardenScript/WonderGardenScript-Regular/WonderGardenScript-Regular.woff2') format('woff2'),
        url('../../fonts/WonderGardenScript/WonderGardenScript-Regular/WonderGardenScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Muller';
    src: url('../../fonts/Muller/Muller-Regular/Muller-Regular.woff2') format('woff2'),
        url('../../fonts/Muller/Muller-Regular/Muller-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


