:root {
    --font-main: 'Mont', sans-serif;
    --color-black: #202020;
    --color-white: #fff;
    --color-green: #86A67E;
    --color-green-dark: #6F6E59;
    --color-green-deep: #789372;
    --color-grey: #F4F4F4;
}

body {
    font-family: var(--font-main);
    line-height: 1.3;
    color: var(--color-black);
}

.container {
    max-width: 1320px;
    width: 100%;

    padding: 0 60px;
    margin: 0 auto;

    &--small {
        max-width: 1180px;
    }

    &--middle {
        max-width: 1200px;
    }

    @media screen and (max-width:767px) {
        padding: 0 20px;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    &__content {
        flex-grow: 1;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    max-width: 100%;

    &--base {
        padding: 25px 30px;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;

        height: 60px;
        text-transform: uppercase;

        @media screen and (max-width:767px) {
            font-size: 13px;
            height: 55px;

        }
    }

    &--white {
        background: #fff;
        color: var(--color-black);
        border: 2px solid transparent;

        transition: .3s color,.3s background, .3s border-color;
        &:hover{
            color: #Fff;
            background: var(--color-black);
        }
        &--green {
            color: var(--color-green);
            &:hover{
                background: var(--color-green);
                border-color: #fff;
            }
            &--dark {
                color: var(--color-green-dark);
                &:hover{
                    border-color: #fff;
                    background: var(--color-green-dark);
                }
            }
        }
    }

    &--mobile{
        &--full{
            @media screen and (max-width:767px) {
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.text{
    &--base{
        font-size: 16px;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: -0.03em;
    }

    &--white{
        color: #fff;
    }
}

.title {
    &--tiny {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;

        letter-spacing: -0.02em;

        @media screen and (max-width:767px) {
            font-size: 18px;
        }
    }

    &--small {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 600;

        letter-spacing: -0.02em;

        @media screen and (max-width:767px) {
            font-size: 18px;
            line-height: 1.2;
        }

        &--mobile {
            &--big {
                @media screen and (max-width:767px) {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    &--base {
        font-size: 50px;
        line-height: 1;
        letter-spacing: -0.02em;
        font-weight: 700;

        @media screen and (max-width:767px) {
            font-size: 30px;
            line-height: 1.15;
        }

        &--mobile{
            &--small{
                @media screen and (max-width:767px) {
                    font-size: 24px;
                    line-height: 1.15;
                }
            }
        }
    }

    &--black {
        color: var(--color-black);
    }

    &--white {
        color: var(--color-white);
    }

    &--center {
        text-align: center;
    }
}

.hero{
    background: linear-gradient(204deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%), url("../../images/hero-bg.webp") center center/cover no-repeat;
    @media screen and (max-width:1024px) {
        background: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 73.17%), url("../../images/hero-bg.webp") center center/cover no-repeat;
    }
    @media screen and (max-width:767px) {
        background: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 73.17%), url("../../images/hero-bg-m.webp") center center/cover no-repeat;
        }
    &__content{
        padding: 100px 0;
        min-height: calc(100svh - 50px);

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 60px;

        @media screen and (max-width:1024px) {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }

        @media screen and (max-width:767px) {
            gap: 35px;
            min-height: calc(100svh - 40px);
        }
    }
    &__search{
        transform: translateY(-50px);

        position: relative;
        z-index: 10;
        @media screen and (max-width:767px) {
            transform: translateY(-40px);
        }
    }
    &__header{
        max-width: 600px;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (max-width:767px) {
            gap: 25px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-white);
    z-index: 12;
    &__row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__nav {
        top: 50%;
        left: 50%;
        position: absolute;

        transform: translate(-50%, -50%);

        @media screen and (max-width:800px) {
            display: none;
        }
    }

    &__wrapper {
        position: relative;
        padding: 15px 0;

        @media screen and (max-width:767px) {
            padding: 10px 0;
        }
    }

    &__logo {
        width: 70px;
        height: 70px;

        @media screen and (max-width:767px) {
            height: 50px;
            height: 50px;
        }
    }

    &__language {
        margin-left: auto;
    }

    &__burger {
        @media screen and (min-width:801px) {
            display: none;

        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__item {
        flex-shrink: 0;
    }

    &__link {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.3;

        color: var(--color-black);
        transition: .3s color;

        &:hover {
            color: var(--color-green-dark);
        }
    }
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 31px;
    height: 18px;

    position: relative;

    &:hover {
        cursor: pointer;
    }

    &__item {
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--color-black);
        left: 0;
        top: 0;
        display: block;

        &:nth-child(2) {
            top: calc(50% - 1px);
        }

        &:nth-child(3) {
            top: calc(100% - 2px);
        }
    }
}

.language {
    &__wrapper {
        position: relative;
    }

    &--active &__current {
        background: var(--color-green-dark);
        color: var(--color-white);

        &::after {
            border-bottom: 5px solid var(--color-white);
            border-top: none;
        }
    }

    &--active &__content {
        top: calc(100% + 16px);
        opacity: 1;
        visibility: visible;
    }

    &__current {
        width: 70px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        border: 2px solid var(--color-green-dark);

        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;
        color: var(--color-green-dark);

        transition: .3s background, .3s color;

        &:hover {
            cursor: pointer;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;

            flex-shrink: 0;

            border-top: 5px solid var(--color-green-dark);


            transition: .3s border-color;
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(100% + 32px);

        z-index: 8;

        display: flex;
        flex-direction: column;

        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);

        opacity: 0;
        visibility: hidden;

        transition: .5s top, .3s visibility, .5s opacity;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 12.5px solid transparent;
            border-right: 12.5px solid transparent;

            flex-shrink: 0;

            border-bottom: 10px solid #fff;

            position: absolute;
            left: calc(50% - 12.5px);
            top: -10px;
        }

    }

    &-input {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        color: var(--color-black);

        transition: .3s color;

        &:hover {
            cursor: pointer;
            color: var(--color-green-dark);
        }

        &__text {
            font-size: 14px;
            line-height: 1.3;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.section {
    &--grey {
        background: var(--color-grey);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;

        @media screen and (max-width:767px) {
            grid-template-columns: minmax(0, 1fr);
            gap: 15px;
        }

        &--buy {
            grid-auto-rows: 560px;

            @media screen and (max-width:1024px) {
                grid-auto-rows: 437px;
            }

            @media screen and (max-width:767px) {
                grid-auto-rows: 370px;
            }
        }
    }

    &__wrapper {
        padding: 60px 0;

        @media screen and (max-width:767px) {
            padding: 37.5px 0;
        }

        &--middle {
            padding: 80px 0;

            @media screen and (max-width:1024px) {
                padding: 120px 0;
            }

            @media screen and (max-width:767px) {
                padding: 50px 0;
            }
        }

        &--top {
            &--big {
                padding-top: 120px;

                @media screen and (max-width:767px) {
                    padding-top: 75px;
                }
            }
        }

        &--big {
            padding: 120px 0;
        }
    }

    &__title {
        &--small {
            max-width: 560px;
            width: 100%;

            margin: 0 auto;
        }
    }

    &__header {

        &:not(:last-child) {
            margin: 0 0 50px 0;

            @media screen and (max-width:767px) {
                margin: 0 0 35px 0;
            }
        }
    }

    &-list {
        counter-reset: list;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px 50px;

        overflow: hidden;

        &--services {
            gap: 40px;
            justify-items: center;
        }

        &--gap {
            &--big {
                gap: 50px;
            }
        }

        @media screen and (max-width:767px) {
            grid-template-columns: minmax(0, 1fr);
            gap: 34px;
        }

        &__item {
            counter-increment: list;
            position: relative;

            &::after {
                content: '';
                width: 14px;
                height: 14px;
                display: block;

                top: calc(50% - 7px);
                left: calc(100% + 18px);

                position: absolute;
                background: url("../../images/icons/arrow.svg") center center/contain no-repeat;

                @media screen and (max-width:767px) {
                    transform: rotate(90deg);
                    left: calc(50% - 7px);
                    top: calc(100% + 10px);
                }
            }
        }
    }
}

.service {
    &-item {
        background: var(--color-green);
        height: 225px;
        position: relative;

        @media screen and (max-width:767px) {
            height: 160px;
        }

        &__wrapper {
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;

            position: relative;
            padding: 20px;


            height: 100%;

            &::before {
                content: '0' counter(list);
                position: absolute;
                right: 20px;
                bottom: -30px;
                font-size: 150px;
                height: 125px;
                display: block;
                font-weight: 700;
                line-height: 1;

                letter-spacing: -0.02em;
                color: var(--color-green-deep);

                z-index: 0;

                @media screen and (max-width:767px) {
                    height: 110px;
                    right: 10px;
                    bottom: -25px;
                    height: 120px;
                }
            }
        }




        &--big {
            height: auto;
            background: var(--color-green-dark);
        }

        &--big &__wrapper {
            &::before {
                display: none;
            }
        }

        &__title {
            position: relative;
            z-index: 2;

            @media screen and (max-width:767px) {
                max-width: 240px;
                width: 100%;
            }
        }
    }
}

.proccese {
    &-item {
        height: 300px;
        background: #fff;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width:767px) {
            min-height: 180px;
            height: auto;
        }

        &::before {
            content: 'Шаг ' counter(list);
            font-size: 25px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: -0.02em;
            color: var(--color-green-deep);

            margin-bottom: auto;

            @media screen and (max-width:767px) {
                font-size: 18px;
            }
        }

        &__img {
            width: 56px;
            height: 56px;
            object-fit: contain;

            &--big {
                width: 77px;
                height: 77px;
            }

            @media screen and (max-width:767px) {
                width: 50px;
                height: 50px;
            }
        }

        &__title {
            max-width: 200px;
            width: 100%;

            &--big {
                max-width: 230px;
            }

            @media screen and (max-width:767px) {
                max-width: 240px;
            }
        }
    }

}

.buy {
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40px;

        background: var(--color-green);

        position: relative;
        padding: 30px;

        overflow: hidden;

        @media screen and (max-width:767px) {
            gap: 30px;
            padding: 20px;
        }

        &::before {
            content: '';
            width: 360px;
            height: 160px;
            position: absolute;
            display: block;

            top: 30px;
            right: 30px;

            background: url("../../images/buy/decor-video.svg") center center/contain no-repeat;

            @media screen and (max-width:1024px) {
                width: 244px;
                height: 113px;
            }

            @media screen and (max-width:767px) {
                width: 210px;
                height: 105px;
                top: 23px;
                right: -23px;
            }
        }

        &--dark {
            background: var(--color-green-dark);

            &::before {
                width: 450px;
                height: 265px;
                top: 22px;
                right: 0;

                background: url("../../images/buy/decor-shoe.webp") center center/contain no-repeat;

                @media screen and (max-width:1024px) {
                    width: 280px;
                    right: 10px;
                    height: 170px;
                }

                @media screen and (max-width:767px) {
                    width: 212px;
                    height: 125px;
                    top: 12px;
                    right: -18px;
                }

            }
        }

        &__title {
            max-width: 370px;
            width: 100%;

            @media screen and (max-width:767px) {
                max-width: 240px;
            }
        }
    }
}

.banner {
    background: linear-gradient(127deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.15) 38.4%, rgba(0, 0, 0, 0.51) 66.71%, rgba(0, 0, 0, 0.58) 100%), url("../../images/banner-bg.webp") center center/cover no-repeat;

    position: relative;

    @media screen and (max-width:767px) {
        background: linear-gradient(127deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.15) 38.4%, rgba(0, 0, 0, 0.51) 66.71%, rgba(0, 0, 0, 0.58) 100%), url("../../images/banner-bg-m.webp") center center/cover no-repeat;

    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        display: block;

        width: 100%;
        height: 100%;

    }

    &__wrapper {}

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 60px;

        height: 100%;

        padding: 80px 0;
        min-height: 570px;

        @media screen and (min-width:1441px) {
            aspect-ratio: 1.5/1;

        }

        @media screen and (max-width:767px) {
            flex-direction: column;
            padding: 50px 0;
        }

    }

    &__header {
        max-width: 400px;
        width: 100%;

        @media screen and (max-width:767px) {
            max-width: 280px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        max-width: 495px;
        width: 100%;
        flex-grow: 1;

        @media screen and (max-width:767px) {
            max-width: 100%;
            gap: 15px;

            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-auto-rows: 1fr;
        }
    }

    &-item {
        flex: 1 0 auto;
        border-left: 1px solid #Fff;
        border-right: 1px solid #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        gap: 20px;

        position: relative;

        @media screen and (max-width:767px) {
            padding: 0 20px;
        }

        &__decor {
            position: absolute;
            width: 20px;
            height: 100%;
            left: 0;
            top: 0;

            @media screen and (max-width:767px) {
                width: 10px;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                display: block;
                background: #fff;


            }

            &::after {
                top: unset;
                bottom: 0;
            }

            &--right {
                right: 0;
                left: unset;
            }
        }

        &__img {
            width: 55px;
            height: 55px;
            object-fit: contain;
        }

        &__text {
            font-size: 16px;
            line-height: 1.3;
            font-weight: 400;
            letter-spacing: -0.03em;
            color: var(--color-white);

            span {
                font-weight: 700;
            }

            @media screen and (max-width:767px) {
                font-size: 14px;
            }
        }
    }
}

.services {
    &-list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;

        &__item {
            width: calc(33% - 40px);
        }

        @media screen and (max-width:767px) {
            flex-direction: column;
            gap: 20px;

            &__item{
                width: 100%;
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (max-width:767px) {
            gap: 20px;
        }
        &__title{
            font-size: 25px;
            font-weight: 600;
            line-height: 1;
            text-align: center;
            color: var(--color-black);

            letter-spacing: -0.02rem;

            &--small{
                max-width: 240px;
                width: 100%;

                margin: 0 auto;
            }
            &--middle{
                max-width: 280px;
                width: 100%;

                margin: 0 auto;
            }
            @media screen and (max-width:1024px) {
                font-size: 22px;
            }
            @media screen and (max-width:767px) {
                font-size: 18px;
                line-height: 1.2;
            }
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 8px;
            position: relative;
            &::before{
                content: '';
                width: 30px;
                height: 30px;
                position: absolute;
                display: block;
                left: calc(50% - 15px);
                bottom: -15px;

                background: url("../../images/services/check.svg") center center/contain no-repeat;
            }

            @media screen and (max-width:1024px) {
                padding: 0 5px;
            }

            img {
                width: 100%;
                aspect-ratio: 1;
                border-radius: 50%;
                object-fit: cover;
            }

            @media screen and (max-width:767px) {
                img{
                    width: 190px;
                    height: 190px;
                }
            }
        }

    }
}

.search{
    height: 50px;
    @media screen and (max-width:767px) {
        height: 40px;
    }
    &--active &__content{
        display: flex;
    }
    &-input{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border: 1px solid #C5C5C5;

        padding: 15px 30px;

        @media screen and (max-width:767px) {
            padding: 15px;
            height: 50px;
        }
        &__icon{
            width: 12px;
            height: 12px;
            stroke: #C5C5C5;

            flex-shrink: 0;
        }
        &__item{
            font-size: 16px;
            color: var(--color-black);
            flex-grow: 1;
            @media screen and (max-width:767px) {
                font-size: 14px;

                letter-spacing: -0.03em;
            }
        }
    }
    &__form{
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        background: var(--color-white);
        padding: 20px;

        width: 100%;
        position: relative;
        @media screen and (max-width:767px) {
            padding: 15px;
        }

    }

    &__list,&__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media screen and (max-width:767px) {
            gap: 25px;
        }
    }
    &__content{
        padding: 40px 55px 30px 55px;
        display: none;
        @media screen and (max-width:767px) {
            padding: 30px 10px 20px 10px;
        }

    }
    &__title{
        font-size: 16px;
        color: #B0B0B0;
        font-weight: 700;
        line-height: 1.3;

        text-transform: uppercase;
        @media screen and (max-width:767px) {
            font-size: 13px;
        }
    }
    &-list{
        &__link{
            font-size: 18px;
            color: var(--color-black);
            line-height: 1.3;
            font-weight: 400;

            @media screen and (max-width:767px) {
                font-size: 15px;
            }
        }
    }
}