@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.eot');
    src: url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.woff2') format('woff2'),
    url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.woff') format('woff'),
    url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.ttf') format('truetype'),
    url('../fonts/Roobert/Roobert-Bold/Roobert-Bold.svg#Roobert-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roobert';
    src: url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.eot');
    src: url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.woff2') format('woff2'),
    url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.woff') format('woff'),
    url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.ttf') format('truetype'),
    url('../fonts/Roobert/Roobert-Regular/Roobert-Regular.svg#Roobert-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

