<div class="page-wrapper page-wrapper--faq">
    <div class="main main--faq page-wrapper__content">
        <div class="main__wrapper">
            <div class="container">
                <div class="main__header main__header--small">
                    <p class="title title--small title--white">FAQ</p>
                    <p class="title title--base title--white">Відповіді на часті запитання</p>
                </div>
                <div class="main__content">
                    <div class="card">
                        <div class="card__wrapper card__wrapper--black">
                            <div class="card__header card__header--margin--big card__header--mobile--center">
                                <p class="title title--middle title--mobile--small title--white">Рекомендації та Запитання</p>
                                <p class="title title--smallest title--white">Все що вам потрібно знати про нас!</p>
                            </div>
                            <div class="card__content">
                                <div class="faq-grid">
                                    <div class="faq-grid__block card">
                                        <div class="card__wrapper card__wrapper--padding--small card__wrapper--center">
                                            <div class="card__icon">
                                                <svg class="icon">
                                                    <use xlink:href="assets/images/sprite.svg#flag32"></use>
                                                </svg>
                                            </div>
                                            <div class="card__text">
                                                <p class="title title--large title--white title--center">Ви з України ?</p>
                                                <p class="text text--base text--white text--center">Так, наш сервіс на 100% Український</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="faq-grid__block card">
                                        <div class="card__wrapper card__wrapper--padding--small card__wrapper--center">
                                            <div class="card__icon">
                                                <svg class="icon">
                                                    <use xlink:href="assets/images/sprite.svg#block"></use>
                                                </svg>
                                            </div>
                                            <div class="card__text">
                                                <p class="title title--large title--white title--center">Мене не забанять ?</p>
                                                <p class="text text--base text--white text--center">Ми розробили унікальний алгоритм роботи, що зменшує ризик блокування в рази</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="faq-grid__block card">
                                        <div class="card__wrapper card__wrapper--padding--small card__wrapper--center">
                                            <div class="card__icon">
                                                <svg class="icon">
                                                    <use xlink:href="assets/images/sprite.svg#shield_lock"></use>
                                                </svg>
                                            </div>
                                            <div class="card__text">
                                                <p class="title title--large title--white title--center">Мій акаунт в безпеці ?</p>
                                                <p class="text text--base text--white text--center">Всі дані передаються бустеру в зашифрованому та анонімізованому форматі</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="faq-grid__block card">
                                        <div class="card__wrapper card__wrapper--padding--small card__wrapper--center">
                                            <div class="card__icon">
                                                <svg class="icon">
                                                    <use xlink:href="assets/images/sprite.svg#encrypted"></use>
                                                </svg>
                                            </div>
                                            <div class="card__text">
                                                <p class="title title--large title--white title--center">Чи потрібно відключати Steam Guard ?</p>
                                                <p class="text text--base text--white text--center">Ні, ми працюємо за допомогою одноразових резервних кодів. Завдяки цьому зберігається ваша безпека, та ви может відстежувати всі сессії Steam</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="faq-grid__block card">
                                        <div class="card__wrapper card__wrapper--padding--small card__wrapper--center">
                                            <div class="card__icon">
                                                <svg class="icon">
                                                    <use xlink:href="assets/images/sprite.svg#cancel_schedule_send"></use>
                                                </svg>
                                            </div>
                                            <div class="card__text">
                                                <p class="title title--large title--white title--center">Чи можливий буст без передачі акаунта ?</p>
                                                <p class="text text--base text--white text--center">Так, в нашому сервісі ви можете замовити послугу групового бустингу, що дозволяє втілити ваші ігрові амбіції без передачі акаунту бустеру</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-block__header">
                            <p class="title title--middle title--white">Головні Питання</p>
                        </div>
                        <div class="faq-block__content">
                            <div class="faq-list faq-list--gap--small">
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-block__header">
                            <p class="title title--middle title--white">Питання по Оплаті</p>
                        </div>
                        <div class="faq-block__content">
                            <div class="faq-list faq-list--gap--small">
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-block__header">
                            <p class="title title--middle title--white">Працювати з нами</p>
                        </div>
                        <div class="faq-block__content">
                            <div class="faq-list faq-list--gap--small">
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <div class="faq-item__wrapper ">
                                        <div class="faq-item__header">
                                            <p class="title title--white title--large">Як довго займає процес бусту мого
                                                аккаунту?</p>
                                        </div>
                                        <div class="faq-item__content">
                                            <p class="text text--white">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                                veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                                cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                                Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                                ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-banner review-banner">
                        <div class="review-banner__wrapper review-banner__wrapper--black">
                            <div class="review-banner__header">
                                <p class="title title--middle title--white">Не знайшли відповіді на своє запитання ?
                                </p>
                                <p class="title title--smallest title--white">Напишіть нам в чат, і ми з радістью вас проконсультуємо </p>
                            </div>
                            <div class="review-banner__button">
                                <a href="#" class="button button--big button--orange">
                                    <svg class="icon">
                                        <use xlink:href="assets/images/sprite.svg#chat_bubble"></use>
                                    </svg>
                                    Задати питання</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>