<section class="section">
    <div class="section__wrapper">
        <div class="container">
            <div class="section__header section__header--link section__header--margin--small">
                <h2 class="title title--base title--white">Питання та Відповіді</h2>
            </div>
            <div class="section__content">
                <div class="faq-list">
                    <div class="faq-item">
                        <div class="faq-item__wrapper">
                            <div class="faq-item__header">
                                <p class="title title--white title--small">Як довго займає процес бусту мого
                                    аккаунту?</p>
                            </div>
                            <div class="faq-item__content">
                                <p class="text text--white">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                    veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                    cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                    Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                    ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__wrapper">
                            <div class="faq-item__header">
                                <p class="title title--white title--small">Як довго займає процес бусту мого
                                    аккаунту?</p>
                            </div>
                            <div class="faq-item__content">
                                <p class="text text--white">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                    veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                    cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                    Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                    ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-item__wrapper">
                            <div class="faq-item__header">
                                <p class="title title--white title--small">Як довго займає процес бусту мого
                                    аккаунту?</p>
                            </div>
                            <div class="faq-item__content">
                                <p class="text text--white">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nulla
                                    veniam hic nihil distinctio. Impedit hic debitis laborum quaerat ipsam quas
                                    cupiditate assumenda, ratione esse, earum excepturi corporis in aliquid?
                                    Unde obcaecati harum nemo repellat recusandae, animi dolore deserunt, labore
                                    ad quam quia, debitis officiis tempore minus doloremque odio! Non.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>