:root {
  --font-title: 'Minion Pro', sans-serif;
  --font-text: 'Avenir', sans-serif;
  --section-padding-base: 6vw;

  //title size
  --title-size-small: 1.75vw;
  --title-size-middle:2.35vw;
  --title-size-base: 4.7vw;

  //text sizes
  --text-size-base: 1.1vw;
  --text-size-small: 1vw;

  //colors
  --color-accent:#AA825F;
  --color-accent-light:rgba(170, 130, 95, 0.48);

  --color-text-black: #48403a;
  --color-text-black-light: rgba(170, 130, 95, 0.48);

  //animation func
  --animation-func: cubic-bezier(0.42, 0, 0.58, 1);
}

@media screen and (max-width: 767px) {
  :root {
    //title size
    --title-size-small: 20px;
    --title-size-middle:24px;
    --title-size-base: 40px;

    //text sizes
    --text-size-base: 18px;
    --text-size-small: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  p, a, h1, h2, h3, h4, h5 {
    transition: font-size .6s ease-in-out;
  }
}

section{
  scroll-margin-top: 6.7vw;
  @media screen and (max-width: 767px) {
    scroll-margin-top: 56px;
  }
}

::selection {
  background: var(--color-text-black-light);
  color: #fff;
}

body {
  font-family: var(--font-text);
  font-size: var(--text-size-base);
  line-height: 1.2;
  font-weight: 300;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.container {
  max-width: 100%;
  width: 73vw;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0 16px;
  }
}

.title {
  font-family: var(--font-title);

  &--small {
    font-size: var(--title-size-small);
    font-weight: 600;
    line-height: 1.25;
  }

  &--middle {
    font-size: var(--title-size-middle);
    font-weight: 600;
    line-height: 1.25;
    text-transform: capitalize;
  }


  &--base {
    font-size: var(--title-size-base);
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
  }

  &--line{
    &--tiny{
      line-height: 1;
    }
  }

  &--black {
    color: var(--color-text-black);
  }
}

.text {
  font-family: var(--font-text);

  &--small {
    font-size: var(--text-size-small);
    line-height: 1.2;
    font-weight: 300;
  }

  &--base {
    font-size: var(--text-size-base);
    line-height: 1.25;
    font-weight: 300;
  }

  &--grey {
    color: rgba(#000, .5);
  }

  &--white{
    color: #fff;
  }

  &--black {
    color: var(--color-text-black);

    &--light {
      color: var(--color-text-black-light);
    }
  }

  &--heavy{
    font-weight: 900;
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: clamp(10px,.8vw,.8vw);

  --logo-size:clamp(20px,2.35vw,2.35vw);
  --text-size:clamp(20px,2.35vw,2.35vw);
  &--white{
    fill: #fff;
    color: #fff;
  }
  &--black{
    color: var(--color-text-black);
    fill: var(--color-accent);
  }
  &__icon{
    width: var(--logo-size);
    height:var(--logo-size);
    flex-shrink: 0;
    object-fit: contain;

    transition: .3s width,.3s height;
  }
  &__text{
    font-family: var(--font-title);
    font-size: var(--text-size);
    font-weight: 500;

    text-transform: capitalize;

    transition: .3s font-size;
  }
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  max-width: 100%;

  position: relative;

  text-align: center;
  &:hover{
    cursor: pointer;
  }
  &--base{
    --arrow-size:1.5vw;
    padding: 1vw 2vw;
    font-weight: 300;
    font-size: 1.75vw;
    height: 3.5vw;
    line-height: .9vw;

    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      --arrow-size: 12px;
      height: 36px;
      font-size: 16px;
      padding: 16px 32px;
    }
  }
  &--small{
    --arrow-size:1.5vw;

    font-weight: 300;
    font-size: 1vw;
    padding: .6vw 2vw;
    height: 2vw;
    @media screen and (max-width: 767px) {
      --arrow-size: 12px;

      font-size: 16px;
      padding: 8px 16px;
      height: 32px;
    }
  }
  &__arrow{
      position: absolute;
      width: var(--arrow-size);
      height: var(--arrow-size);
      right: 1vw;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 767px) {
        right: 16px;
    }
  }
  &--black{
    color: #Fff;
    fill: #fff;
    background: var(--color-accent);
    box-shadow: 4px 4px 10px 0 rgba(170, 130, 95, 0.15), 1px 1px 3px 0 rgba(170, 130, 95, 0.05);


    transition: .3s background-color,.3s fill,.3s color;
    &:hover{
      background: #fff;
      color: var(--color-accent);
      fill: var(--color-accent);
    }
  }
  &--white{
    background: #fff;
    box-shadow: 4px 4px 10px 0 rgba(170, 130, 95, 0.15), 1px 1px 3px 0 rgba(170, 130, 95, 0.05);
    color: var(--color-accent);
    fill: var(--color-accent);

    transition: .3s background-color,.3s fill,.3s color;
    &:hover,&.active{
      background: var(--color-accent);
      fill: #fff;
      color: #fff;
    }
  }
  &--full{
    width: 100%;
  }
}

.page-wrapper{
  overflow: hidden;
}

.page-wrapper, .content{
  padding: 4.7vw 0 0 0;
  @media screen and (max-width: 1240px) {
    padding: 30px 0 0 0;
  }
}

.header{
  padding: 4.7vw 6vw;
  background: #fff;
  z-index: 12;
  position: fixed;
  top: 0;
  width: 100%;

  transition: .3s padding;
  &.fixed{
    @media screen and (min-width: 1241px) {
      padding: 1.7vw 6vw;
    }
  }
  &.fixed &__logo{
    @media screen and (min-width: 1241px) {
      --logo-size: 1.35vw;
      --text-size: 1.35vw;
    }
  }
  &.fixed .nav-list__link{
    @media screen and (min-width: 1241px) {
      font-size: 1vw;
    }
  }
  @media screen and (max-width: 1240px) {
    padding: 16px;
  }


  &__logo{
    position: relative;
    z-index: 4;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
  }
  &__burger{
    position: relative;
    z-index: 4;
    @media screen and (min-width: 768px) {
display: none;
    }
  }
  &__nav{
    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100vw;
      height: 100svh;
      min-height: 300px;
      background: #fff;
      padding:100px 16px 32px 16px;
      border-bottom: 1px solid var(--color-accent-light);

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;

      overflow: auto;

      transition: .3s opacity, .3s visibility;
      &--active{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .5s width, .5s height;

  &__item{
    content: '';
    width: 100%;
    height: 2px;
    background: var(--color-text-black);
    position: absolute;

    transition: .5s top, .5s transform;
  }

  &__item:nth-child(1) {
    top: 0;
    left: 0;
  }

  &__item:nth-child(2){
    top: calc(50% - 1px);
    left: 0;

    transition: .3s opacity, .3s left;
  }

  &__item:nth-child(3) {
    top: calc(100% - 2px);
    left: 0;
  }


  &--active  &__item:nth-child(3){
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  &--active &__item:nth-child(2){
    pointer-events: none;
    opacity: 0;
    left: -5px;
  }

  &--active  &__item:nth-child(1){
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
}

.nav{
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  &-list{
    display: flex;
    align-items: center;
    gap: 2.7vw;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 16px;
      width: 100%;
    }
    &__link{
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-accent);
      font-size: clamp(16px,1.4vw,1.4vw);

      font-weight: 300;

      text-transform: capitalize;

      transition: .3s color,.3s font-size;

      &::before{
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        left: 0;
        bottom: -2px;
        background: var(--color-accent-light);

        transition: .3s width, .3s background-color;
      }
      &:hover{
        color:var(--color-accent-light);

        &::before{
          width: 100%;
          background: var(--color-accent);
        }
      }
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
}

.hero{
  &__grid{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: clamp(32px,2vw, 2vw);
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 64px;
    }
  }
  &__header{
    max-width: 36vw;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2vw;
    @media screen and (max-width: 767px) {
      max-width: 100%;
      gap: 32px;
    }
  }

  &__button{
    max-width: 32vw;
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__list{
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-list{
    max-width: 28vw;
    width: 100%;
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    &__item{
      padding: 3.7vw 0;
      @media screen and (max-width: 767px) {
        padding: 16px 0;
      }
      &:not(:last-child){
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: 0;

          background: linear-gradient(90deg, rgba(#AA825F,0), #AA825F, rgba(#AA825F,0));
        }
      }
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }

  &-item{
    &__wrapper{
      display: flex;
      align-items: center;
      gap: 1.8vw;
      padding: 0 3vw;
      @media screen and (max-width: 767px) {
        gap: 16px;
      }
    }
    &__icon{
      width: 3vw;
      height: 3vw;
      object-fit: contain;
      flex-shrink: 0;
      @media screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.section {
  &__wrapper {
    padding: clamp(30px, 6vw, 6vw) 0;

    @media screen and (max-width: 767px) {
      padding: 45px 0;
    }
    &--partners {
      padding-bottom: clamp(80px, 10vw, 10vw);
      @media screen and (max-width: 767px) {
        padding-bottom: 45px;
      }
    }
    &--core{
      padding-bottom: clamp(80px, 12vw, 12vw);
      @media screen and (max-width: 767px) {
        padding-bottom: 45px;
      }
    }
  }

  &__header {
    &:not(:last-child) {
      margin: 0 0 clamp(30px, 3.5vw, 3.5vw) 0;
    }
  }
}

.dna {
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75vw;
    @media screen and (max-width: 991px) {
      grid-template-columns: minmax(0, 1fr);
      gap: 16px;
    }

    &__item {
      &--big {
        @media screen and (min-width: 992px) {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 2;
        }
      }
    }
  }

  &-item {
    background: #fff;
    box-shadow: 4px 4px 10px 0 rgba(170, 130, 95, 0.15), 1px 1px 3px 0 rgba(170, 130, 95, 0.05);

    &__wrapper {
      padding: clamp(16px, 2.7vw, 2.7vw);
      display: grid;
      grid-template-columns:clamp(100px, 6.4vw, 6.4vw) minmax(0, 1fr);
      gap: clamp(16px, 1.75vw, 1.75vw);
      @media screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
      }

      &--column {
        grid-template-columns: minmax(0, 1fr);
        gap: clamp(16px, 3.2vw, 3.2vw);
        padding:clamp(16px, 3.5vw, 3.5vw) clamp(16px, 2.7vw, 2.7vw) clamp(16px, 2.7vw, 2.7vw) clamp(16px, 2.7vw, 2.7vw);
      }
    }

    &__header {
      display: flex;
      align-items: center;
    }
  }

  &-list {
    list-style: disc;
    padding-left: var(--text-size-base);
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.7vw, 2.7vw);

    &__item {
      &--small {
        max-width: 20vw;
        width: 100%;
        @media screen and (max-width: 767px) {
          max-width: 100%;
        }
      }
    }
  }
}

.persons {
  &-list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: var(--text-size-small);
  }

  &-info{
    display: flex;
    flex-direction: column;
    transition: .3s gap;
    &.active{
      gap:clamp(16px, 2vw, 2vw);
    }
    &.active &__box{
      height: var(--height);
      opacity: 1;
    }
    &__box{
      position: relative;

      transition: .3s height,.3s opacity;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    &__value{
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &__text{
      display: flex;
      align-items: flex-start;
      gap: clamp(5px, .35vw, .35vw);

      &::before{
        content: '“';
        font-size: 3vw;
        font-weight: 300;
        color: rgba(#000,.3);
        line-height: .9;
        @media screen and (max-width: 767px) {
          font-size: 30px;

        }
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap:1.8vw 10.5vw;
    @media screen and (max-width: 767px) {
      grid-template-columns: minmax(0, 1fr);
      gap:16px 32px;
    }

    &__item{
      &--info{
        @media screen and (min-width: 768px) {
          grid-row-start: 2;
        }
        @media screen and (max-width: 767px) {
          padding: 0 0 16px 0;
        }
      }
    }

    &--gap {
      &--small {
        gap: 7vw;
        @media screen and (max-width: 767px) {
          gap: 32px;
        }
      }
    }
  }

  &-card {
    &__wrapper {
      display: grid;
      grid-template-columns: 30% minmax(0, 1fr);
      gap: clamp(16px, 1.75vw, 1.75vw);
      height: 100%;
      @media screen and (max-width: 450px) {
        grid-template-columns: minmax(0, 1fr);
      }

      &--bordered {
        border-bottom: 1px solid #CCB49F;
      }
    }

    &__footer{
      grid-column: 1/-1;
    }

    &__img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &--square{
        height: auto;
        aspect-ratio: 1;
      }
      @media screen and (max-width: 767px) {
        &--mobile{
          &--small{
            aspect-ratio: 1;
            height: auto;
            img{
              object-position: top center;
            }
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__box {
      padding: 0 0 clamp(5px, .5vw, .5vw) 0;
      display: flex;
      flex-direction: column;
      gap: clamp(16px, 2.35vw, 2.35vw);
      &--main{
        padding: 0;
        gap: 16px;
      }
    }

    &__text{

    }

    &__footer {
      margin: auto 0 0 0;
      display: flex;
    }

    &__social {
      max-width: 14.7vw;
      width: 100%;
      height: auto;

      margin: 0 0 0 auto;
      object-fit: contain;
      @media screen and (max-width: 767px) {
        max-width: 60%;
      }
      @media screen and (max-width: 450px) {
        max-width: 80%;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.core{
  @media screen and (max-width: 767px) {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  &__content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.4vw;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 16px;
    }
  }
  &__text{
    max-width: 100%;
    width: 100%;
    @media screen and (min-width: 768px) {
      max-width: 18vw;
    }
    @media screen and (max-width: 767px) {
      order: 2;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      &::before{
        content: '';
        width: 6px;
        height: 6px;
        flex-shrink: 0;
        background: var(--color-text-black);
        border-radius: 50%;
        transform: translateY(6px);
      }
    }
    &--center{
      align-self: center;
    }
    &--bottom{
      @media screen and (min-width: 768px) {
        transform: translateX(50%);
      }
    }
    &--right{
      @media screen and (min-width: 768px) {
        text-align: right;
      }
    }
  }
  &__img{
    width: 32vw;
    max-width: 100%;
    flex-shrink: 0;
    @media screen and (max-width: 767px) {
      width: 100%;

      max-width: 60vw;
      margin: 0 auto 16px auto;
    }
  }
}

.mail {
  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: clamp(10px, 1.4vw, 1.4vw);
    font-size: var(--title-size-small);
    font-weight: 900;
    color: var(--color-text-black);
    @media screen and (max-width: 767px) {
    }

    &::before {
      content: '';
      width: clamp(30px, 3vw, 3vw);
      height: clamp(30px, 3vw, 3vw);

      background: url("../../images/icons/mail.png") center center/contain no-repeat;

      flex-shrink: 0;
      display: block;
    }
  }
}

.partners {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(16px, 6.4vw, 6.4vw);
    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 767px) {
      max-width: 35vw;
      width: 100%;
    }
    @media screen and (max-width: 450px) {
      max-width: 70vw;
      width: 100%;
    }
    &--small{
      @media screen and (min-width: 768px) {
        max-width: 32vw;
        width: 100%;
      }
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer{
  &__wrapper{
    background: var(--color-accent);

    padding: 5vw 0;
  }
  &__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: clamp(32px,7vw,7vw);
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__logo{

  }
  &__block{
    display: flex;
    flex-direction: column;
    gap: clamp(16px,2vw,2vw);
    @media screen and (max-width: 767px) {
      order: 2;
    }
  }
}

.social{
    display: flex;
    align-items: center;
    gap: clamp(15px,.9vw,.9vw);
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(30px,3vw,3vw);
    height: clamp(30px,3vw,3vw);
  }
  &__icon{
    width: 100%;
    height: 100%;
  }
}

.animation-item{
  &-opacity{
    opacity: 0;
    animation: animationOpacity 1s var(--animation-delay) var(--animation-func) forwards;
  }
  &-bottom{
    opacity: 0;
    animation: animationBottom 1s var(--animation-delay) var(--animation-func) forwards;
  }
  &-top{
    opacity: 0;
    animation: animationTop 1s var(--animation-delay) var(--animation-func) forwards;
  }
  &-left{
    opacity: 0;
    animation: animationLeft 1s var(--animation-delay) var(--animation-func) forwards;
  }
  &-right{
    opacity: 0;
    animation: animationRight 1s var(--animation-delay) var(--animation-func) forwards;
  }
  &-circle{
    opacity: 0;
    animation: animationCircle 1s var(--animation-delay) var(--animation-func) forwards;
  }
}

@keyframes animationCircle {
  0%{
    opacity: 0;
    transform:scale(0.4);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationBottom {
  0%{
    opacity: 0;
    transform: translateY(5vw);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationTop {
  0%{
    opacity: 0;
    transform: translateY(-5vw);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationLeft {
  0%{
    opacity: 0;
    transform: translateX(-5vw);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationRight {
  0%{
    opacity: 0;
    transform: translateX(5vw);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationOpacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: rgba(170, 130, 95, 0.1);
  z-index: 12;
  opacity: 0;
  visibility: hidden;

  transition: .3s visibility,.5s opacity;
  &--active{
    opacity: 1;
    visibility: visible;
  }
  &__close{
    width: 1.17vw;
    height: 1.17vw;
    display: block;
    position: absolute;
    top: .8vw;
    right: .8vw;
    @media screen and (max-width: 767px) {
      width: 16px;
      height: 16px;
      top: 10px;
      right: 10px;
    }
    &:hover {
      cursor: pointer;
      &::before,&::after{
        background: var(--color-accent-light);
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 3px;
      display: block;
      background: var(--color-accent);
      position: absolute;
      left: 0;
      top: calc(50% - 1.5px);
      transition: 0.3s background-color;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      display: block;
      background: var(--color-accent);
      position: absolute;
      left: 0;
      top: calc(50% - 1.5px);
      transition: 0.3s background-color;
      transform: rotate(-45deg);
    }
  }
  &__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__container{
    max-width: 50vw;
    width: calc(100% - 40px);
    max-height: 90%;
    height: -moz-max-content;
    height: max-content;
    padding: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overflow-x: hidden;

    background: #fff;
    border-bottom: 3px solid var(--color-accent);

    @media screen and (max-width: 767px) {
      padding: 16px;
      max-width: 99vw;
    }

    &::-webkit-scrollbar {
      width: 5px; /* Width of the scrollbar */
      height: 5px; /* Height of the scrollbar */

      @media screen and (max-width: 640px) {
        width: 3px;
        height: 3px;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* Background of the scrollbar track */
      border-radius: 10px; /* Rounded corners for the track */
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-accent); /* Color of the scrollbar thumb */
      border-radius: 10px; /* Rounded corners for the thumb */
    }
    @media screen and (max-width: 767px) {
      padding: 16px;
    }
  }
}

.form{
  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.35vw;
    @media screen and (max-width: 767px) {
      gap: 16px;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    @media screen and (max-width: 767px) {
      gap: 10px;
    }
  }
  &__button{
    margin-left: auto;

    max-width: 20vw;
    width: 100%;
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
  &-input{
    width: 100%;
    height: 4.7vw;
    position: relative;
    padding: 1px;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(220deg,rgba(#C4C4C4,0), #C4C4C4);
      z-index: 1;
    }
    &__item{
      width: 100%;
      height: 100%;
      font-size: var(--text-size-base);
      color: var(--color-text-black);
      padding:1.75vw;
      background: #fff;
      z-index: 2;
      position: relative;
      &::placeholder{
        color: #C4C4C4;
        opacity: 1;
      }
      @media screen and (max-width: 767px) {
        padding: 12px;
      }
    }
    @media screen and (max-width: 767px) {
      height: 40px;
    }
  }
}