:root {
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'TT Norms', sans-serif;
}

body {
    font-family: 'TT Norms', sans-serif;
    background: #000000;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;

    &--base {
        padding: 5px 10px;
        height: 30px;

        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        &--regular{
            font-weight: 400;
        }
    }

    &--middle {
        padding: 10px 40px;

        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        @media screen and (max-width:767px) {
            font-size: 15px;
        }
    }

    &--rounded{
        border-radius: 60px;
    }

    &--big{
        padding: 14px;
        font-size: 30px;
        font-weight: 700;
        height: 64px;
        border-radius: 10px;
        @media screen and (max-width:767px) {
            font-size: 20px;
            padding: 12px;
            height: 48px;
            &--font{
                &--small{
                    font-size: 18px;
                    height: 50px;
                }
            }
        }
    }

    &--green{
        background-color: #1BC200;
        color: #fff;
    }

    &--white{
        background: #fff;
        color: #000;
    }

    &--gradient {
        background: linear-gradient(90deg, #ed8132 0%, #3425c6 100%);
        color: #fff;
    }

    &--bordered {
        border-radius: 50px;
        border: 2px solid #fff;
        color: #fff;

        &--orange {
            border: 2px solid #F09C39;
            color: #F09C39;
        }
    }

    &--full{
        width: 100%;
    }

    &--desktop{
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    &--mobile{
        @media screen and (min-width:768px) {
            display: none;
        }
    }
}

.burger {
    width: 27px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      cursor: pointer;
    }
  
    &__item {
      position: absolute;
      top: 0;
      left: 0;
  
      width: 100%;
      height: 3px;
  
      background: #fff;
      border-radius: 10px;
  
      &:nth-child(1) {
        transition:
          0.3s transform,
          0.3s top,
          0.3s background-color;
      }
  
      &:nth-child(2) {
        top: calc(50% - 1.5px);
  
        transition:
          0.3s left,
          0.3s opacity,
          0.5s visibility,
          0.3s background-color;
      }
  
      &:nth-child(3) {
        top: calc(100% - 3px);
  
        transition:
          0.3s transform,
          0.3s top,
          0.3s background-color;
      }
    }
  
    &--active {
      .burger__item {
        top: 8px;
  
        &:nth-child(1) {
          transform: rotate(45deg);
        }
  
        &:nth-child(2) {
          left: -10px;
          opacity: 0;
          visibility: hidden;
        }
  
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

.container {
    max-width: 1260px;
    width: 100%;

    margin: 0 auto;

    padding: 0 35px;
    &--small {
        max-width: 1170px;
        padding: 0 15px;
    }
}

.header {
    position: sticky;
    top: 0;
    background: #000;
    &__wrapper {
        padding: 40px 0;
        @media screen and (max-width:991px) {
            padding:25px 15px;
        }
    }

    &__logo {
        width: 130px;
        height: 40px;
        @media screen and (max-width:991px) {
            width: 110px;
            height: 15px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 60px;
        @media screen and (max-width:1100px) {
            gap: 30px;
        }
        @media screen and (max-width:991px) {
            justify-content: space-between;
        }
    }

    &__burger{
        @media screen and (min-width:992px) {
            display: none;
        }
    }

    &__nav {
        flex-grow: 1;

        @media screen and (max-width:991px) {
            position: fixed;
            top: 64px;
            left: 0;
            width: 100%;

            background: #000;

            padding:0 0 20px 0;

            opacity: 0;
            visibility: hidden;

            transition: .5s opacity,.3s visibility;
            &--active{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    @media screen and (max-width:991px) {
        &__buttons,&__login{
            display: none;
        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        @media screen and (max-width:991px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__link {
        display: block;
        padding: 10px;

        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }

    &__item{
        &--mobile{
            @media screen and (min-width:992px) {
                display: none;
            }
        }
    }
}

.hero {
    --accent-color: #D7348A;
    background: url("../../images/hero-bg.png") top center/cover no-repeat;

    @media screen and (max-width:767px) {
        background: url("../../images/hero-mobile.png") top center/cover no-repeat;
    }
    &--home{
        background: url("../../images/hero-bg-no-row.png") top center/cover no-repeat;  
    }
    &__wrapper {
        aspect-ratio: 2/1;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:767px) {
            padding: 50px 0;
            aspect-ratio: 1;
        }
    }

    &__column{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__title {
        font-family: var(--main-font);
        font-size: 80px;
        font-weight: 700;

        color: #fff;

        @media screen and (max-width:767px) {
            font-size: 30px;
            text-align: center;

            &--desktop{
                display: none;
            }
        }
        &--mobile{
            @media screen and (min-width:768px) {
                display: none;
            }
        }
        span {
            color: var(--accent-color);
        }
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        @media screen and (min-width:768px) {
            display: none;
        }
    }
}

.section {
    &--desktop{
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    &--mobile{
        @media screen and (min-width:768px) {
            display: none;
        }
    }
    &__wrapper {
        padding: 85px 0;
        @media screen and (max-width:767px) {
            padding: 25px 0;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 80px;
        @media screen and (max-width:767px) {
            grid-template-columns: minmax(0,1fr);
            gap: 10px;
            &--gap{
                &--middle{
                    gap: 15px;
                }
            }
        }
    }

    &__row {
        display: flex;
        align-items: stretch;
        gap: 80px;
        @media screen and (max-width:767px) {
            flex-direction: column;
            gap: 10px;
        }
        &--gap{
            &--mobile{
                &--big{
                    @media screen and (max-width:767px) {
                        gap: 25px;
                    }
                }
            }
        }
    }

    &-group{
        &--desktop{
            @media screen and (max-width:767px) {
                display: none;
            }
        }
        &--mobile{
            @media screen and (min-width:768px) {
                display: none;
            }
        }
    }

    &-button{
        position: relative;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__wrapper{
            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%,-50%);
        }
        &__column{
            display: flex;
            flex-direction: column;
            gap: 10px;

            justify-content: center;
            align-items: center;
        }
    }

    &-block {
        // padding: 0 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        max-width: 425px;
        width: 100%;

        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        &--gap{
            &--big{
                gap: 25px;
                @media screen and (max-width:767px) {
                    gap: 10px;
                }
            }
            
        }

        &--between{
            justify-content: space-between;
        }

        &--full{
            max-width: 100%;
        }

        &--analytics {
            background-image: url("../../images/analytics.png");
        }

        &--search {
            background-image: url("../../images/search.png");
        }

        &--monitoring {
            background-image: url("../../images/monitoring.png");
        }

        &--notice {
            background-image: url("../../images/notice.png");
            &--right{
                background-position: right center;
            }
        }

        &__title {
            font-family: var(--main-font);
            font-size: 42px;
            font-weight: 700;
            color: #fff;
            span{
                font-weight: 300;
            }
            @media screen and (max-width:767px) {
                font-size: 24px;
                &--mobile{
                    &--center{
                        text-align: center;
                    }
                }
            }
        }

        &__text {
            font-family: var(--accent-font);
            font-size: 18px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #fff;
            font-weight: 500;
            @media screen and (max-width:767px) {
                font-size: 16px;
                letter-spacing: 0;
                line-height: 1.2;
            }
        }

        &__img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            &--search{
                width: calc(100% + 35px);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__desc{
            font-family: var(--accent-font);
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            &--regular{
                font-weight: 400;
                letter-spacing: -0.01em;
            }
            &--small{
                max-width: 1054px;
                width: 100%;
            }
            @media screen and (max-width:767px) {
                font-size: 16px;
                font-weight: 400;
                &--desktop{
                    display: none;
                }
            }
        }
    }

    &__button{
        @media screen and (max-width:767px) {
            order: 4;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow: 1;
        width: 100%;
        height: 450px;

        &--small {
            height: 410px;
        }

        &--full{
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width:767px) {
            height: auto;
            order: 3;
        }
    }

    &__title {
        font-family: var(--main-font);
        font-size: 42px;
        font-weight: 600;
        color: #fff;
        &--mobile{
            &--small{
                @media screen and (max-width:767px) {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 43px;
        &--mobile{
            &--gap{
                &--small{
                    @media screen and (max-width:767px) {
                        gap: 10px;
                    }
                }
            }
        }
    }
}

.rates {
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px;

        @media screen and (max-width:991px) {
            grid-template-columns: repeat(2,minmax(0,1fr));
            gap: 10px;
        }
    }

    &-item {
        color: #fff;
        border-radius: 10px;
        background-color: #212121;
        border: 3px solid #fff;
        stroke: #fff;
        fill: none;

        @media screen and (max-width:767px) {
        height: max-content;
            
        }

        &--active{
            height: 100%;
        }

        &--active &__content{
            display: block;
        }
        &--active &__title .icon{
            transform: rotate(180deg);
        }
        &--white {
            border-color: #6C6C6C;
            background: #fff;
            color: #212121;
            stroke: #212121;
        }

        &__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding: 20px;

        }

        &__title {
            text-align: center;
            font-family: var(--accent-font);
            font-size: 22px;
            font-weight: 400;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            @media screen and (max-width:767px) {
                font-size: 15px;
                font-weight: 500;
            }

            .icon{
                width: 18px;
                height: 18px;
                flex-shrink: 0;

                transition: .3s transform;

                @media screen and (min-width:768px) {
                    display: none;
                }
            }
        }

        &__text {
            font-family: var(--accent-font);
            font-size: 16px;
            line-height: 24px;

            @media screen and (max-width:767px) {
                font-size: 13px;
                line-height: 1.2;
            }
            &--small {
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
            }
        }

        &__content{
            @media screen and (max-width:767px) {
                order: 2;
                display: none;
            }
        }

        &__price {
            font-family: var(--accent-font);
            font-size: 40px;
            font-weight: 500;

            display: flex;
            align-items: center;
            gap: 7px;
            @media screen and (max-width:767px) {
                font-size: 25px;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 7px;

            @media screen and (max-width:767px) {
                flex-direction: column;
                gap: 15px;
                order: 3;

                margin-top: auto;
            }

        }

        &__label {
            padding: 7px 10px;
            border-radius: 60px;
            height: 32px;   
            background: linear-gradient(90deg, #78deeb 0%, #993af1 100%);

            font-family: var(--accent-font);
            font-size: 15px;
            line-height: 1;
            color: #fff;

            @media screen and (max-width:767px) {
                width: 100%;
                text-align: center;
            }

            &--big {
                padding: 7px 20px;
            }

            &--orange {
                background: linear-gradient(90deg, #d44b4c 0%, #eaa73d 100%);
            }

            &--purple {
                background: linear-gradient(90deg, #c655e3 0%, #f7cb47 100%);
            }

            &--blue {
                background: linear-gradient(90deg, #9b3df2 0%, #0339f1 100%);
            }
        }
    }
}

.footer {

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 170px;
        @media screen and (max-width:767px) {
            gap: 50px;
            padding: 25px 0;
        }
    }

    &__button {
    
        @media screen and (min-width:768px) {
            padding: 43px 0;
            background: url("../../images/footer.png") top center/cover no-repeat;
        }
    }

    &__logo {
        width: 134px;
        height: 20px;
    }

    &__title {
        font-family: var(--accent-font);
        font-size: 12px;
        letter-spacing: 0.1em;
        color: #d9d9d9;

        text-transform: uppercase;
        &--white{
            color: #Fff;
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 90px;

        @media screen and (max-width:767px) {
            grid-template-columns: minmax(0,1fr);
            gap: 25px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 45px;

        @media screen and (max-width:767px) {
            gap: 25px;
        }
    }

    &-list{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &-block{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &-social{
        display: flex;
        align-items: center;
        gap: 25px 45px;
        flex-wrap: wrap;
        @media screen and (max-width:767px) {
            gap: 25px;
        }
        &__item{
            flex-shrink: 0;
        }
        &__link{
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: 17px;
            height: 17px;
        }
        &__img{
            width: 100%;
            height: 100%;

            object-fit: contain;
        }
    }
}

.block{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 20px;
    border: 2px solid #fff;

    @media screen and (max-width:767px) {
        gap: 10px;
    }
    &__title{
        font-family: var(--main-font);
        font-size: 40px;
        font-weight: 700;
        @media screen and (max-width:767px) {
            font-size: 20px;
        }
    }
    &__text{
        font-family: var(--accent-font);
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width:767px) {
            font-size: 16px;
        }
        &--small{
            max-width: 300px;
            width: 100%;
        }
    }

    &-social{
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (max-width:767px) {
            gap: 10px;
            justify-content: space-between;
        }
        &__item{
            height: 40px;
            width: auto;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__img{
            height: 100%;
            object-fit: contain;
        }
    }
}
