@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Medium/Mulish-Medium.woff2') format('woff2'),
  url('../fonts/Mulish/Mulish-Medium/Mulish-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Black/Mulish-Black.woff2') format('woff2'),
  url('../fonts/Mulish/Mulish-Black/Mulish-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-SemiBold/Mulish-SemiBold.woff2') format('woff2'),
  url('../fonts/Mulish/Mulish-SemiBold/Mulish-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Bold/Mulish-Bold.woff2') format('woff2'),
  url('../fonts/Mulish/Mulish-Bold/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-ExtraBold/Mulish-ExtraBold.woff2') format('woff2'),
  url('../fonts/Mulish/Mulish-ExtraBold/Mulish-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  &.hidden {
    overflow: hidden;
  }
}

.container {
  max-width: 1270px;
  width: 100%;

  padding: 0 50px;
  margin: 0 auto;
}

.title {
  font-family: 'Mulish', sans-serif;
  color: #000000;

  margin: 0;

  &_size {
    &-biggest {
      font-weight: 900;
      font-size: 62px;
      line-height: 62px;

      letter-spacing: 0.01em;
    }

    &-big {
      font-weight: 800;
      font-size: 38px;
      line-height: 50px;
    }

    &-medium {
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }

    &-small {
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
    }

    &-smallest {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &_position {
    &-center {
      text-align: center;
    }
  }

  &_color {
    &-white {
      color: #fff;
    }

    &-grey {
      color: #8C8C8C;
    }

    &-purple {
      background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      color: #A400CD;
    }
  }
}

.link {
  &-arrow {
    display: flex;
    align-items: center;

    text-decoration: none;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      display: block;

      margin-left: 20px;

      background: url("../images/arrow.svg") center center/contain no-repeat;
    }
  }
}

.text {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  color: #333333;

  margin: 0;

  &_size {
    &-big {
      font-weight: 800;
      font-size: 108px;
      line-height: 136px;
      text-transform: uppercase;


      color: #000000;

    }
  }

  &_weight {
    &-bold {
      font-weight: 700;
    }
  }

  &_color {
    &-grey {
      color: #333333;
    }

    &-green {
      color: #4AB224;
    }
  }
}

.logo-block {
  display: flex;
  align-items: center;

  &__img {
    & + & {
      margin-left: 20px;
    }

    height: 40px;
    &_size {
      &-small {
        height: 20px;
      }
    }

    &-item {
      width: auto;
      height: 100%;
      object-fit: contain;

      &-mobile{
        display: none;
      }
    }
  }
}

.hero {
  &__wrapper {
    background: url("../images/hero-bg.jpg") bottom center/cover no-repeat;

    height: 1080px;

    padding-top: 40px;

    display: flex;
    flex-direction: column;
  }

  &__content {
    margin: 60px 0 0 0;
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin: 20px 0 0 0;
  }

  &__link {
    background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-align: center;

    text-decoration: underline;

    display: block;

    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;

      width: 100%;
      height: 4px;

      background: linear-gradient(#A400CD, #D33883);
    }
  }

  &__title {
    max-width: 620px;

    margin: 0 auto;
  }

  &__footer {
    margin: 40px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0 0 0;

    &-item {
      height: 100%;

      object-fit: contain;
    }
  }

  &__button {
    width: 276px;
    height: 60px;
  }
}

.info {
  position: relative;
  z-index: 3;

  &__wrapper {
    padding: 80px 0 100px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns:auto 608px;
    gap: 80px;
  }

  &__title {
    padding: 22px 0 0 0;
  }

  &__text {
    margin: 40px 0 0 0;
  }

  &__label {
    &-text {
      & + & {
        margin-left: 5px;
      }
    }

    &-wrapper {
      width: max-content;

      padding: 10px 40px 14px 40px;

      background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      flex-wrap: wrap;
    }
  }
}

.advantages {
  &__grid {
    display: grid;
    grid-template-columns: 470px auto;
    gap: 30px;
  }

  &__img {
    width: 100%;
    height: 490px;

    position: relative;


    &-item {
      width: 100%;
      height: 100%;

      position: relative;
      z-index: 2;

      object-fit: contain;
    }
    &-bg{
      position: absolute;
      width: 1006px;
      height: 987px;
      left: calc(50% - 520px);
      top: calc(50% - 493.5px);
    }
  }

  &__list {
    position: relative;
    z-index: 2;

    &-item {
      & + & {
        margin: 16px 0 0 0;
      }
    }
  }

  &__footer {
    max-width: 608px;
    margin: 67px 0 0 auto;
  }

  &-item {
    &__wrapper {
      padding: 30px 30px 30px 30px;

      display: flex;
      align-items: center;

      background: #FFFFFF;
      box-shadow: -30px 0px 120px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      transition: .3s background-color linear;
    }

    &__icon {
      width: 80px;
      height: 80px;
      display: block;

      flex-shrink: 0;
    }

    &__text {
      transition: .3s color linear;
      &-mobile,&-small{
        display: none;
      }
    }

    &__icon + &__content {
      margin: 0 0 0 40px;
    }

    &__icon {
      svg {
        path {
          transition: .3s fill linear;
        }
      }
    }

    &:hover &__wrapper {
      background-color: #A400CD;
    }

    &:hover &__text {
      color: #fff;
    }

    &:hover &__icon {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.button {
  -webkit-appearance: none;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .5s all linear;

  &_color {
    &-purple {
      background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
      box-shadow: 0px 20px 40px rgba(120, 0, 150, 0.7);
      border-radius: 10px;

      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      font-size: 15px;
      color: #FFFFFF;

      text-decoration: none;

      &:hover {
        background: linear-gradient(271.52deg, #A400CD 0.19%, #D33883 100%);
        box-shadow: 0px 20px 40px rgba(120, 0, 150, 0.2);
      }
    }

    &-pink {
      background: #9747FF;
      border-radius: 10px;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;

      text-decoration: none;

      color: #FFFFFF;

      &:hover {
        background: #A400CD;
      }
    }
  }

  &_style {
    &-eye {
      &::before {
        content: '';
        width: 25px;
        height: 20px;
        flex-shrink: 0;

        margin-right: 15px;

        background: url("../images/eye.svg") center center/contain no-repeat;
      }

      &:hover {
        &::before {
          background: url("../images/eye-open.png") center center/contain no-repeat;
        }
      }
    }
  }
}

.ozon {
  &-btn {
    text-decoration: none;

    &__wrapper {
      &-row {
        display: flex;
        align-items: center;
        flex-direction: row;

        .ozon-btn__img {
          margin: 0 0 0 20px;
          height: 30px;
          width: 140px;
        }
      }
    }

    &__text {
      font-family: 'Mulish', sans-serif;
      font-weight: 600;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #000000;

      text-decoration: none;

      span {
        margin: 0 5px;
      }

      &::before {
        content: '';
        width: 26px;
        height: 26px;
        display: block;

        background: url("../images/basket.svg") center center/contain no-repeat;

        margin-right: 20px;
      }
    }

    &__img {
      margin: 20px 0 0 0;

      width: 230px;
      height: 50px;
      display: block;

      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;

        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &::after {
        background-image: url("../images/ozon-logo-second.svg");
        opacity: 1;
      }
    }

  }
}

.table {
  &__text {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    text-align: center;

    margin: 0;

    &-grey {

      color: #8C8C8C;

      &-dark {
        color: #AFAFAF;
      }
    }

    &-big {
      font-size: 15px;
      line-height: 24px;
    }

    &-purple {
      background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &-red {
      color: #FF1D18;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      overflow: hidden;
    }

    &-block {
      height: 44px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;

      border-bottom: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE;

      &:nth-child(odd) {
        background: #F6F6F6;
      }

      &-title {
        height: 56px;
        flex-shrink: 0;

        background-color: #EEEEEE;
        border-bottom-color: #D9D9D9;
        border-right-color: #D9D9D9;
      }
    }

    &-small {
      width: 54px;
      flex-shrink: 0;
    }

    &-full {
      height: 100%;
    }

    &-medium {
      width: 150px;
      flex-shrink: 0;
    }

    &-big {
      width: 145px;
      flex-shrink: 0;
    }

    &-biggest {
      width: 204px;

      flex-shrink: 0;
    }

    &-gradient {
      box-shadow: 0px 0px 30px rgba(164, 0, 205, 0.2);

      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        left: 0;
        top: 0;

        border: 1px solid #A400CD;

        border-radius: 4px;
      }
    }

  }
}

@keyframes animationBtn {
  100% {
    transform: scale(.6);
    opacity: 0;
  }
}

@keyframes animationBtnReverse {
  0% {
    transform: scale(.6);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationBtnSecond {
  100% {
    opacity: 1;
  }
}

@keyframes animationBtnThird {
  100% {
    opacity: 0;
  }
}

@keyframes animationBtnForward {
  0% {
    background: url("../images/ozon-logo-second.svg") center center/contain no-repeat;
  }
  50% {
    transform: scale(1);
  }
  100% {
    background: url("../images/ozon-logo.svg") center center/contain no-repeat;
    transform: scale(1);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  z-index: -1;

  transition: .5s all linear;

  &.active {
    opacity: 1;
    z-index: 99;

    .popup__wrapper {
      transform: translateX(0);

    }
  }

  &-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(#000, .5);

    width: 100%;
    height: 100%;

  }

  &__img {
    width: 100%;
    height: 150px;

    margin: 60px 0;

    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__wrapper {
    background: #FFFFFF;
    max-width: 850px;
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    position: relative;

    transform: translateX(100%);

    transition: .5s all linear;
  }

  &__content {
    padding: 80px 80px 20px 80px;
    width: 100%;
  }

  &__footer {
    padding: 30px 80px 30px 80px;
    background: #F6F6F6;
    width: 100%;

    margin-top: auto;
  }

  &__close {
    width: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 10px;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__table {
    margin: 60px 0 0 0;
  }

  &__subtitle {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;

    color: #000000;

    margin: 10px 0 0 0;
  }

  &__desc {
    margin: 20px 0 0 0;

    &-text {
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;

      color: #8C8C8C;
      margin: 0;
    }
  }

  &__conclusion {
    margin: 30px 0 0 0;

    &-grid {
      display: grid;
      grid-template-columns: 140px auto;
      gap: 30px;
    }

    &-label {
      margin: 0;

      width: 100%;
      height: 56px;
      background: linear-gradient(86.27deg, #A400CD 0%, #D33883 100%);
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;

      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }
  }
}

.footer {
  position: relative;
  z-index: 3;

  &__wrapper {
    padding: 80px 0 100px 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1270px) {
  .hero {
    &__wrapper {
      background: url("../images/hero-bg-tablet.jpg") center center/cover no-repeat;
    }
  }
  .advantages{
    &__img{
      padding: 0;
      &::before{
      }
    }
  }
  .logo-block{
    &__img{
      &-item{
        &-desktop{
          display: none;
        }
        &-mobile{
          display: block;
        }
      }
    }
  }
  .info {
    &__wrapper{
      padding: 80px 0;
    }
    &__grid {
      grid-template-columns: 474px auto;
      gap: 40px;
    }
  }
  .advantages{
    &__footer{
      margin: 20px 0 0 0;
      max-width: 400px;
    }
  }
}


@media screen and (max-width: 991px) and (min-width: 600px) {
  .ozon {
    &-btn {
      width: 100%;

      &__wrapper {
        width: 100%;
        height: 110px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .footer {
    &__wrapper {
      padding: 40px 0 80px 0;
    }
  }
  .info {
    &__label {
      &-wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
      }
    }

    &__title {
      max-width: 650px;
      margin: 0 auto;
    }
  }
  .container {
    padding: 0 17px;
  }
  .hero {
    &__wrapper {
      height: 960px;
      background: url("../images/hero-bg-tablet-small.jpg") center center/cover no-repeat;
    }

    &__title {
      margin: 60px auto 0 auto;
    }

    &__desc{
      margin: 30px 0 0 0;
    }
    &__footer{
      margin: 30px 0 0 0;
    }
  }
  .info {
    &__wrapper {
      padding: 60px 0 40px 0;
    }

    &__grid {
      grid-template-columns: minmax(0, 1fr);
      gap: 40px;

      text-align: center;
    }

    &__text{
      max-width: 700px;
      margin: 40px auto 0 auto;
    }
  }
  .advantages{
    &__grid{
      grid-template-columns: minmax(0,1fr);
    }
    &__img{
      &-bg{
        display: none;
      }
      &::before{
        display: none;
      }
    }
    &__footer{
      margin: 20px 0 0 0;
      max-width: 100% ;
    }
    &-item{
      &__text{
        &-desktop{
          display: none;
        }
        &-mobile{
          display: block;
        }
      }
    }
  }
  .text {
    &_size {
      &-big {
        font-size: 88px;
        line-height: 118px;
      }
    }
  }
  .ozon {
    &-btn {
      &__wrapper {
        display: flex;
        align-items: center;

        background: #005BFF;
        border-radius: 10px;

        padding: 0 15px;
      }

      &__text {
        font-size: 16px;
        color: #fff;

        &::before {
          background: url("../images/basket-white.svg") center center/contain no-repeat;
        }
      }

      &__img {
        margin: 0 0 0 20px;
        width: 90px;
        height: 20px;

        &::after {
          background: url("../images/ozon-logo-third.svg") center center/contain no-repeat;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .popup {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .advantages{
    &__grid{
      gap: 40px;
    }
    &__footer{
      margin: 40px 0 0 0;
      text-align: center;
    }
    &__img{
      padding: 0;
      height: auto;
    }
  }
  .footer {
    &__wrapper {
      padding: 40px 0;
    }
  }
  .title {
    &_size {
      &-biggest {
        font-size: 36px;
        line-height: 42px;

        letter-spacing: 0.01em;
      }

      &-big {
        font-size: 28px;
        line-height: 36px;
      }

      &-medium {
        font-size: 21px;
        line-height: 30px;
      }

      &-small {
        font-size: 18px;
        line-height: 26px;
      }

      &-smallest {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  .hero {
    &__wrapper {
      height: 736px;
      background: url("../images/hero-bg-mobile.jpg") center center/cover no-repeat;
    }

    &__content {
      margin: 50px 0 0 0;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
    }
    &__title{
      margin: 50px 0 0 0;
    }
  }
  .container {
    padding: 0 17px;
  }
  .text {
    &_size {
      &-big {
        font-size: 58px;
        line-height: 83px;
      }
    }
  }
  .info {
    &__title {
      padding: 0;
    }
    &__text {
      margin: 20px 0 0 0;
    }

    &__label {
      &-wrapper {
        width: 100%;
        max-width: 270px;
      }
    }
  }
  .info {
    &__wrapper {
      padding: 40px 0;
    }
  }
  .ozon {
    &-btn {
      width: 100%;
      &__wrapper {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .advantages{
    &-item{
      &__text{
        &-small{
          display: block;
        }
        &-medium{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .info {
    &__label {
      &-wrapper {
        max-width: 100%;
        width: max-content;
      }
    }
  }
  .hero {
    &__wrapper {
      height: 568px;
      padding-top: 20px;
      background: url("../images/hero-bg-mobile-small.jpg") bottom center/cover no-repeat;
    }

    &__content {
      margin: 40px 0 0 0;
    }

    &__title {
      margin: 60px auto 0 auto;
    }

    &__footer {
      margin: 20px 0 0 0;
    }
  }
  .container {
    padding: 0 12px;
  }
  .advantages{
    &__grid{
      gap: 30px;
    }
    &__footer{
      margin: 30px 0 0 0;
    }
    &-item{
      &__wrapper{
        padding: 20px;
      }
      &__text{
        &-mobile{
          max-width: 162px;
        }
      }
      &__icon{
        width: 60px;
        height: 60px;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      &__icon + &__content{
        margin: 0 0 0 25px;
      }
    }
  }
  .info{
    &__grid{
      gap: 30px;
    }
    &__wrapper{
      padding: 30px 0 40px 0;
    }
  }
  .title {
    &_size {
      &-biggest {
        font-size: 30px;
        line-height: 34px;
      }

      &-big {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  .logo {
    &-block {
      &__img {
        height: 20px;
      }
    }
  }
  .text {
    &_size {
      &-big {
        font-size: 48px;
        line-height: 90px;
      }
    }
  }
  .ozon {
    &-btn {
      width: 100%;
      max-width: 320px;

      &__wrapper {
        width: 100%;
        justify-content: center;
      }

      &__text {
        span {
          display: none;
        }
      }
    }
  }

  .advantages{
    &__footer{
      .title{
        font-size: 18px;
        line-height: 27px;
      }
    }
    &-item{
      &__text{
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  .info{
    &__title{
      .title{
        font-size: 18px;
        line-height: 27px;
      }
    }
    &__text{
      .text{
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
}

@keyframes showHide {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}