*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerRegular/MullerRegular.woff2") format("woff2"), url("../fonts/Muller/MullerRegular/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerLight/MullerLight.woff2") format("woff2"), url("../fonts/Muller/MullerLight/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerBold/MullerBold.woff2") format("woff2"), url("../fonts/Muller/MullerBold/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Muller', sans-serif;
}

.section__wrapper {
  min-height: 100vh;
}

.container {
  padding: 0 0 0 160px;
}

.main-slider {
  height: 100vh;
}

.button {
  -webkit-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.button-regular {
  width: 233px;
  height: 40px;
}

.button-orange {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #FF6600;
}

.button-white {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FF6600;
  background: #fff;
}

.button-transparent {
  border: 1px solid #FF6600;
  color: #FF6600;
  font-size: 14px;
  line-height: 14px;
}

@media screen and (min-width: 1930px) {
  .container {
    max-width: 1560px;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 0 0 30px;
  }
}

.header {
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header__container {
  max-width: 1464px;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__links-item + .header__links-item {
  margin: 8px 0 0 0;
}

.header__links-label {
  font-size: 18px;
  line-height: 18px;
  color: #171717;
}

.header-wrapper__nav {
  margin: 0 0 0 60px;
}

.header-wrapper__links {
  margin: 0 0 0 auto;
}

.header-logo__img {
  width: 167px;
  height: 94px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list-item + .header-nav__list-item {
  margin: 0 0 0 18px;
}

.header-nav__list-link {
  font-size: 18px;
  line-height: 18px;
  color: #171717;
  -webkit-transition: .3s color;
  -o-transition: .3s color;
  transition: .3s color;
}

.header-nav__list-link:hover {
  color: #FF6600;
}

.footer-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-form__header {
  max-width: 282px;
}

.contact-form__content {
  margin: 45px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-form__content-block + .contact-form__content-block {
  margin: 0 0 0 30px;
}

.contact-form__input + .contact-form__input {
  margin: 30px 0 0 0;
}

.contact-form__input input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 385px;
  padding: 10px 0;
  font-family: 'Muller', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  border-bottom: 1px solid #171717;
}

.contact-form__input input::-webkit-input-placeholder {
  opacity: 1;
  color: #000000;
}

.contact-form__input input::-moz-placeholder {
  opacity: 1;
  color: #000000;
}

.contact-form__input input:-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.contact-form__input input::-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.contact-form__input input::placeholder {
  opacity: 1;
  color: #000000;
}

.contact-form__textarea textarea {
  width: 520px;
  height: 138px;
  border: 1px solid #171717;
  padding: 13px;
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.contact-form__textarea textarea::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form__textarea textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form__textarea textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form__textarea textarea::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form__textarea textarea::placeholder {
  color: #000;
  opacity: 1;
}

.contact-form__file {
  margin: 36px 0 0 0;
}

.contact-form__footer {
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-form__footer-block + .contact-form__footer-block {
  margin: 0 0 0 20px;
}

.contact-form__footer-text {
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  max-width: 230px;
}

.file-input__item {
  display: none;
}

.file-input__label {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #171717;
}

.section__title {
  font-size: 27px;
  line-height: 31px;
  text-transform: uppercase;
  color: #171717;
}

.section__desc {
  font-size: 17px;
  line-height: 17px;
}

@media screen and (max-width: 991px) {
  .section__wrapper {
    min-height: auto;
  }
  .section__title {
    font-size: 14px;
    line-height: 116%;
  }
}

.home__wrapper {
  height: 100%;
  background: url("../img/home.jpg") center bottom/cover no-repeat;
}

.home__content {
  padding: 0 0 62px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.home__text {
  margin: auto 0 auto 0;
}

.home__text-label {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  color: #FF6600;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home-social__list-item + .home-social__list-item {
  margin: 14px 0 0 0;
}

@media screen and (max-width: 991px) {
  .home__wrapper {
    background: url("../img/home-bg-mobile.jpg") center center/cover no-repeat;
  }
  .home__content {
    height: 590px;
  }
}

.section-product__title {
  max-width: 337px;
}

.section-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1565px;
  width: 100%;
}

.section-product__content {
  margin: 80px 0 0 0;
}

.section-product__footer {
  margin: 40px 0 0 0;
}

.product__name-label {
  font-size: 27px;
  line-height: 27px;
  color: #171717;
}

.product__name-label_size-small {
  font-size: 23px;
  line-height: 23px;
}

.product__info {
  margin: 7px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__info-block + .product__info-block {
  margin: 0 0 0 20px;
}

.product__info-text {
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.product__info-text_size-small {
  font-size: 13px;
  line-height: 13px;
}

.product__info_indent-small {
  margin: 4px 0 0 0;
}

.product__desc {
  margin: 25px 0 0 0;
  max-width: 400px;
}

.product__text {
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.product__content {
  padding: 24px 18px 42px 18px;
}

.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.product__img-item {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-slider__item {
  -webkit-transition: .3s background-color;
  -o-transition: .3s background-color;
  transition: .3s background-color;
}

.product-slider__item:hover {
  background: #D9D9D9;
}

.product-slider__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 450px));
  gap: 55px;
  max-height: 100vh;
  overflow: auto;
}

.section-sets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.section-sets__wrapper-content {
  max-width: 1060px;
}

.section-sets__wrapper-block + .section-sets__wrapper-block {
  margin: 0 0 0 20px;
}

.section-sets__banner {
  height: 100%;
  background: #F08F35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

.section-sets__banner-title {
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 33px;
  color: #FFFFFF;
  max-width: 400px;
}

.section-sets__banner-text {
  margin: 60px 0 0 0;
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  color: #FFFFFF;
  max-width: 485px;
}

.section-sets__banner-button {
  margin: 20px 0 0 0;
}

.set-slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.set-slider__navigation-button {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: .3s border-color;
  -o-transition: .3s border-color;
  transition: .3s border-color;
}

.set-slider__navigation-button + .set-slider__navigation-button {
  margin: 8px 0 0 0;
}

.set-slider__navigation-button-next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.set-slider__navigation-button svg {
  opacity: 0.5;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.set-slider__navigation-button:hover {
  border-color: #FF6600;
  cursor: pointer;
}

.set-slider__navigation-button:hover svg {
  opacity: 1;
}

.set-slider__pagination {
  text-align: right;
}

.set-slider__pagination .swiper-pagination-current, .set-slider__pagination .swiper-pagination-total {
  font-family: 'Muller', sans-serif;
  text-transform: uppercase;
  color: #171717;
}

.set-slider__pagination .swiper-pagination-current {
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
}

.set-slider__pagination .swiper-pagination-total {
  font-size: 32px;
  line-height: 32px;
}

.set-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0 0 0;
}

.set-slider__item {
  margin: 50px 0 0 0;
}

.set-slider__title {
  max-width: 338px;
  text-align: right;
}

.set-slider-item {
  height: 820px;
}

.set-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 520px));
  grid-auto-rows: 400px;
  gap: 20px;
}

.set-grid__img {
  width: 100%;
  height: 100%;
}

.set-grid__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 991px) {
  .section-sets .container {
    padding: 0;
  }
  .section-sets__wrapper-content {
    position: absolute;
    right: 17px;
  }
  .section-sets__wrapper-block + .section-sets__wrapper-block {
    margin: 0;
  }
  .section-sets__banner {
    width: 285px;
    height: 435px;
    padding: 32px 17px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section-sets__banner-title {
    font-size: 16px;
    line-height: 16px;
    max-width: 160px;
  }
  .section-sets__banner-text {
    font-size: 14px;
    line-height: 14px;
    margin: 25px 0 0 0;
  }
  .set-grid__wrapper {
    grid-template-columns: repeat(2, minmax(0, 140px));
    grid-auto-rows: 110px;
  }
}

.section-category__wrapper {
  padding: 90px 200px 90px 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 1010px;
}

.section-category__wrapper-block {
  height: auto;
}

.section-category__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 616px;
  position: relative;
  height: 100%;
}

.section-category__slider::before {
  content: '';
  width: 1010px;
  height: 1010px;
  left: -350px;
  top: 0;
  border: 1px solid #171717;
  border-radius: 50%;
  position: absolute;
}

.section-category__nav {
  padding: 90px 0 0 0;
}

.section-category__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.category-slider__img {
  width: 552px;
  height: 552px;
  -o-object-fit: contain;
     object-fit: contain;
}

.category-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-list__item + .category-list__item {
  margin: 40px 0 0 0;
}

.category-list__link {
  position: relative;
}

.category-list__link:hover .category-list__link-img {
  opacity: 1;
}

.category-list__link:hover .category-list__link-label {
  color: #171717;
}

.category-list__link.active .category-list__link-img {
  opacity: 1;
}

.category-list__link.active .category-list__link-label {
  color: #171717;
}

.category-list__link-img {
  position: absolute;
  top: calc(50% - 18px);
  left: -45px;
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
}

.category-list__link-label {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: rgba(23, 23, 23, 0.4);
  -webkit-transition: .3s color;
  -o-transition: .3s color;
  transition: .3s color;
}

.category-thumbs {
  height: 810px;
}

.category-thumbs .swiper-slide-thumb-active .category-thumbs__item {
  border-color: #F08F35;
}

.category-thumbs .swiper-slide-thumb-active .category-thumbs__item::before {
  opacity: 0;
}

.category-thumbs__item {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 16px solid transparent;
  position: relative;
  -webkit-transition: .3s border-color linear;
  -o-transition: .3s border-color linear;
  transition: .3s border-color linear;
}

.category-thumbs__item::before {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #171717;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition: .3s opacity linear;
  -o-transition: .3s opacity linear;
  transition: .3s opacity linear;
}

.category-thumbs__img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1600px) {
  .section-category__wrapper {
    padding: 90px 30px 90px 80px;
  }
}

.section-contact__info {
  max-width: 480px;
  margin: 0 200px 0 0;
}

.section-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 57px 82px;
  background: #E4E3E8;
  max-width: 1735px;
  width: 100%;
}

.section-contact__desc {
  max-width: 442px;
  margin: 36px 0 0 0;
}

.section-contact__img {
  max-width: 684px;
}

.section-contact__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-contact__footer {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-contact__footer-block {
  width: 223px;
}

.section-contact__footer-block + .section-contact__footer-block {
  margin: 0 0 0 17px;
}

@media screen and (min-width: 1930px) {
  .section-contact__content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .section-contact__img {
    display: none;
  }
}
