

.app{
    width: 100%;
    height: 100%;
    background: #1B1834;
    font-family: 'Montserrat', sans-serif;
}

.app__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.app__wrapper--home::before{
    width: 300px;
    height: 300px;

    right: -100px;
    top: -100px;
}

.app__wrapper::before{
    content: '';
    width: 200px;
    height: 200px;
    display: block;

    position: absolute;
    right: -75px;
    top: -75px;

    z-index: 3;

 

    background: url(../images/moon.png) center center/contain no-repeat;
}

.screen{
    display: flex;
    flex-direction: column;
    background: url(../../bg-4.svg) 0 0/contain repeat;
    background-position: var(--position);

    transition: .1s linear;
    position: relative;
    z-index: 4;
    /* display: none; */
}


@keyframes screen {
    0%{
        background-position: 0 100vh;
    }
    25%{
        background-position: 0 0;
    }
    50%{
        background-position: 0 -100vh;
    }
    75%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 100vh;
    }
}
.screen::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;

    z-index: 1;
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
}

.screen.rocket-active .rocket__flame{
    opacity: 1;
    animation: flame 2s infinite;
}

.screen.rocket-active .rocket__item{
    animation: none;
    transform: translateY(-15px);
}

.screen__wrapper{
    position: relative;
    z-index: 2;
}

.rocket__content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rocket__wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.rocket__item{
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: rocket 5s linear infinite;
}

.rocket__img{
    position: relative;
    z-index: 2;
}

.rocket__flame{
    position: absolute;
    bottom: -25px;
    left: calc(50% - 135px);
    width: 40%;
    height: 30%;
    object-fit: contain;

    z-index: 1;

    opacity: 0;

    transition: .3s opacity;
}

@keyframes rocket {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes flame {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

.screen.rocket{
    height: 100dvh;
}

.screen.active{
    display: flex;
}


.screen__wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 100dvh;

    padding: 32px 16px;
}

.screen__content{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.screen__footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.screen__header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.screen__icon{
    width: 64px;
    height: 64px;

    margin: 0 auto;
}

.screen__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}


.nav{
    width: 100%;
}


.nav__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0,1fr));
    width: 100%;

    border-radius: 30px;
    overflow: hidden;
}

.nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

    background: rgba(256,256,256,.15);

    transition: .3s background;
}

.nav__item{
    position: relative;
}

.nav__item + .nav__item::before{
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 8px;
    height: calc(100% - 16px);
    background: rgba(256,256,256,.3);
}

.nav__item:hover{
    background: rgba(256,256,256,.3);

}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    height: 100%;
    padding: 12px ;
}

.nav-link__icon{
    width: 16px;
    height: 16px;

    fill: #fff;
}

.nav-link__text{
    color: #fff;
    font-size: 12px;
}

.score__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    text-align: center;
}

.score__count{
    color: #fff;
    font-size: 56px;
    font-weight: 700;
}

.score__level{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.score__level::before,.score__level::after{
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;

    background: var(--score-color);
}

.block{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block__title{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.block__text{
    font-size: 12px;
    font-weight: 400;
    color: #fff;

    letter-spacing: 1.1px;
}

.block__text--uppercase{
    text-transform: uppercase;
}

.block__text--center{
    text-align: center;
}

.block__content{
    background: rgba(256,256,256,.15);
    border-radius: 16px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block__grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 16px;
}

.block__row{
    overflow: auto;
    width: 100%;
    max-width: 100%;

    display: flex;
    align-items: stretch;
    gap: 16px;

    padding-bottom: 8px;
}

.block__row::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
 .block__row::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .block__row::-webkit-scrollbar-thumb {
    background-color: rgba(256,256,256,.5);
    border-radius: 5px;
  }
  
  .block__row::-webkit-scrollbar-thumb:hover {
    background-color: rgba(256,256,256,.5);
  }

.block__row .block__content{
    width: 80vw;
    flex-shrink: 0;
}

.link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.link--column{
    flex-direction: column;
    text-align: center;
}

.link__icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(256,256,256,.2);
}

.link__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link__title{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.link__title--big{
    font-size: 18px;
    font-weight: 700;

    text-align: center;
}

.link__text{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.link__text--big{
    font-size: 14px;
    font-weight: 700;
}

.link__text--accent{
    color: #bc2621;
}

.link__text span{
    color: #BDBDBD;
}

.link__arrow{
    width: 16px;
    height: 16px;

    fill: rgba(256,256,256,.8);
}


.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 16px;
    flex-direction: column;

    padding: 16px 0;
}

.card__icon{
    width: 64px;
    height: 64px;
}

.card__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

.card__title{
    font-size: 18px;
    font-weight: 700;
    color: rgba(197,41,39,1);
}

.button{
    width: 100%;
    height: 48px;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #fff;
    font-weight: 500;

    background: rgba(256,256,256,.1);
}

.button--accent{
    background-color: rgba(197,41,39,1);

}

