<div class="cookie">
    <div class="container">
        <div class="cookie__row">
            <div class="cookie__content">
                <div class="cookie__img">
                    <img src="assets/images/icons/cookie-img.svg" alt="">
                </div>
                <p class="cookie__text">Our website use cookies. By continuing navigating, we assume your permission to
                    deploy cookies as detailed in our Privacy Policy.</p>
            </div>
            <div class="cookie__footer">
                <a href="#" class="button button--smallest button--orange cookie-close">
                    <svg class="icon">
                        <use xlink:href="assets/images/sprite.svg#cookie"></use>
                    </svg>
                    Accept cookies
                </a>
                <a href="#" class="button button--smallest button--transparent cookie-close">
                    Decline
                </a>
            </div>
            <div class="cookie__close cookie-close"></div>
        </div>
    </div>
</div>