:root {
  --text-font: "Manrope", sans-serif;
  --title-font: "EB Garamond", sans-serif;
  --accent-color: #00b3ce;
  --grey-color: #817d8c;
  --black-color: #00171f;
}

body {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.container {
  max-width: 1166px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
}
.container--left {
  max-width: 100%;
  padding-left: calc(50% - 558px);
  padding-right: 0;
}
@media screen and (max-width: 1166px) {
  .container--left {
    padding: 0 25px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
}

.title--small {
  font-family: var(--text-font);
  font-size: 58px;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .title--small {
    font-size: 42px;
  }
}
.title--base {
  font-family: var(--title--font);
  font-size: 64px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .title--base {
    font-size: 48px;
  }
}
.title--white {
  color: #fff;
}
.title--black {
  color: #00171f;
}

.text {
  font-family: var(--text-font);
}
.text--base {
  font-size: 16px;
  line-height: 1.6;
}
.text--small {
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.2;
}
.text--white {
  color: #fff;
}
.text--black {
  color: #000;
}
.text--grey {
  color: var(--grey-color);
}
.text--blue {
  color: var(--accent-color);
}
.text--uppercase {
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
}
.button--base {
  height: 50px;
  font-family: var(--text-font);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .button--base {
    font-size: 21px;
    height: 85px;
  }
}
.button--full {
  width: 100%;
}
.button--grey {
  background-color: #f6f6f6;
  color: #000;
}
.button--black {
  background-color: #000;
  color: #fff;
}
.button--arrow {
  height: auto;
}
@media screen and (max-width: 991px) {
  .button--arrow {
    height: 85px;
  }
}
.button--arrow--white {
  color: #fff;
  fill: #fff;
}
@media screen and (max-width: 991px) {
  .button--arrow--white {
    background-color: #fff;
    color: #000;
  }
}
.button--arrow--blue {
  color: #00b3ce;
  fill: #00b3ce;
}
.button--arrow:hover .button__arrow {
  transform: translateX(10px);
}
@media screen and (min-width: 992px) {
  .button--mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .button--desktop {
    display: none;
  }
}
.button__arrow {
  width: 20px;
  height: 12px;
  flex-shrink: 0;
  transition: 0.3s transform;
}
@media screen and (max-width: 991px) {
  .button__arrow {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .button {
    width: 100%;
  }
}

.burger {
  width: 36px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
}
.burger__item:nth-child(1) {
  transition: 0.3s transform, 0.3s top;
}
.burger__item:nth-child(2) {
  top: calc(50% - 1.5px);
  transition: 0.3s left, 0.3s opacity, 0.5s visibility;
}
.burger__item:nth-child(3) {
  top: calc(100% - 3px);
  transition: 0.3s transform, 0.3s top;
}
.burger--active .burger__item {
  top: 8px;
}
.burger--active .burger__item:nth-child(1) {
  transform: rotate(45deg);
}
.burger--active .burger__item:nth-child(2) {
  left: -10px;
  opacity: 0;
  visibility: hidden;
}
.burger--active .burger__item:nth-child(3) {
  transform: rotate(-45deg);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__link {
  font-family: var(--text-font);
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  line-height: 1.2;
  transition: 0.3s color;
}
.nav__link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1025px) {
  .nav__item--mobile {
    display: none;
  }
}

.header {
  position: sticky;
  top: -1px;
  width: 100%;
  background: #000;
  z-index: 10;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
@media screen and (max-width: 1024px) {
  .header__about {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .header__burger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    position: fixed;
    top: 98px;
    left: 0;
    background-color: #161616;
    width: 100%;
    display: none;
    padding: 60px 25px;
  }
}
.header__block {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
  height: 50px;
  fill: #fff;
}

.cart__icon {
  width: 16px;
  height: 16px;
  display: block;
  stroke: #fff;
  fill: transparent;
}
@media screen and (max-width: 992px) {
  .cart__icon {
    width: 25px;
    height: 25px;
  }
}

.hero {
  overflow: hidden;
}
.hero__wrapper {
  background: #000;
  border-radius: 0px 0px 99px 99px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .hero__wrapper {
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 60px;
  }
}
.hero__content {
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .hero__content {
    order: 2;
    width: 100%;
  }
}
.hero__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .hero__row {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 991px) {
  .hero__block {
    position: relative;
    height: 550px;
    width: 100%;
  }
}
.hero__img {
  height: 884px;
}
@media screen and (max-width: 991px) {
  .hero__img {
    position: absolute;
    top: -220px;
    left: 30px;
    width: 900px;
    height: auto;
  }
  .hero__img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .hero__img {
    left: -100px;
    width: 200%;
    top: -20%;
    position: relative;
  }
}
.hero__footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 60px 0 0 0;
}
.hero__title {
  max-width: 410px;
  width: 100%;
}
.hero__text {
  max-width: 330px;
  width: 100%;
  margin: 30px 0 0 0;
}

.section--slider {
  overflow: hidden;
}
.section__wrapper {
  padding: 70px 0;
}
@media screen and (max-width: 991px) {
  .section__wrapper {
    padding: 60px 0;
  }
}
.section__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 991px) {
  .section__title {
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
}
.section__title--center {
  text-align: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section__title--mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .section__title--desktop {
    display: none;
  }
}
.section__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section__header:not(:last-child) {
  margin: 0 0 90px 0;
}
@media screen and (max-width: 991px) {
  .section__header:not(:last-child) {
    margin: 0 0 26px 0;
  }
}
.section__content:not(:last-child) {
  margin: 0 0 75px 0;
}
@media screen and (max-width: 991px) {
  .section__content:not(:last-child) {
    margin: 0 0 28px 0;
  }
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 70px;
}
@media screen and (max-width: 991px) {
  .product__list {
    grid-template-columns: minmax(0, 1fr);
    gap: 28px;
  }
}
.product-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 991px) {
  .product-item__wrapper {
    background-color: #f8f8f8;
    gap: 18px;
    text-align: center;
    padding: 0 0 30px 0;
  }
}
.product-item__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 991px) {
  .product-item__content {
    gap: 18px;
  }
}
.product-item__img {
  height: 310px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
}
@media screen and (max-width: 991px) {
  .product-item__img {
    height: auto;
    padding: 0 0 22px 0;
    max-height: 550px;
  }
}
.product-item__img img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-item__title {
  font-family: var(--text-font);
  color: var(--black-color);
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .product-item__title {
    font-size: 24px;
  }
}
.product-item__price {
  font-family: var(--text-font);
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
  color: var(--black-color);
}

.gallery-slider {
  overflow: visible;
}
.gallery-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-slider__item {
  max-width: 511px;
  height: 438px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .gallery-slider__item {
    max-width: 620px;
    height: 665px;
  }
}
@media screen and (max-width: 600px) {
  .gallery-slider__item {
    width: 80vw;
    height: 70vw;
  }
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 520px minmax(0, 1fr);
  gap: 50px;
}
@media screen and (max-width: 991px) {
  .contact__wrapper {
    grid-template-columns: minmax(0, 1fr);
    gap: 56px;
  }
}
.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .contact__content {
    align-items: center;
  }
}
@media screen and (max-width: 991px) {
  .contact__title {
    text-align: center;
  }
}
.contact__title:not(:last-child) {
  margin: 0 0 24px 0;
}
@media screen and (max-width: 991px) {
  .contact__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.contact__text {
  max-width: 420px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .contact__text {
    text-align: center;
  }
}
.contact__text:not(:last-child) {
  margin: 0 0 32px 0;
}
@media screen and (max-width: 991px) {
  .contact__text:not(:last-child) {
    margin: 0 0 56px 0;
  }
}
.contact__img {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px 0px 0px 99px;
  overflow: hidden;
}
.contact__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .contact__img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
}
.contact__form {
  width: 100%;
}
.contact-form__wrapper {
  width: 100%;
  height: 60px;
  position: relative;
}
.contact-form__input {
  width: 100%;
  height: 100%;
  padding: 16px 60px 16px 16px;
  border-bottom: 1px solid var(--black-color);
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 300;
  color: var(--black-color);
}
.contact-form__input::-moz-placeholder {
  color: #a5a2ad;
}
.contact-form__input::placeholder {
  color: #a5a2ad;
}
.contact-form__button {
  position: absolute;
  right: 16px;
  top: calc(50% - 10px);
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s right;
}
.contact-form__button:hover {
  cursor: pointer;
  right: 10px;
}
.contact-form__button .icon {
  width: 100%;
  height: 100%;
}

.footer__wrapper {
  padding: 70px 0 20px 0;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 120px 20px;
}
@media screen and (max-width: 991px) {
  .footer__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 60px;
  }
}
.footer__logo {
  width: 175px;
  height: 55px;
}
@media screen and (max-width: 991px) {
  .footer__logo {
    margin: 0 auto;
  }
}
.footer__copyright {
  font-family: var(--text-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #9E9E9E;
}
@media screen and (max-width: 991px) {
  .footer__copyright {
    text-align: center;
    font-size: 12px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 991px) {
  .footer__content {
    gap: 20px;
  }
}
.footer__block--end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .footer__block--end {
    align-items: center;
    justify-content: center;
  }
}
.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  direction: rtl;
  text-align: left;
  gap: 20px;
}
@media screen and (max-width: 991px) {
  .footer-nav__list {
    grid-template-columns: minmax(0, 1fr);
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .footer-nav__item--desktop {
    display: none;
  }
}
.footer-nav__link {
  transition: 0.3s linear;
}
.footer-nav__link:hover {
  color: var(--accent-color);
}
.footer-contact__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media screen and (max-width: 991px) {
  .footer-contact__list {
    align-items: center;
    gap: 20px;
  }
}/*# sourceMappingURL=index.css.map */