@font-face {
    font-family: 'Actay Wide';
    src: url('../../fonts/ActayWide/ActayWide-Bold/ActayWide-Bold.woff2') format('woff2'),
        url('../../fonts/ActayWide/ActayWide-Bold/ActayWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

