<section class="section">
    <div class="section__wrapper">
        <div class="container">
            <div class="section__header">
                <h2 class="title title--base title--white title--mobile--center">Наші Клієнти в захваті!</h2>
            </div>
            <div class="section__content">
                <div class="swiper review-slider marquee-left">
                    <div class="swiper-wrapper">
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності, мій рейтинг значно зрос і я досягла нових висот у грі Dota
                                        2. Рекомендую
                                        цей сервіс!
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та

                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper review-slider marquee-right">
                    <div class="swiper-wrapper">
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                        <div class="review-card swiper-slide">
                            <div class="review-card__wrapper">
                                <div class="review-card__header">
                                    <p class="title title--small title--white">
                                        Буст MMR
                                    </p>
                                    <div class="review-card__rating rating">
                                        <div class="rating__wrapper">
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="rating__icon">
                                                <use xlink:href="assets/images/sprite.svg#star"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-card__content">
                                    <p class="text text--baset text--white">
                                        Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому
                                        професіоналізму та
                                        ефективності
                                    </p>
                                </div>
                                <div class="review-card__footer">
                                    <p class="title title--smallest title--white">№3213211123</p>
                                    <p class="title title--smallest title--white">26.04.2023</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__footer">
                <div class="review-banner">
                    <div class="review-banner__wrapper">
                        <div class="review-banner__header">
                            <p class="title title--small title--black">Хочеш перевірити замовлення та відгук ?
                            </p>
                            <p class="title title--tiny title--black">Ми надаємо повністю прозору стрічку
                                замовлень, ви можете перевірити будь-яке замовлення маючи його номер. Ви маєте
                                можливість поділиться вашими враженнями від нашого сервісу після завершення
                                виконання замовлення бустером. </p>
                        </div>
                        <div class="review-banner__button">
                            <a href="#" class="button button--base button--check button--black">
                                Перевірити Замовлення</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>