<div class="game">
    <ul class="game__list">
        <li class="game-item game-item--defeat">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                D</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="game-item game-item--win">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                W</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="game-item game-item--win">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                W</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="game-item game-item--win">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                W</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="game-item game-item--win">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                W</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="game-item game-item--win">
            <div class="game-item__wrapper">
                <div class="game-item__header">
                    <div class="game-item__block">
                        <div class="game-item__icon game-item-toggler">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#arrow_down"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--white">
                                №</p>
                        </div>
                        <div class="game-item__text">
                            7214733882
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <svg class="icon">
                                <use xlink:href="assets/images/sprite.svg#schedule"></use>
                            </svg>
                        </div>
                        <div class="game-item__text">
                            12 хв. тому
                        </div>
                    </div>
                    <div class="game-item__block">
                        <div class="game-item__icon">
                            <p class="title title--smallest title--black">
                                W</p>
                        </div>
                        <div class="game-item__text game-item__text--small">
                            +25 MMR
                        </div>
                    </div>
                </div>
                <div class="game-item__content">
                    <div class="game-item__result">
                        <div class="game-item__hero">
                            <img src="assets/images/icons/icon_hero.png"
                                 alt="">
                        </div>
                        <div class="game-item__info">
                            <p class="title title--smallest title--black">
                                Ember Spirit
                            </p>
                            <p class="title title--smallest title--black">
                                21/1/16
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>