<section class="section about ">
    <div class="section__wrapper">
        <div class="container">
            <div class="section__header section__header--link">
                <h2 class="title title--base title--white">Про GameBoost</h2>
            </div>
            <div class="section__content">
                <div class="about-grid animation-wrapper">
                    <div class="animation-item about-grid__block about-grid__block--row--big card">
                        <div class="card__wrapper">
                            <div class="card__header">
                                <p class="title title--middle title--orange">Професійні бустери</p>
                                <p class="title title--large title--white">
                                    Наша Ефективність
                                </p>
                            </div>
                            <div class="card__content">
                                <p class="text text--base text--white">
                                    Ми працюємо тільки з висококваліфікованими та професійними бустерами. Наші
                                    експерти забезпечать найкращі результати для прокачки вашого рейтингу та
                                    навичок у грі.
                                </p>
                                <p class="text text--base text--white">
                                    Довіртеся професіоналам та досягніть максимальної ефективності в грі.
                                </p>
                            </div>
                            <div class="card__bg card__bg--desktop">
                                <img src="assets/images/about/1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="animation-item about-grid__block card">
                        <div class="card__wrapper">
                            <div class="card__header">
                                <p class="title title--middle title--orange">
                                    Персоналізований сервіс
                                </p>
                                <p class="title title--large title--white">
                                    Ваш комфорт
                                </p>
                            </div>
                            <div class="card__content">
                                <p class="text text--base text--white">
                                    У GameBoost ми цінуємо кожного клієнта та його комфорт. Наші гнучкі опції,
                                    персоналізований підхід та уважність до ваших потреб забезпечують
                                    максимальне задоволення від користування нашим сервісом. Насолоджуйтеся
                                    комфортом та якісним обслуговуванням з GameBoost
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="animation-item about-grid__block about-grid__block--height--big card">
                        <div class="card__wrapper">
                            <div class="card__header">
                                <p class="title title--middle title--orange">
                                    Позитивна атмосфера
                                </p>
                                <p class="title title--large title--white">
                                    Детокс ком’юніті
                                </p>
                            </div>
                            <div class="card__bg card__bg--small">
                                <img src="assets/images/about/2.png" alt="">
                            </div>
                            <div class="card__content">
                                <p class="text text--base text--white">
                                    GameBoost створює позитивну ігрову атмосферу, в якій ви можете
                                    насолоджуватися грою вільною від токсичності. Наші бустери володіють високим
                                    рівнем професіоналізму та підтримують позитивне спілкування, забезпечуючи
                                    вам незабутньо-приємний досвід гри
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="section-bg">
    <div class="section about">
        <div class="section__wrapper">
            <div class="container">
                <div class="about__block">
                    <div class="about__block about-grid animation-wrapper">
                        <div class="animation-item about-grid__block about-grid__block--column--full card">
                            <div class="card__wrapper">
                                <div class="card__header card__header--half">
                                    <p class="title title--base title--white">
                                        Піднімай ММР разом <span class="title title--base title--gradient">з
                                                        особистим скілом</span>
                                    </p>
                                </div>
                                <div class="card__content card__content--half">
                                    <p class="text text--base text--white">
                                        Менторство від найкращих гравців світу дозволить вам підвищувати ігрові
                                        навички разом з ММР. Адже, ментор не тільки вчить вас грати, а ще і грає
                                        разом з вами
                                    </p>
                                </div>
                                <div class="card__bg card__bg--right card__bg--mobile--relative">
                                    <img class="img img--desktop" src="assets/images/about/3.png" alt="">
                                    <img class="img img--mobile" src="assets/images/about/3-m.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="animation-item about-grid__block about-grid__block--row--big card">
                            <div class="card__wrapper">
                                <div class="card__header">
                                    <p class="title title--small title--white">
                                        Особистий менторинг
                                    </p>

                                </div>
                                <div class="card__content">
                                    <p class="text text--base text--white">
                                        Наші бустери не лише виконують роль бустерів, але й виступають як
                                        особисті ментори, які прокладуть вам шлях до успіху. Вони надаватимуть
                                        цінні поради та стратегії, щоб допомогти вам розвиватися як гравець.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="animation-item about-grid__block about-grid__block--row--biggest card">
                            <div class="card__wrapper">
                                <div class="card__header">
                                    <p class="title title--small title--white">
                                        Спільний Буст
                                    </p>

                                </div>
                                <div class="card__content">
                                    <p class="text text--base text--white">
                                        Наші бустери забезпечують швидке та ефективне піднесення вашого рейтингу
                                        в Dota 2, допомагаючи вам досягти високих результатів.
                                    </p>
                                </div>
                                <div class="card__bg">
                                    <img src="assets/images/about/4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="animation-item about-grid__block about-grid__block--row--big card">
                            <div class="card__wrapper">
                                <div class="card__header">
                                    <p class="title title--small title--white">
                                        Індивідуальний підхід
                                    </p>

                                </div>
                                <div class="card__content">
                                    <p class="text text--base text--white">
                                        Наші бустери пристосовуються до ваших потреб та рівня гри. Вони
                                        стежитимуть за вашим прогресом, надаватимуть зворотний зв'язок та
                                        корисні поради, щоб допомогти вам досягти найкращих результатів.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="animation-item about-grid__block card card--link">
                            <a href="#"
                               class="card__wrapper card__wrapper--banner card__wrapper--padding--small card__wrapper--blue">
                                <div class="card__header card__header--margin--small">
                                    <p class="title title--small title--black">
                                        Замовити Менторство
                                    </p>
                                </div>
                                <div class="card__content card__content--half">
                                    <p class="text text--base text--black">
                                        Замовити послугу бустингу ММР з особистим менторством
                                    </p>
                                </div>
                                <div class="card__bg card__bg--right">
                                    <img src="assets/images/about/5.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="section__wrapper">
            <div class="container">
                <div class="section__header section__header--margin--small section__header--link">
                    <h2 class="title title--base title--white">Блог</h2>
                </div>
                <div class="section__content">
                    <div class="blog-grid">
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="blog-card">
                            <a href="#" class="blog-card__wrapper">
                                <img src="assets/images/blog/1.jpg" alt="" class="blog-card__img">
                                <div class="blog-card__content">
                                    <p class="title title--smallest title--grey">24 червня 2023р.</p>
                                    <p class="blog-card__title title title--small title--white">Оголошено нового
                                        героя в Dota
                                        2!</p>
                                    <p class="blog-card__text text text--base text--white">
                                        Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Cum dolorem explicabo nisi! Lorem ipsum dolor sit
                                        amet.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>