:root {
  --font-main: "Rubik", sans-serif;
  --container-width: 1220px;
  --container-width-big: 1340px;
  --container-padding: 20px;
  --text-base: 16px;
  --text-middle: 18px;
  --text-button: 14px;
  --text-button-big: 18px;
  --title-base: 52px;
  --title-small: 26px;
  --title-middle: 32px;
  --blue-color: #3466FB;
  --white-color: #fff;
  --white-light-color: #A2A7CE;
  --card-padding: 48px;
  --card-radius: 80px;
  --card-video-padding: 48px 0;
}
@media screen and (max-width: 991px) {
  :root {
    --text-base: 16px;
    --text-middle: 16px;
    --text-button: 14px;
    --text-button-big: 16px;
    --title-base: 34px;
    --title-small: 26px;
    --title-middle: 32px;
    --card-padding: 48px;
    --card-radius: 50px;
    --card-video-padding: 0 20px 50px 20px;
  }
}
@media screen and (max-width: 350px) {
  :root {
    --title-base: 26px;
    --container-padding: 10px ;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #212335;
  font-family: var(--font-main);
  font-size: var(--text-base);
  line-height: 1.2;
  color: var(--white-color);
}

.page-wrapper {
  background: url("../../images/page-bg.webp") top center/cover no-repeat;
  position: relative;
}
.page-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../images/page-bg-circle.svg") top center/cover no-repeat;
}
@media screen and (max-width: 991px) {
  .page-wrapper {
    background: url("../../images/page-bg-m.webp") top center/cover no-repeat;
  }
  .page-wrapper::before {
    background: url("../../images/page-bg-circle-m.svg") top center/cover no-repeat;
  }
}

.content {
  padding: 50px 0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  width: 100%;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container--big {
  max-width: calc(var(--container-width-big) + var(--container-padding) * 2);
}

.title {
  font-family: var(--font-main);
  color: var(--white-color);
}
.title--base {
  font-size: var(--title-base);
  line-height: 1;
  letter-spacing: -0.02px;
  font-weight: 500;
}

.text {
  font-family: var(--font-main);
  color: var(--white-color);
}
.text--base {
  font-size: var(--text-base);
  line-height: 1.2;
  font-weight: 400;
}
.text--middle {
  font-size: var(--text-middle);
  line-height: 1.4;
  font-weight: 400;
}

.promo--footer {
  position: relative;
}
.promo--footer::before {
  content: "";
  width: 375px;
  height: 375px;
  display: block;
  position: absolute;
  left: calc(50% - var(--container-width) / 2 - 150px);
  top: 0;
  transform: rotate(170deg);
  background: url("../../images/decor/triangle-blue.webp") center center/contain no-repeat;
  z-index: 3;
}
@media screen and (max-width: 991px) {
  .promo--footer::before {
    width: 104px;
    height: 104px;
    top: 0;
    left: unset;
    right: -60px;
  }
}
.promo--footer::after {
  content: "";
  width: 310px;
  height: 310px;
  display: block;
  position: absolute;
  top: 30px;
  right: calc(50% - var(--container-width) / 2 - 100px);
  transform: rotate(17deg);
  background: url("../../images/decor/triangle-red.webp") center center/contain no-repeat;
}
@media screen and (max-width: 991px) {
  .promo--footer::after {
    width: 220px;
    height: 220px;
    top: unset;
    bottom: -60px;
    right: -110px;
  }
}
/*# sourceMappingURL=core.css.map */