<footer class="footer">
    <div class="footer__wrapper">
        <div class="container">
            <div class="footer__box">
                <div class="footer__nav">
                    <ul class="footer__list footer__list--center footer__list--gap--small">
                        <li class="footer__logo logo">
                            <img src="assets/images/icons/logo-small.svg" alt="" class="logo">
                        </li>
                        <li class="footer__icon tip">
                            <a href="#" class="footer__link tip-label">
                                <svg>
                                    <use xlink:href="assets/images/sprite.svg#shield_lock"></use>
                                </svg>
                            </a>
                            <div class="tip-content tip-content--left">
                                <div class="tip-content__wrapper">
                                    <p class="tip-content__title tip-content__title--blue title title--small title--blue">
                                        Безпека
                                    </p>
                                    <p class="tip-content__text tip-content__text--white">
                                        Піднімайте свій ММР без ризику, граючи з нашими професійними бустерами.
                                        Отримуйте професійну підтримку та швидкий розвиток вашого рейтингу в Dota 2.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="footer__icon tip">
                            <a href="#" class="footer__link tip-label">
                                <svg>
                                    <use xlink:href="assets/images/sprite.svg#award_star"></use>
                                </svg>
                            </a>
                            <div class="tip-content tip-content--left">
                                <div class="tip-content__wrapper">
                                    <p class="tip-content__title tip-content__title--blue title title--small title--blue">
                                        Безпека
                                    </p>
                                    <p class="tip-content__text tip-content__text--white">
                                        Піднімайте свій ММР без ризику, граючи з нашими професійними бустерами.
                                        Отримуйте професійну підтримку та швидкий розвиток вашого рейтингу в Dota 2.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="footer__icon">
                            <div class="language-select">
                                <a href="#" class="language-select__link language-select__current">
                                    <svg class="icon">
                                        <use xlink:href="assets/images/sprite.svg#ua"></use>
                                    </svg>
                                </a>
                                <div class="language-select__list">
                                    <a href="#" class="language-select__link">
                                        <svg class="icon">
                                            <use xlink:href="assets/images/sprite.svg#ua"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="language-select__link">
                                        <svg class="icon">
                                            <use xlink:href="assets/images/sprite.svg#pl"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="language-select__link">
                                        <svg class="icon">
                                            <use xlink:href="assets/images/sprite.svg#us"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer__info">
                    <div class="footer__row">
                        <div class="footer-block">
                            <div class="footer-block__header">
                                <p class="title title--small title--white">
                                    Компанія
                                </p>
                            </div>
                            <div class="footer-block__content">
                                <ul class="footer__list">
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Послуги
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Про Нас
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Робота
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Блог
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-block">
                            <div class="footer-block__header">
                                <p class="title title--small title--white">
                                    Правові
                                </p>
                            </div>
                            <div class="footer-block__content">
                                <ul class="footer__list">
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Політика Конфіденційності
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Умови Використання
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="footer-block">
                            <div class="footer-block__header">
                                <p class="title title--small title--white">
                                    Контакти
                                </p>
                            </div>
                            <div class="footer-block__content">
                                <ul class="footer__list">
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Зв’язок з нами
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Telegram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:admin@gameboost.com.ua"
                                           class="text text--grey text--semibold text--small text--font--accent">
                                            admin@gameboost.com.ua
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer__text">
                <div class="footer__payment payment">
                    <ul class="payment__list">
                        <li class="payment__item">
                            <svg class="payment__icon">
                                <use xlink:href="assets/images/sprite.svg#visa"></use>
                            </svg>
                        </li>
                        <li class="payment__item">
                            <svg class="payment__icon">
                                <use xlink:href="assets/images/sprite.svg#mastercard"></use>
                            </svg>
                        </li>
                        <li class="payment__item">
                            <svg class="payment__icon">
                                <use xlink:href="assets/images/sprite.svg#apay"></use>
                            </svg>
                        </li>
                        <li class="payment__item">
                            <svg class="payment__icon">
                                <use xlink:href="assets/images/sprite.svg#gpay"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <p class="text text--tiny text--grey">
                    Dota 2 є зареєстрованою торговою маркою компанії Valve Corporation. Ми не пов'язані з компанією
                    Valve Corporation, не асоційовані з нею і не підтримуємо її. GameBoost не відображає погляди чи
                    думки Valve Corporation.
                </p>
                <p class="text text--tiny text--grey">
                    Всі права захищені &copy;GAMEBOOST 2023
                </p>
            </div>
        </div>
    </div>
</footer>