/*general*/
:root{
	--font-accent:'Open Sans', sans-serif;
	--color-grey:#656B6C;
	--color-white:#E5E3DD;
	--accent-color:#C9AE6A;
}



body.no-scroll {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.logo__img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: -moz-max-content;
	width: max-content;
}
.button--base {
	padding: 11px 17px;
	gap: 10px;
	font-family: var(--font-accent);
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	border-radius: 50px;
}
.button--big {
	height: 53px;
}
.button--bordered {
	background-color: transparent;
	border: 1px solid #434444;
	color: #fff;
}
.button--bordered--accent{
	border-color: var(--accent-color);
}
.button--accent {
	background: var(--accent-color);
	color: #1D2122;
}
.button--link {
	background: transparent;
	padding: 0;
	color: var(--accent-color);
	fill: var(--accent-color);
}
.button--back {
	font-family: var(--font-accent);
	font-size: 18px;
	color: #656B6C;
	fill: #656B6C;
	gap: 10px;
}
.button--full {
	width: 100%;
}
.button__icon {
	width: 13px;
	height: 13px;
	flex-shrink: 0;
}
.button__icon--accent {
	fill: var(--accent-color);
}

@media screen and (max-width: 600px) {
	.button__text--desktop{
		display: none;
	}
	.button--header{
		font-size: 12px;
		padding: 9px 14px;
		gap: 5px;
	}
	.button__icon--header{
		width: 8px;
		height: 8px;
	}
}

.title {
	font-family: var(--font-accent);
}
.title--base {
	font-size: 40px;
	line-height: 1.3;
	text-transform: uppercase;
	font-weight: 700;
}
@media screen and (max-width: 600px) {
	.title--base {
		font-size: 25px;
	}
}
.title--small {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;
}
@media screen and (max-width: 600px) {
	.title--mobile--small{
		font-size: 20px;
	}
}
.title--white {
	color: #fff;
}

.text {
	font-family: var(--font-accent);
}
.text--small {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}
.text--base {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
}
.text--big {
	font-size: 25px;
	font-weight: 400;
	line-height: 1.3;
}
.text--semibold {
	font-weight: 600;
}
.text--italic {
	font-style: italic;
}
.text--grey {
	color: var(--color-grey);
}
.text--white {
	color: var(--color-white);
}
.text--white--clear {
	color: #fff;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.logo__img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.phone-link {
	display: flex;
	align-items: center;
	gap: 10px;
}
.phone-link__text {
	font-family: var(--font-accent);
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
}

.phone-link__text--small {
	font-size: 16px;
	font-weight: 400;
}
.phone-link__text--grey {
	color: var(--color-grey);
}
.phone-link__icon {
	width: 13px;
	height: 13px;
	flex-shrink: 0;
	fill: var(--accent-color);
}
.phone-link__icon--small {
	width: 11px;
	height: 11px;
}
.phone-link__icon--grey {
	fill: var(--color-grey);
}

@media screen and (max-width: 600px) {
	.phone-link{
		gap: 5px;
	}
	.phone-link__text{
		font-size: 12px;
	}
	.phone-link__icon{
		width: 8px;
		height: 8px;
	}
}

.header{
	width: 100%;
	padding: 0 70px;
	position: absolute;
	left: 0;
	top: 120px;

	z-index: 12;
}

@media screen and (max-width:768px) {
.header{
	top: 40px;
	padding: 0 20px;
}
}
.header__logo {
	width: 135px;
	height: 101px;
	flex-shrink: 0;
}
@media screen and (max-width: 600px) {
	.header__logo {
		width: 66px;
		height: 50px;
	}
}
.header__row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}
.header__control {
	display: flex;
	align-items: center;
	gap: 45px;
	padding: 15px 0 0 0;
}
@media screen and (max-width: 600px) {
	.header__control {
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;
		padding: 0;
	}
}
.home {
	/*height: 1020px;*/
	min-height: 400px;
	height: 100vh;
	max-height: 1020px;
	padding: 70px 70px 70px 70px;
	margin-bottom: 130px;
}
.home-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.home-bg {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	z-index: -1;
}
.home-body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(0, 720px) 40px minmax(0, 339px);
	grid-template-columns: minmax(0, 720px) minmax(0, 339px);
	grid-gap: 40px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	width: 100%;
	/*margin-bottom: 150px;*/
	margin-bottom: 130px;
}
.home-title {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
}
.home-body__right {
	display: -ms-grid;
	display: grid;
	grid-gap: 20px;
}
.home-text {
	line-height: 130%;
}
.home-link {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #c9ae6a;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
	margin-right: auto;
}
.home-link:hover,
.home-link:focus-visible {
	color: #fff;
}
.home-link::after {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.59998L8.48 2.71998L12.96 7.19998H0V8.79998H12.96L8.48 13.28L9.6 14.4L16 7.99998L9.6 1.59998Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
}
.home-link:hover::after,
.home-link:focus-visible::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.59998L8.48 2.71998L12.96 7.19998H0V8.79998H12.96L8.48 13.28L9.6 14.4L16 7.99998L9.6 1.59998Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}
@media (max-width: 1500px) {
	.home-body {
		margin-bottom: 80px;
	}
	.home-title {
		max-width: 550px;
		font-size: 30px;
	}
	.home-text {
		font-size: 17px;
	}
}
@media (max-width: 1300px) {
	.home {
		padding: 40px 40px 40px 40px;
		margin-bottom: 160px;
	}
}
@media (max-width: 1050px) {
	.home {
		/*min-height: 650px;*/
		max-height: 850px;
		/*height: 650px;*/
	}
	.home-body {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		margin-bottom: 50px;
	}
	.home-text {
		max-width: 300px;
	}
}
@media (max-width: 992px) {
	.home {
		margin-bottom: 110px;
	}
}
@media (max-width: 768px) {
	.home {
		height: 525px;
		padding: 20px 20px 20px 20px;
		margin-bottom: 80px;
	}
	.home-body {
		grid-gap: 15px;
		margin-bottom: 30px;
	}
	.home-title {
		max-width: 400px;
		font-size: 20px;
	}
	.home-body__right {
		grid-gap: 10px;
	}
	.home-text {
		font-size: 15px;
	}
	.home-link {
		font-size: 13px;
	}
	.home-link::after {
		width: 11px;
		height: 11px;
	}
}
@media (max-width: 576px) {
	.home {
		margin-bottom: 40px;
	}
	.home-title {
		font-size: 14px;
	}
	.home-text {
		font-size: 13px;
	}
	.home-link {
		font-size: 12px;
	}
}

.about-body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(0, 580px) 40px minmax(0, 800px);
	grid-template-columns: minmax(0, 580px) minmax(0, 800px);
	grid-gap: 20px 40px;
}
.about-body__img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}
.about-body__img img {
	-webkit-transition: -webkit-transform 0.75s;
	transition: -webkit-transform 0.75s;
	-o-transition: transform 0.75s;
	transition: transform 0.75s;
	transition: transform 0.75s, -webkit-transform 0.75s;
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
.about-body__img img:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.about-body__left {
	display: -ms-grid;
	display: grid;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	-ms-flex-line-pack: end;
	align-content: end;
}
.about-title {
	color: #656b6c;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.about-subtitle {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 130%;
	margin-bottom: 50px;
}
.about-body__right-block {
	position: relative;
	margin-bottom: 40px;
}
.about-body__right-text {
	line-height: 130%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 60px 120px 60px 100px;
	pointer-events: none;
}
.about-body__right-partners {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	grid-gap: 20px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.about-body__right-partners__img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
}
.about-body__right-partners__img img {
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.about-body__right-partners__img img:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
@media (max-width: 1300px) {
	.about-body__right-text {
		padding: 40px 80px 40px 60px;
	}
	.about-body__right-partners {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	}
}
@media (max-width: 1250px) {
	.about-title {
		margin-bottom: 10px;
	}
	.about-subtitle {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.about-body {
		grid-gap: 20px;
	}
	.about-body__right-block {
		margin-bottom: 20px;
	}
}
@media (max-width: 1050px) {
	.about-body__right-text {
		padding: 20px 20px 20px 20px;
	}
}
@media (max-width: 870px) {
	.about-body {
		-ms-grid-columns: minmax(0, 576px);
		grid-template-columns: minmax(0, 576px);
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.about-subtitle {
		font-size: 20px;
	}
	.about-body__right-partners {
		grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
		grid-gap: 13px;
	}
}
@media (max-width: 768px) {
	.about-title {
		font-size: 15px;
	}
	.about-subtitle {
		font-size: 16px;
	}
}
@media (max-width: 576px) {
	.about-title {
		font-size: 12px;
	}
	.about-body__right-partners {
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	}
}

.services {
	padding: 0;
}
.services-body {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	margin-bottom: 50px;
}
.services-title {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 25px;
}
.services-subtitle {
	max-width: 460px;
	line-height: 130%;
}
.services-btns {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	margin-bottom: 5px;
}
.services-swiper {
	width: 100%;
	padding: 0 calc(((100% - 1420px) / 2));
}
.services-card {
	display: -ms-grid;
	display: grid;
	width: 580px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.services-card__info {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 35px 40px;
}
.services-card__info::after {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.6 1.6001L8.48 2.7201L12.96 7.2001H0V8.8001H12.96L8.48 13.2801L9.6 14.4001L16 8.0001L9.6 1.6001Z' fill='white'/%3e%3c/svg%3e ");
	margin-bottom: 3px;
}
.services-card__name {
	max-width: 400px;
	color: #fff;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
}
.services-card__img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: -webkit-transform 0.65s;
	transition: -webkit-transform 0.65s;
	-o-transition: transform 0.65s;
	transition: transform 0.65s;
	transition: transform 0.65s, -webkit-transform 0.65s;
}
.services-card:hover .services-card__img,
.services-card:focus-visible .services-card__img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.services-pagination {
	display: none;
}
@media (max-width: 1540px) {
	.services-swiper {
		padding: 0 60px;
	}
}
@media (max-width: 1300px) {
	.services-title {
		margin-bottom: 10px;
	}
	.services-swiper {
		padding: 0 40px;
	}
}
@media (max-width: 768px) {
	.services-body {
		grid-gap: 10px;
		margin-bottom: 25px;
	}
	.services-title {
		font-size: 30px;
	}
	.services-swiper {
		padding: 0 20px;
	}
}
@media (max-width: 576px) {
	.services-title {
		font-size: 20px;
	}
	.services-card {
		width: 250px;
		height: 320px;
	}
	.services-card__info {
		padding: 25px 20px;
	}
	.services-card__info::after {
		width: 11px;
		height: 11px;
	}
	.services-card__name {
		font-size: 13px;
	}
	.services-btns {
		grid-gap: 10px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-bottom: 0;
		margin-top: 20px;
		padding: 0 20px;
	}
}

.contact-body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr minmax(0, 580px);
	grid-template-columns: 1fr minmax(0, 580px);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	margin-bottom: 50px;
}
.contact-title {
	color: #656b6c;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.contact-body__left {
	display: -ms-grid;
	display: grid;
	justify-items: start;
}
.contact-phone {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 10px;
}
.contact-email {
	font-weight: 600;
	line-height: 130%;
	margin-bottom: 30px;
}
.contact-download {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	color: #c9ae6a;
	font-weight: 600;
	font-size: 17px;
	line-height: 130%;
	text-transform: uppercase;
}
.contact-download:hover,
.contact-download:focus-visible {
	color: #fff;
}
.contact-download::after {
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7775 13.8674H2.22699C1.87423 13.8674 1.58743 14.1565 1.58743 14.507V15.3605C1.58743 15.7132 1.87649 16 2.22699 16H13.7729C14.1257 16 14.4125 15.7109 14.4125 15.3605V14.507C14.4193 14.1519 14.1303 13.8674 13.7775 13.8674ZM7.555 12.7226C7.68019 12.8478 7.84406 12.9115 8.00564 12.9115C8.08955 12.9116 8.17262 12.8949 8.25 12.8625C8.32738 12.8301 8.39751 12.7825 8.45628 12.7226L12.8307 8.34822C13.0788 8.10016 13.0788 7.69504 12.8307 7.44239L12.2253 6.83698C11.9772 6.58889 11.5721 6.58889 11.3194 6.83698L9.07079 9.08792V0.63956C9.07079 0.286771 8.78173 0 8.43126 0H7.57776C7.225 0 6.9382 0.28448 6.9382 0.63956V9.09018L4.68729 6.83925C4.4392 6.59118 4.03181 6.59118 3.78146 6.83925L3.17605 7.44465C2.92799 7.69272 2.92799 8.10013 3.17605 8.35048L7.555 12.7226Z' fill='%23C9AE6A'/%3e%3c/svg%3e ");
}
.contact-download:hover::after,
.contact-download:focus-visible::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7775 13.8674H2.22699C1.87423 13.8674 1.58743 14.1565 1.58743 14.507V15.3605C1.58743 15.7132 1.87649 16 2.22699 16H13.7729C14.1257 16 14.4125 15.7109 14.4125 15.3605V14.507C14.4193 14.1519 14.1303 13.8674 13.7775 13.8674ZM7.555 12.7226C7.68019 12.8478 7.84406 12.9115 8.00564 12.9115C8.08955 12.9116 8.17262 12.8949 8.25 12.8625C8.32738 12.8301 8.39751 12.7825 8.45628 12.7226L12.8307 8.34822C13.0788 8.10016 13.0788 7.69504 12.8307 7.44239L12.2253 6.83698C11.9772 6.58889 11.5721 6.58889 11.3194 6.83698L9.07079 9.08792V0.63956C9.07079 0.286771 8.78173 0 8.43126 0H7.57776C7.225 0 6.9382 0.28448 6.9382 0.63956V9.09018L4.68729 6.83925C4.4392 6.59118 4.03181 6.59118 3.78146 6.83925L3.17605 7.44465C2.92799 7.69272 2.92799 8.10013 3.17605 8.35048L7.555 12.7226Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}
.contact-body__right {
	display: grid;
}
.contact-city {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.contact-street {
	font-weight: 600;
	line-height: 130%;
}
.contact-map__wrapper {
	padding: 0 70px 70px 70px;
}
.contact-map {
	width: 100%;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
}
.contact-map iframe {
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	border-radius: 20px;
	overflow: hidden;
}
@media (max-width: 1550px) {
	.contact-map__wrapper {
		padding: 0 60px 60px 60px;
	}
}
@media (max-width: 1300px) {
	.contact-map__wrapper {
		padding: 0 40px 40px 40px;
	}
}
@media (max-width: 1250px) {
	.contact-title {
		margin-bottom: 10px;
	}
}
@media (max-width: 1050px) {
	.contact-body {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 25px;
	}
	.contact-phone {
		font-size: 35px;
	}
	.contact-city {
		font-size: 30px;
	}
	.contact-map {
		height: 400px;
	}
}
@media (max-width: 768px) {
	.contact-body {
		margin-bottom: 25px;
	}
	.contact-title {
		font-size: 15px;
	}
	.contact-email {
		margin-bottom: 15px;
	}
	.contact-phone {
		font-size: 30px;
	}
	.contact-city {
		font-size: 25px;
	}
	.contact-download {
		font-size: 15px;
	}
	.contact-download::after {
		width: 14px;
		height: 14px;
	}
	.contact-map__wrapper {
		padding: 0 20px 20px 20px;
	}
}
@media (max-width: 576px) {
	.contact-title {
		font-size: 12px;
	}
	.contact-phone {
		font-size: 25px;
	}
	.contact-city {
		font-size: 20px;
	}
	.contact-download {
		font-size: 12px;
	}
	.contact-download::after {
		width: 11px;
		height: 11px;
	}
}


.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: rgba(29, 33, 34, 0.8);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	z-index: 12;
	display: none;
	padding: 20px;
}
.popup--active {
	display: block;
}
.popup__close {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 35px;
	right: 20px;
}
@media screen and (max-width: 600px) {
	.popup__close {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}
.popup__close:hover {
	cursor: pointer;
}
.popup__close:hover::before, .popup__close:hover::after {
	background-color: #fff;
}
.popup__close::before, .popup__close::after {
	content: "";
	width: 100%;
	height: 3px;
	display: block;
	background: #1D2122;
	position: absolute;
	left: 0;
	top: calc(50% - 1.5px);
	transition: 0.3s background-color;
}
.popup__close::before {
	transform: rotate(45deg);
}
.popup__close::after {
	transform: rotate(-45deg);
}
.popup__close--mobile{
	display: none;
}
@media screen and (max-width: 600px) {
	.popup__close--mobile--outside::before, .popup__close--mobile--outside::after {
		background: #656B6C;
		height: 2px;
	}
	.popup__close--mobile--outside{
		top: 10px;
	}
	.popup__close--mobile{
		display: flex;
	}
	.popup__close--desktop{
		display: none;
	}
}
.popup__wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.popup__container {
	background: #141515;
	max-width: 460px;
	width: calc(100% - 40px);
	border-radius: 20px;
	max-height: 90%;
	height: -moz-max-content;
	height: max-content;
	padding: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	overflow-x: hidden;
}
@media screen and (max-width: 600px) {
	.popup__container {
		padding: 30px 20px;
	}
}
.popup__box {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media screen and (max-width: 600px) {
	.popup__box {
		gap: 20px;
	}
}
.popup__block {
	display: flex;
	flex-direction: column;
	gap: 25px;
}
@media screen and (max-width: 600px) {
	.popup__block {
		gap: 15px;
	}
}

.input__label {
	font-family: var(--font-accent);
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
	color: #fff;
}
.input__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.input__header:not(:last-child) {
	margin: 0 0 30px 0;
}
.input__header--small--margin:not(:last-child) {
	margin: 0 0 20px 0;
}
.input__item {
	width: 100%;
	height: 53px;
	padding: 20px 35px;
	border: 1px solid #434444;
	border-radius: 500px;
	font-family: var(--font-accent);
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	background: transparent;
	color: var(--color-white);
	transition: 0.3s border-color;
}
.input__item::-moz-placeholder {
	color: var(--color-grey);
}
.input__item::placeholder {
	color: var(--color-grey);
}
.input__item:hover, .input__item:focus {
	border-color: var(--color-white);
}
.input__item.error {
	border-color: #FF7F7F;
}

.register-wrapper{
	display: grid;
	grid-template-columns: repeat(2,minmax(0,1fr));
	gap: 20px;
}

.register-link{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	fill: #fff;
	color:#fff;

	width: 100%;
	height: 300px;

	background:linear-gradient(180deg, rgba(20, 21, 21, 0.30) 0%, rgba(20, 21, 21, 0.50) 100%), url("../../assets/images/register-bg.jpg") center center/cover no-repeat;
	border-radius: 20px;

	padding: 20px;
}

.register-link--legal{
	background:linear-gradient(180deg, rgba(20, 21, 21, 0.30) 0%, rgba(20, 21, 21, 0.50) 100%), url("../../assets/images/register-legal-bg.jpg") center center/cover no-repeat;
}

.register-link__text{
	font-family: var(--font-accent);
	color:#fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 1;

	text-transform: uppercase;
}

.register-link__icon{
	width: 18px;
	height: 18px;
	flex-shrink: 0;
	display: block;

	transform: rotate(180deg);

	transition: .3s transform;
}

.register-link:hover .register-link__icon{
	transform: translateX(5px) rotate(180deg);
}

@media screen and (max-width: 600px) {
	.register-wrapper{
		grid-template-columns: minmax(0,1fr);
	}
	.register-link{
		height: 180px;

		align-items: flex-end;
		justify-content: flex-start;
	}
	.register-link__text{
		font-size: 14px;

		max-width: 140px;
	}
	.register-link__icon{
		width: 10px;
		height: 10px;
	}
}

.tabs__content{
	display: none;
}

.tabs__content.active{
	display: block;
}

.tabs__nav{
	display: flex;
	align-items: center;
	gap: 15px;

	margin: 0 0 40px 0;
}

.tabs__link{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px 10px;
	border: 1px solid #434444;

	font-size: 18px;
	font-weight: 600;
	color: #656B6C;
	text-transform: uppercase;
	border-radius: 500px;

	transition: .3s border-color, .3s color;
}

.tabs__link.active{
	border-color: var(--accent-color);
	color: #fff;
}

@media screen and (max-width: 600px) {
	.tabs__link{
		font-size: 13px;
	}
	.tabs__nav{
		margin: 0 0 15px 0;
	}
}