@font-face {
    font-family: 'Nekst Semi';
    src: url('../../fonts/Nekst/Nekst-Semibold/Nekst-SemiBold.woff2') format('woff2'),
        url('../../fonts/Nekst/Nekst-Semibold/Nekst-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nekst';
    src: url('../../fonts/Nekst/Nekst-Medium/Nekst-Medium.woff2') format('woff2'),
        url('../../fonts/Nekst/Nekst-Medium/Nekst-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nekst';
    src: url('../../fonts/Nekst/Nekst-Regular/Nekst-Regular.woff2') format('woff2'),
        url('../../fonts/Nekst/Nekst-Regular/Nekst-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nekst';
    src: url('../../fonts/Nekst/Nekst-Bold/Nekst-Bold.woff2') format('woff2'),
        url('../../fonts/Nekst/Nekst-Bold/Nekst-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

