:root {
  --main-font: "Inter", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-wrapper__content {
  flex-grow: 1;
}

body {
  background-color: #16151c;
}

.text {
  font-family: var(--main-font);
}
.text--base {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.text--middle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.text--center {
  text-align: center;
}
.text--white {
  color: #fff;
}
.text--gradient {
  background: linear-gradient(90deg, #949efd, #954fff, #bb70ff, #56a4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-family: "Prosto One", sans-serif;
}
.title--small {
  font-size: 22px;
  font-weight: 400;
}
.title--base {
  font-size: 48px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .title--base {
    font-size: 34px;
  }
}
.title--white {
  color: #fff;
}
.title--grey {
  color: #CACACA;
}
.title--center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title__desktop {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7px;
  width: 100%;
}
.button--buy {
  width: 200px;
  height: 47px;
  background: linear-gradient(2deg, #0b729f -108.41%, #7302ee -12.71%, #00b3ff 98.62%, #03b0fb 98.62%);
  border-radius: 14px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .button--buy {
    width: 130px;
    height: 30px;
    font-size: 14px;
    text-transform: unset;
  }
}
.button--buy::before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 16px;
  border: 1px solid #364ea4;
}
.button--buy::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  display: block;
  border-radius: 35px;
  background: rgba(4, 166, 236, 0.54);
  filter: blur(27px);
  z-index: 1;
}
.button--base {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-font);
  height: 47px;
  max-width: 180px;
  padding: 0 27px;
}
.button--transparent {
  border-radius: 14px;
  border: 1px solid #8563ab;
  color: #fff;
}
.button__icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.button__icon--blue {
  fill: #4d81ff;
}
.button__icon--pink {
  fill: #fd01d7;
}
.button__icon--purple {
  fill: #8d61f6;
}
.button__text {
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger {
  width: 20px;
  height: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger:hover {
  cursor: pointer;
}
.burger__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.burger__item:nth-child(1) {
  transition: 0.3s transform, 0.3s top;
}
.burger__item:nth-child(2) {
  top: calc(50% - 1px);
  transition: 0.3s left, 0.3s opacity, 0.5s visibility;
}
.burger__item:nth-child(3) {
  top: calc(100% - 2px);
  transition: 0.3s transform, 0.3s top;
}
.burger--active .burger__item {
  top: 6px;
}
.burger--active .burger__item:nth-child(1) {
  transform: rotate(45deg);
}
.burger--active .burger__item:nth-child(2) {
  left: -10px;
  opacity: 0;
  visibility: hidden;
}
.burger--active .burger__item:nth-child(3) {
  transform: rotate(-45deg);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__logo {
  height: 30px;
}
@media screen and (min-width: 1025px) {
  .header__burger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
    -webkit-backdrop-filter: blur(23px);
            backdrop-filter: blur(23px);
    top: 75px;
    left: 0;
    padding: 30px 15px;
    display: none;
  }
  .header__nav--active {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__wrapper {
  height: 84px;
  display: flex;
  align-items: center;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
}
@media screen and (max-width: 1024px) {
  .header__wrapper {
    height: 75px;
  }
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 28px;
}
@media screen and (max-width: 1024px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__link {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #cacaca;
}

.hero {
  min-height: calc(100vh - 84px);
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .hero::after {
    content: "";
    height: 900px;
    width: 900px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("/assets/images/hero/hero-bg.png") right top/contain no-repeat;
  }
}
.hero__wrapper {
  padding: 50px 0 75px 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hero__wrapper {
    padding: 30px 0 44px 0;
  }
}
.hero__wrapper::before {
  content: "";
  width: 360px;
  height: 400px;
  display: block;
  position: absolute;
  left: -217px;
  top: -70px;
  z-index: 1;
  border-radius: 400px;
  background: rgba(81, 0, 213, 0.68);
  filter: blur(238px);
}
.hero__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 46px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .hero__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
  }
}
.hero__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero__title {
  font-family: "Prosto One", sans-serif;
  font-size: 82px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 52px;
    line-height: 0.8;
  }
}
.hero__subtitle {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 40px;
  color: #cacaca;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 27px;
    line-height: 0.8;
  }
}
.hero__text {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--main-font);
  line-height: 1.2;
  color: #fff;
  margin: 20px 0 0 0;
}
.hero__video, .hero__buttons {
  margin: 40px 0 0 0;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .hero__buttons {
    margin: 30px 0 0 0;
    flex-wrap: wrap;
    gap: 10px 5px;
  }
}
.hero__button {
  flex-grow: 1;
  max-width: none;
  width: auto;
}
@media screen and (max-width: 768px) {
  .hero__button:nth-child(1) {
    width: 100%;
  }
}
.hero__video {
  height: 220px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero__video {
    display: none;
  }
}
.hero__timer {
  display: flex;
  align-items: flex-end;
}
.hero-timer {
  width: 100%;
}
.hero-timer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero-timer__wrapper::after {
    content: "";
    width: 345px;
    height: 160px;
    display: block;
    border-radius: 343.689px;
    background: rgba(186, 27, 241, 0.5);
    filter: blur(80px);
    position: absolute;
    z-index: -1;
    right: 30px;
    bottom: 40px;
  }
}
.hero-timer__title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  max-width: 200px;
  width: 100%;
  text-transform: uppercase;
}
.hero-timer__text {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--main-font);
  color: #fff;
}
.hero-timer__list {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero-timer__list::before {
    content: "";
    width: 280px;
    height: 116px;
    display: block;
    position: absolute;
    top: 28px;
    right: 6px;
    border-radius: 281px;
    background: rgba(124, 99, 175, 0.25);
    filter: blur(30px);
  }
}
.hero-timer__list-item {
  padding: 10px 0;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 768px) {
  .hero-timer__list-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}
.hero-timer__wrapper {
  padding: 10px 38px 90px 38px;
  border-radius: 20px;
  border: 2px solid #563c72;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
}
@media screen and (max-width: 768px) {
  .hero-timer__wrapper {
    padding: 22px 15px;
  }
}
.hero-timer__footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .hero-timer__footer {
    gap: 20px 5px;
  }
}
.hero-timer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #fff;
  height: 43px;
  font-family: var(--main-font);
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.hero-timer__button .icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-timer__button--big {
  grid-column: 1/-1;
}
.hero-timer__button--card {
  font-family: "Rubik", sans-serif;
}
.hero-timer__button--black {
  border-color: #201d2d;
  background-color: #201d2d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
}
.hero-timer__button span {
  font-weight: 600;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.video__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #cd9eff;
  background: #000;
  overflow: hidden;
}
.video__button {
  position: absolute;
  width: 90px;
  height: 90px;
  background: url("/assets/images/icons/video-button.svg") center center/contain no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timer__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
}
@media screen and (max-width: 768px) {
  .timer__header {
    gap: 20px;
  }
}
.timer__number {
  font-family: var(--main-font);
  font-size: 56px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .timer__number {
    gap: 20px;
    font-size: 44px;
  }
}
.timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer__text {
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.timer__line {
  margin: 24px 0 0 0;
}
.timer-line {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.timer-line__wrapper {
  position: relative;
}
.timer-line__wrapper::before {
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  display: block;
  border-radius: 41px;
  background: linear-gradient(0deg, rgba(69, 38, 93, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 3px 0px #8a17ff;
  left: -2px;
  top: -2px;
  position: absolute;
}
.timer-line__text {
  font-family: var(--main-font);
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.timer-line__row {
  width: 80%;
  height: 10px;
  border-radius: 41px;
  background: linear-gradient(270deg, #a21cd1 0.05%, #1c2434 99.96%);
}

.partners {
  overflow: hidden;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.partners__title {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.partners__header {
  margin: 0 0 28px 0;
}
.partners__wrapper {
  padding: 64px 0;
}
.partners-slider {
  overflow: visible;
}
.partners-slider__item {
  height: 45px;
  width: unset;
}
.partners-slider__img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__footer {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .section__footer {
    margin: 20px 0 0 0;
  }
}
.section__wrapper {
  padding: 70px 0 100px 0;
}
@media screen and (max-width: 768px) {
  .section__wrapper {
    padding: 40px 0;
  }
}
.section__wrapper--what {
  padding: 160px 0 190px 0;
}
@media screen and (max-width: 1024px) {
  .section__wrapper--what {
    padding: 50px 0 60px 0;
  }
}
.section__wrapper--roadmap {
  padding: 70px 0 50px 0;
}
@media screen and (max-width: 768px) {
  .section__wrapper--roadmap {
    padding: 60px 0 50px 0;
  }
}
.section__wrapper--team {
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .section__wrapper--team {
    padding: 50px 0;
  }
}
.section__wrapper--faq {
  padding: 80px 0 200px 0;
}
@media screen and (max-width: 1024px) {
  .section__wrapper--faq {
    padding: 40px 0 20px 0;
  }
}
.section__wrapper--contacts {
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .section__wrapper--contacts {
    padding: 70px 0 23px 0;
  }
}
.section__header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section__header:not(:last-child) {
  margin: 0 0 45px 0;
}
@media screen and (max-width: 768px) {
  .section__header:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
.section__header--margin--big:not(:last-child) {
  margin: 0 0 70px 0;
}
@media screen and (max-width: 768px) {
  .section__header--margin--big:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .section__header {
    gap: 15px;
  }
}
.section__subtitle {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}
.section-contacts {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .section-contacts::before {
    content: "";
    width: 970px;
    height: 1150px;
    display: block;
    border-radius: 50%;
    background: rgba(116, 31, 255, 0.27);
    filter: blur(200px);
    position: absolute;
    bottom: -500px;
    right: -600px;
  }
}
.section-what {
  position: relative;
  overflow: hidden;
}
.section-what__content {
  max-width: 607px;
  width: 100%;
}
@media screen and (max-width: 1270px) {
  .section-what__content {
    max-width: 100%;
  }
}
.section-what__logo {
  position: absolute;
  top: 70px;
  right: calc(50% - 620px);
}
@media screen and (max-width: 1270px) {
  .section-what__logo {
    display: none;
  }
}
.section-what__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 600px;
  z-index: -1;
}
.section-what__img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1270px) {
  .section-what__img {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% + 50px);
    transform: translateX(-25px);
  }
  .section-what__img img {
    width: 100%;
  }
}
.section-roadmap {
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .section-roadmap::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("/assets/images/roadmap/bg.png") center center/cover no-repeat;
  }
}
.section-team {
  overflow: hidden;
  position: relative;
}
.section-team::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: url("/assets/images/team/bg.png") center center/cover no-repeat;
}
.section-start {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .section-start::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("/assets/images/start/bg.png") center center/cover no-repeat;
  }
}

.start__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .start__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.start-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  padding: 28px 13px;
  border-radius: 20px;
  border: 2px solid #ca9cfc;
  background: linear-gradient(347deg, rgba(13, 13, 13, 0.14) 17.92%, rgba(120, 95, 135, 0.16) 80.79%);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
}
.start-item__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-item__img {
  width: 250px;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

.roadmap-slider {
  counter-reset: number;
}
.roadmap-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.roadmap-slider__item {
  max-width: 400px;
  width: 100%;
  counter-increment: number;
  position: relative;
  padding-top: 80px;
}
.roadmap-slider__item::before {
  content: "0" counter(number);
  font-family: "Prosto One";
  font-size: 125px;
  line-height: 1;
  display: block;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c58fff;
  position: absolute;
  left: 0;
  top: 0px;
}
@media screen and (max-width: 768px) {
  .roadmap-slider__item::before {
    font-size: 74px;
    top: -30px;
  }
}
@media screen and (max-width: 500px) {
  .roadmap-slider__item {
    width: calc(100% - 20px);
    padding-top: 20px;
  }
}
.roadmap-item {
  height: auto;
}
.roadmap-item__wrapper {
  height: 100%;
  padding: 16px 12px 30px 12px;
  border-radius: 20px;
  border: 2px solid #563c72;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
}
.roadmap-item__header {
  margin: 0 0 20px 0;
}
.roadmap-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.roadmap-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.roadmap-list__item::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
}

.slider-scrollbar {
  border-radius: 41px;
  background: linear-gradient(0deg, rgba(182, 196, 220, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0px 0px 3px 0px #975afb;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .slider-scrollbar {
    margin: 20px 0 0 0;
  }
}
.slider-scrollbar__drag {
  height: 9px;
  border-radius: 40px;
  background: linear-gradient(270deg, #7623d4 0.05%, #b388e1 99.96%);
}

.team-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.team-slider__item {
  max-width: 295px;
  width: 100%;
  height: auto;
}
.team-item__header {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: center;
}
.team-item__footer {
  margin: auto 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.team-item__title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.team-item__position {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ababab;
}
.team-item__img {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.team-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-item__wrapper {
  height: 100%;
  padding: 0 16px 30px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.team-item__wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 70px);
  bottom: 0;
  left: 0;
  border-radius: 20px;
  border: 2px solid #563c72;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(#af1cea, #645fff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.social-icon--big {
  width: 50px;
  height: 50px;
}
.social-icon__img {
  width: 20px;
  height: 20px;
  fill: #26202f;
}
.social-icon__img--tg {
  transform: translate(-1px, 1px);
}

.faq {
  position: relative;
}
.faq__img {
  width: calc(100% + 65px);
  transform: translate(-50px);
  height: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 1025px) {
  .faq__img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 700px;
    z-index: -1;
    transform: translate(0);
    margin-top: 0;
  }
  .faq__img img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: right center;
       object-position: right center;
  }
}
@media screen and (max-width: 1024px) {
  .faq__img {
    position: relative;
  }
  .faq__img::before {
    content: "";
    width: 255px;
    height: 190px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(138, 88, 255, 0.43);
    filter: blur(70px);
  }
}
.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq__content {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #563c72;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
  max-width: 675px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.faq__content::before {
  content: "";
  position: absolute;
  width: 335px;
  height: 220px;
  left: 10px;
  top: 56px;
  border-radius: 335px;
  background: rgba(53, 217, 253, 0.8);
  filter: blur(110px);
  z-index: -1;
}
.faq__content::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 160px;
  right: 0;
  bottom: 60px;
  border-radius: 343.689px;
  background: rgba(186, 27, 241, 0.5);
  filter: blur(80px);
  z-index: -1;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-item {
  padding: 14px 4px;
  border-bottom: 1px solid #fff;
}
.faq-item--active .faq-item__content {
  display: block;
}
.faq-item--active .faq-item__icon::after {
  opacity: 0;
}
.faq-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.faq-item__title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .faq-item__title {
    font-size: 16px;
  }
}
.faq-item__content {
  margin-top: 14px;
  display: none;
}
.faq-item__icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}
.faq-item__icon::before, .faq-item__icon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  display: block;
  background-color: #fff;
  left: calc(50% - 6px);
  top: calc(50% - 1px);
  transition: 0.3s opacity;
}
.faq-item__icon::after {
  transform: rotate(90deg);
}

.contacts__wrapper {
  padding: 18px 18px 18px 70px;
  border-radius: 20px;
  border: 2px solid #563c72;
  background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
  -webkit-backdrop-filter: blur(23px);
          backdrop-filter: blur(23px);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .contacts__wrapper {
    padding: 36px 10px 18px 10px;
  }
}
.contacts__wrapper::before {
  content: "";
  width: 335px;
  height: 220px;
  border-radius: 335px;
  background: rgba(53, 217, 253, 0.8);
  filter: blur(110px);
  position: absolute;
  display: block;
  left: 10px;
  top: 56px;
  z-index: -1;
}
.contacts__wrapper::after {
  content: "";
  width: 345px;
  height: 160px;
  border-radius: 335px;
  background: rgba(186, 27, 241, 0.5);
  filter: blur(80px);
  position: absolute;
  display: block;
  left: calc(50% - 150px);
  bottom: 115px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .contacts__wrapper::after {
    left: unset;
    right: 0;
    top: 350px;
    bottom: unset;
  }
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 80px;
}
@media screen and (max-width: 1024px) {
  .contacts__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
  }
}
.contacts__block {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}
.contacts__map {
  height: 470px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 3.562px 3.562px 8.905px 0px rgba(0, 0, 0, 0.1);
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .contacts__map {
    height: 230px;
  }
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.contacts-list__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts-list__sublist {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 14px;
  margin-left: 20px;
  border-left: 1px solid rgba(252, 211, 206, 0.8);
}
@media screen and (max-width: 1024px) {
  .contacts-list__sublist {
    margin-left: 0;
  }
}
.contacts-list__link {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .contacts-list__link {
    font-size: 18px;
  }
}
.contacts-list__text {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: 0.14px;
  line-height: 17px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .social-list__item--title {
    width: 100%;
  }
}
.social-list__title {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  .social-list__title {
    font-size: 18px;
  }
}/*# sourceMappingURL=index.css.map */